[2018-07-27 12:37] sprnza commented on #538
The link must look like this `[link](1)` in md

[2018-07-27 12:37] #538 closed

[2018-07-27 15:44] gisikw commented on #517
Looks like vimwiki forcibly sets the filetype both when setting up a new wiki buffer, and when entering a wiki buffer, with no explicit way to override this. And, in fact, if you do explicitly override it, it seems to break some keybindings (at least, backspace stopped working for me).

However, you can hook into the FileType event to change the syntax without breaking functionality, it seems:
`au

[2018-07-29 13:14] Nudin opened #541 "HTML-export of bold text creates empty span"
`
aaa *bbb* ccc
`
creates in the HTML-export:
`
aaa <span id="foo-bbb"></span><strong id="bbb">bbb</strong> ccc
`
Is this on purpose?

[2018-08-01 14:38] Nudin opened #542 "'I' at beginning of sentence creates bullet point in HTML"
[code]
will result in the HTML:

-  am Lorem ipsum dolor sit amet, consectetur adipisici elit,
sed eiusmod tempor incidunt ut labore et dolore magna aliqua.

This is very annoying since it basically makes it impossible to write english texts in vimwiki and export them to HTML.

[2018-08-01 14:41] Nudin commented on #542
Ideas to solve this:
- make it possible to disable alphabetically numbered lists
- Don't convert to list if there is only one bullet point
- Don't convert if the previous line is neither empty nor stating with an list-indicator

[2018-08-01 14:45] Nudin commented on #540
Hi, your vim likley crashed in the past leaving a swap-file. Please see here: https://github.com/vimwiki/vimwiki/issues/534#issuecomment-406817735

A patch has been pushed to the dev-branch and will be part of the master-branch and the next release soon.

[2018-08-01 14:45] #540 closed

[2018-08-02 17:39] NausX opened #543 ":VimwikiDiaryIndex not opening diary index for the "current" wiki."
The next quote is from the manual.

    :VimwikiDiaryIndex*
        Open diary index file of the current wiki.

So, according to this, it *should* open the diary index for the *current wiki* but it's not the case, it keeps opening the diary index for the *first wiki* in the list. *Just a remark, It doesn't say what should happen if you're not in a wiki, which I think, if it was working. should fal

[2018-08-03 00:47] Nausx commented on #532
I just get back to the documentation and I realized my mistake. I don't know why but, from a long time ago, I had in my mind that I could add a dictionary of `vimwiki-local-options` without path, extension etc. Then register that dictionary as the first in `g:vimwiki_list` so that would be the default local options for all other wikies, including temporary. wiki.the first dictionary of the `g:vimw

[2018-08-03 00:47] #532 closed

[2018-08-07 16:40] masterofallarts opened #544 "branches invisible"
Probably just a novice’s problem.
Want to check out vimwiki’s dev branch with Plug:
`Plug 'vimwiki/vimwiki', { 'branch' : 'dev' }`

On PlugUpdate, I am getting
`fatal: invalid reference: dev`

Interestingly, using
`git fetch` and
`git branch -a`
in the directory Plug stores vimwiki in, I see only master:

`git branch -a`
`* master`
`  remotes/origin/HEAD -> origin/master`
`  remotes/origin/master`

[2018-08-08 17:10] BonaBeavis commented on #515
Simple solution would be to grep with denite for todo items.

[2018-08-09 19:30] EinfachToll commented on #542
I can't confirm the issue. Was this the exact text you put into the wiki file? If yes, it's clearly a but. `I` alone  should not be recognized as bullet point, `I)` should, but also not as bullet point, but as a numbered list item.

[2018-08-10 15:54] Nudin commented on #542
Yes.

But it seems that this bug only occurs in my not up to date and divergent branch, I'm currently using. I will try to rebase and check if the bug is vanished then.

[2018-08-10 17:01] Doshirae opened #545 "Why can't I bold inside a word ?"
Hi

Currently, only whole words can be bolded/emphasized
 eg : if I want to write te**s**t, writing te\*s\*t doesn't work
I tried to put a zero width space in between the \* but that doesn't work either :/

Is there a reason for that ?

[2018-08-12 15:41] rawcoder opened #546 "Vimwiki2HTML causes (neo)vim to freeze for a few seconds"
Using the default converter, executing `:Vimwiki2HTML` on a ~600 lines .wiki file causes neovim to freeze for ~5 seconds.

Maybe run it asynchronously on neovim and vim8?

[2018-08-13 19:16] EinfachToll commented on #545
Well, if you use regular characters like \* in a text as "meta characters", that is, for formatting, you always have the trade-off between being able to format everything you want to format and being able to still use \* in a normal way. I can't give you a convincing argument why Vimwiki behaves this way other than it's the way it is and it's difficult to change.

[2018-08-13 23:41] gr4kk3r opened #547 "Help with opening a *.tex link with <CR>"
I know that I need to modify this someway to open .tex files from vimwiki, but I can't figure it out. I've been doing `:e file.tex` for years and years because I can't figure this out. Anyone able to get this to work for them?

[code]

[2018-08-14 04:09] gr4kk3r commented on #547
Oh my god. I'm stupid as hell. Just need to change the `local:` link to `vlink:`  I'll just leave this here is someone else has a brain fart.

[2018-08-14 04:09] #547 closed

[2018-08-16 16:05] Wolfereign commented on #318
To add to this strikethrough just highlights in purple and escape backslash doesn't work.

[code]

[2018-08-18 16:31] Kwask94 opened #548 "Only ww ws .. works now -- help"
Hello ,
so I did clean install for this great tool
and made so configration for it, in addition to trying to make it end with .md
[code]
thats my settings in vimrc, however, enter and backspace navgation doesnt work

I want to work with markdownn insted of vimwiki and I want to link headings to other md files like ~/Documents/aug/notes/index.md

[2018-08-18 16:53] imagnma commented on #548
so I change it back deleting the md syntax and still the enter won't work and i cant create links

[2018-08-18 17:08] imagnma commented on #548
Please Help

[2018-08-20 19:32] Doshirae opened #549 "Highlighting and folds are acting super weird (+ tagbar involved somehow)"
So, I got some really weird behavior with syntax highlighting and folds in my wiki files

First, when I open a wiki file, I got a messy syntax highlighting, especially visible with links (It happens also on markdown i think, so it might be something doing with my vimrc)
![Syntax highlighting when first opening a file](https://user-images.githubusercontent.com/19783971/44361965-dbe92a80-a4bf-11e8-8

[2018-08-20 19:44] Doshirae commented on #549
I tried to erase my vimrc to keep only vimwiki to see if it was some sort of conflict with my vimrc, and it is, syntax higlighting and folds works nice now

I'm trying to find what makes this bug

[2018-08-20 19:55] Doshirae commented on #549
Ok it was messing up with Rainbow parentheses

And when I source vimrc, folds are disabled because I think it gets back to my `foldmethod=marker`

[2018-08-22 14:56] lllama commented on #427
Does not appear to work for me. gvim 8 in Windows

[2018-08-23 09:40] Linkandzelda opened #550 "Renaming files does not update the reference links (I'm NOT using markdown)"
I've seen similar issues posted here where when using `<Leader>wr` to rename the current wiki file, the links references in other files are not updated *when using markdown syntax*. However I have the same issue but I'm using the default vimwiki syntax.

[2018-08-23 21:21] indeedwatson opened #551 "Table goes to next line automatically when adding text"
This behavior started happening some time in recent weeks, not sure exactly when or why:

If I have this table
[code]
And I enter text in one of the rows, I expect this:
[code]
Instead I get:
[code]

Why is this happening and how can I make it not break line automatically?

[2018-08-25 15:57] #548 closed

[2018-08-28 23:45] hringriin opened #552 "tables de-format with certain characters"
I have a table like this:

[code]

If I now add ...
[code]
... as a new last row of the table, I get the following:

[code]

Another example would be:

[code]

I cannot prevent the table from being formated this way. I guess those double brackets and curly braces are causing the trouble. Now, is this a failure of mine being to blind to see some configuration part, is this simply not possible or is

[2018-08-30 06:35] D1mon opened #553 "table align (left, center, right)"
like dhruvasagar/vim-table-mode

[2018-08-30 17:16] peterhoejlundandersen commented on #357
I've just tried the same thing. But it is not working. I have my custom snippets for VimWiki in a folder, and they are successfully called - i can se that by showing a list (ctrl-tab).
But are not triggered bye <tab>.
My `.vimrc`:

[code]

Any suggestions?

[2018-08-31 17:06] jfishe opened #555 "automatic_nested_syntaxes conflicts with nested_syntaxes"
In Vim 8.1.318

[code]

initially produces the what you'd expect, when no code blocks are present. However, when they are:

[{'template_default': 'default', 'path_html': 'C:\Users\fishe/Documents/vimwiki_html/html', 'auto_toc': 1, 'auto_tags': 1, 'index': 'main', 'path': 'C:\Users\fishe/Documents/vimwiki/', 'nested_syntaxes': {'powershell': 'ps1', 'DOS': 'dosbatch', 'bash': 'sh', 'dos': 'dos', 'py

[2018-09-03 05:12] llinfeng commented on #69
## Short reply:
@peterhoejlundandersen I am eager to see if there would emerge a parser + compiler that handles VimWiki syntax well enough to turn an easily typed `*.wiki` document into a "nice-looking" `*.pdf` document. Yet, I would also like to thank @EinfachToll for having made `vimwiki` superb ==> I don't see a `*.md` equivalent that can be as easy-to-use as [`vimwiki`](https://github.com/vimw

[2018-09-03 05:12] #69 closed

[2018-09-06 16:02] stupidus89 commented on #357
@peterhoejlundandersen There is a typo in your config. It should be `let g:vimwiki_table_mappings = 0`

[2018-09-10 08:04] shiro commented on #461
Is there any better way to fix this other than forking atm?
Both vimwiki and pandoc are really awesome, so it would be nice to be able to use them both on md files.

[2018-09-12 20:07] Nudin opened #556 "File is emptied when used with autotoc and vim-gnupg"
When using vimwiki and [vim-gnupg](https://github.com/jamessan/vim-gnupg) as described in #374 and you have `vimwiki-option-auto_toc` enabled and have a TOC in an encrypted wiki-file the file content will be lost – except for the first line – when leaving the file.

[2018-09-13 22:29] hollasch commented on #523
See `:help vimwiki-syntax-headers`. By default, all styles are the same. If, for example, you execute `:hi VimwikiHeader2 guifg=#00ffff`, you'll get cyan level-2 headers.

[2018-09-14 00:42] michaelainsworth opened #558 "Multiple wikis not working"
I like to have a single wiki for personal organisation, and a per-project wiki. E.g., my "~/.vim/vimrc" file contains:

    let global_wiki = [{'path':'~/Organisation/', 'ext':'.txt'}]
    if !exists('g:vimwiki_list')
        let g:vimwiki_list = global_wiki
    else
        let g:vimwiki_list += global_wiki
    endi

And in "~/some_project/.vimrc" I have:

    let project_wiki = [{'path': 'doc',

[2018-09-14 01:10] Nudin commented on #558
Try putting `call vimwiki#vars#init()` at the end of the `~/some_project/.vimrc`-file. (See https://github.com/vimwiki/vimwiki/issues/510#issuecomment-395651932)

[2018-09-14 11:09] michaelainsworth commented on #558
That solved it, thank you! Perhaps this should be in the manual?

[2018-09-14 11:09] #558 closed

[2018-09-14 16:38] Nudin commented on #558
It is/will be: https://github.com/vimwiki/vimwiki/commit/44a1f3a6f36d9695029a5134a8ffd2809228d5e9

[2018-09-14 18:51] peterhoejlundandersen commented on #461
@kwrobert - how did you get it to work?
I've forked and changed it two places in the plugin > vimwiki.vim file from `vimwiki` to `vimwiki.markdown` - but still only vimwiki is set.
Can you guide me?

[2018-09-14 19:02] peterhoejlundandersen commented on #461
I just added this: `au FileType vimwiki set filetype=vimwiki.markdown` to my .vimrc and now it is working. PreVim in VimWiki file!

[2018-09-15 09:44] peterhoejlundandersen commented on #461
I have set this op, so i can use markdown snippets and markdown preview with VimWiki.
It's working as it should:

`au FileType vimwiki set filetype=vimwiki.markdown`

[2018-09-15 16:50] peterhoejlundandersen commented on #357
Thanks @stupidus89! It is working now.

[2018-09-16 21:54] BenjaminBrandtner opened #560 "Error trying to open a file with spaces on Windows"
# Problem
## Situation
You're trying to link to a local file with markdown syntax. When you press enter you want it to open with the correct program. This is how you would do it:

[code]

This works fine, except on Windows if the filename or the path leading up to it (including the path that this vimwikis base folder is at) has any spaces. In that case Windows can't parse the path correctly and sp

[2018-09-18 22:50] orev commented on #355
I was able to get this effect by calling :VimwikiIncrementListItem to start the item on the first state of doneness.  It does what I want in that it does also affect the parent showing it also has a status.

This is sufficient for me, so I will leave it up to you if you want to implement further to use a different state that does not affect the parent status.

[2018-09-19 15:48] Holzhaus commented on #466
I had the same issue and had to delete the swapfile manually to fix the issue.

[2018-09-19 16:54] Nudin commented on #466
Should be fixed in the dev-branch with 2185815b0

[2018-09-19 16:54] #466 closed

[2018-09-24 23:55] klivan opened #565 "Error detected while processing function vimwiki#html#Wiki2HTML[1]..<SNR>127_convert_file[109]..<SNR>127_get_html_template"
`:Vimwiki2HTML` shows an error
[code]
This file exists:
[code]
also, after finishing this command I can see output in `/Users/user/vimwiki_html/` but, it has 0 size:
[code]
Tested with `vim version 8.1.400` on MacOS, on two different laptops but with the same config. Also, on Linux the same config works perfectly.

Does anyone else have this issue or at least can recommend something?

[2018-09-25 16:48] MarkQueppet commented on #550
I'm having the same problem, but ONLY if I change the default directory to something like:

`let g:vimwiki_list = [{'path': '~/notes/''}]`

If I remove that line and build a wiki in the default `~/vimwiki/ ` location, then it works fine. So I'm thinking it might be something with the rename function where it is grabbing the path.

I'm on Windows too, so I'm wondering if that might have something t

[2018-09-27 03:13] matt-snider commented on #367
It would be nice if this was compatible with other common markdown flavours - e.g. [GitLab](https://docs.gitlab.com/ee/user/markdown.html#header-ids-and-links) and [GitHub](https://help.github.com/articles/basic-writing-and-formatting-syntax/#section-links).

Currently `# My header` can only be linked to properly with `[Some label](#My header)` (instead of `#my-header`)

[2018-09-27 03:29] WillDHB opened #566 "Feature request: Automatically add bullet when moving to new line after multi-line list item"
Ordinarily, if you create a list with bullets, e.g.:

* First
* Second
* Third

...when you hit enter after the third line, the next line will automatically be indented and start with a matching bullet.  However, if you have a long item that uses hard line wrapping, when you move on to the next line, you won't get a bullet inserted automatically.

Is this something that is feasible to support?  (I

[2018-09-28 05:23] ryanp97 opened #567 "Question: indent foldmethod"
Is there any reason that there's not option for folding by indent? This seems like a common use case that is not supported by vimwiki at the moment.

[2018-09-29 02:08] hollasch opened #568 "Add command to navigate up the wiki hierarchy"
I frequently want to navigate _up_ the wiki hierarchy in situations where this is different from going _back_.

I have a working prototype of this behavior, mapped to both ctrl-left and shift-up. (I'd love to use ctrl-up, but unfortunately that's already use to create a new diary directory.)

The prototype basically navigates to `<index>.<ext>` if the current page isn't an index. If it _is_ an ind

[2018-09-29 17:35] Kwask94 commented on #514
I have the same Problem, I think I'm going to change Vimwiki Markdown Syntax file and try it out

[2018-09-30 14:32] amitbeka commented on #543
:+1:

In general, I think a better default for all global commands which take a wiki number is:
1) if a number is specified, use that wiki
2) else, use current wiki. current wiki = wiki this buffer belongs to, or wiki in current work directory
2) else, use first wiki

[2018-10-01 12:08] shiro commented on #461
Does not seem to work.
As soon as I add `au FileType vimwiki set filetype=vimwiki.markdown` (enabling vimwiki everywhere) wimwiki seems to take over and I cannot use pandoc anymore. (folding, keybinds, etc.)

Whether I load pandoc before or after vimwiki does not seem to matter, neither does overriding the filetype. (using plug)

[2018-10-02 05:09] lifranc opened #569 "Error when starting"
Tried dev branch, master branch, added the options in the install instructions, and still get this error. On nixOS, so there are no 'files left over' as it is all done declaratively.
[code]

I am no neovim wizard, and don't yet know how to get a longer log. I'd be happy to follow anyone's instructions to debug this.

[2018-10-02 16:40] hollasch commented on #568
After thinking about this more, I think the best mapping is shift-backspace, as an alternate to the currently mapped backspace. That is, <BS> goes to the prior page, and <S-BS> goes up the wiki hierarchy until it hits the root index page.

Should I create a pull request?

[2018-10-07 16:53] Hipomenes commented on #461
I'm in the same situation. Would love to use vimwiki and vim-pandoc, but they don't seem to interact very well.

[2018-10-10 18:43] bluddy commented on #569
Long time user here. I'm constantly getting errors as well.

I also get errors when entering a wiki page, and it seems to do with existing swap files being found, which for some reason is always the case. It appears like the vimwiki code doesn't recover well from the swap file found error -- backspace doesn't take me back up, for example. Going back to the main page and reloading the specific wiki

[2018-10-15 19:35] EinfachToll commented on #567
The setting `vimwiki_folding` is for fold methods which rely on Vimwiki syntax, so it must be managed by Vimwiki. Folding by indent is something which Vim can do on its own. So, if you want to fold by indent, you can use `let g:vimwiki_folding='custom'` and `set foldmethod=indent`.

[2018-10-15 19:35] #567 closed

[2018-10-15 19:51] EinfachToll commented on #568
Honestly, I find the use case you described a little weird. IMO, the great thing about a wiki in general is that you can link from any to any page without thinking about what is allowed here and what not. Links like `[[a/b]]` should be regarded more like name spaces to avoid name clashes instead of hierarchies. Sure, you can use them this way, if it works for you, but I wouldn't encourage the user

[2018-10-15 19:51] #568 closed

[2018-10-15 19:56] EinfachToll commented on #566
With the standard settings, you can press Shift+Return to insert the bullet after a multi-line item. Is this what you want? You can read more about that in `:h vimwiki-lists`.

[2018-10-15 19:58] #566 closed

[2018-10-15 20:02] evantravers commented on #569
Yeah… I'm getting weird errors… I think it does have to do with swap files as well. It just hangs and then if I hit enter, I'll get an error message and then a Read-Only buffer.

[2018-10-15 20:04] EinfachToll commented on #569
So does the error happen to you every time you open a Vimwiki page? Also if you have a "clean" file system (that is, without old swap files lying around)?

[2018-10-15 20:37] evantravers commented on #569
It was happening every time… I am playing with it now… I think what is happening is that I have this block of config in my vimrc:

[code]

but I didn't have the folders created… I'm on a new computer. Now that I've created the folders, it seems to be behaving better.

[2018-10-16 15:59] MeKot commented on #515
Hello there, love vimwiki! It has given me an extreme daily boost to my productivity ever since I have discovered it. What if the "gathered" items are collected from todo-lists (checkbox lists) only if the entry has a TODO in it? Maybe that will allow for easier scanning and retrieval, etc.. Also it may give users a chance to sort out what gets pulled out into a t"odo index" and what checkbox entr

[2018-10-16 20:18] EinfachToll commented on #569
Ok, I can see the same error message as @lifranc when I open one wiki file in two instances of Vim and then press escape a number of times. The error handling can certainly improved on Vimwiki's side, but the cause of the error has nothing to do with Vimwiki, so we can't fix it.
But I wonder if this is the same problem as you guys have.

[2018-10-17 19:30] EinfachToll commented on #565
Looks like the call `readfile('~/.vim/bundle/vimwiki/autoload/vimwiki/default.tpl')` fails, but I can't see why. Maybe Vim on MacOS has problems with expanding the `~` in the filename? (Did you maybe start Vim as another user, e.g. as root?) What happens when you type `:echo readfile('~/.vim/bundle/vimwiki/autoload/vimwiki/default.tpl')` and `:echo readfile('/Users/user/.vim/bundle/vimwiki/autoloa

[2018-10-18 06:39] #545 closed

[2018-10-18 06:44] EinfachToll commented on #560
Yup, that's definitely a bug.

For cmd: set noshellslash and run a:url through shellescape()
For powershell: set shellslash and run a:url through shellescape()

I have rarely access to a powershell, so it would be cool if you could take a stab at it.

[2018-10-19 19:00] BenjaminBrandtner commented on #560
I'll create a PR momentarily with changes to the code that are slightly different from the ones proposed.

I've rewritten the win32_handler function to explicitly disable shellslash if the users shell is set to cmd or command.com and enable it for any other shell. I base this on the following line from the [vim help on shellslash:](http://vimdoc.sourceforge.net/htmldoc/options.html#'shellslash')

[2018-10-22 13:40] BenjaminBrandtner commented on #560
My Pull Request is bugging out, presumably because I force-pushed the changes you proposed to to my fork. Now it keeps changing which commit it's supposed to merge.
I've tried closing it, but it doesn't stay closed.

I'm sorry!

[2018-10-22 13:41] BenjaminBrandtner commented on #560
My Pull Request is bugging out, presumably because I force-pushed the changes you proposed to to my fork. Now it keeps changing which commit it's supposed to merge.
I've tried closing it, but it doesn't stay closed.

I'm sorry!

[2018-10-22 13:41] BenjaminBrandtner commented on #560
My Pull Request is bugging out, presumably because I force-pushed the changes you proposed to to my fork. Now it keeps changing which commit it's supposed to merge.
I've tried closing it, but it doesn't stay closed.

I'm sorry!

[2018-10-25 16:52] Georacer commented on #550
I have the same issue: Standard Wiki syntax, non-standard wiki path -> Page renaming doesn't work.

[2018-10-25 21:30] Nudin commented on #550
Fixed in a2442466411ee7793de1c124a6a23a32eae9bda3 – update to latest 'dev'-branch and it should work.

[2018-10-25 21:30] #550 closed

[2018-10-25 21:32] Nudin commented on #406
Can you check with latest version from dev-branch is the problem still exist? I just fixed #550 and this could be the same bug.

[2018-10-25 21:42] Nudin commented on #406
Fixed one more bug and tested it, seems to work now!?

[2018-10-26 07:01] Georacer commented on #550
Thanks! I'm using Deon for package management. Do you know how I could
point it to the correct branch?

On Fri, 26 Oct 2018, 00:30 Michael F. Schönitzer, <notifications@github.com>
wrote:

[2018-10-26 10:19] Nudin commented on #550
You mean 'dein.vim'? According to it's page you can set the option `rev` to the branch-name (`dev`). If I read there help correctly something like:
[code]
in doubt look at `:h dein-options`

[2018-10-26 10:31] Georacer commented on #550
Ok, renaming seems to work now, BUT, I think another bug crept up:
After the renaming procedure, the other Vim windows I have opened get closed. This doesn't sound right...

[2018-10-26 11:22] vikashiiitdm opened #576 "vimwiki doesn't seem to use markdown syntax correctly"
hello, i've installed vimwiki and did some configuration in my .vimrc like this :
[code]

But, vimwiki doesn't seem to support markdown properly like asterisk bolds and underscore italicises. I only use markdown, and would like to know how to fix this?

[2018-10-27 18:44] EinfachToll commented on #97
This is solved in the meantime. You can set g:vimwiki_folding to 'custom'.

[2018-10-27 18:44] #97 closed

[2018-10-31 12:29] adc17 commented on #315
@pjf I think this helps usability a lot; some fonts don't support bold/italic, so if the markup is conceiled it just looks like regular text.

[2018-11-01 14:05] klivan commented on #565
@EinfachToll This doesn't work
[code]
but when I use `$HOME` instead of `~`
[code]

[2018-11-05 00:36] matt-snider commented on #19
Hi, I came across this because I use vimwiki and was looking for a similar feature. This sounds to me like [orgmode's babel](https://orgmode.org/worg/org-contrib/babel/intro.html). Is there anyway to get this functionality in vim/vimwiki? Would something like this fit into vimwiki's vision?

[2018-11-07 13:18] matt-snider commented on #538
@sprnza Were you able to get this working for wikilinks? I'm trying to do the following:

[code]

I've tried `[diary link](1)` and changing the reference to `[1]: /diary/2018-11-07` to no avail.

[2018-11-07 21:06] EinfachToll commented on #565
I changed it so that `~/` is not used for paths. Does it solve your problem?

[2018-11-09 19:26] llinfeng opened #577 "`<c-s>` is mapped to toggle list item by inserting `""`, `TODO` and `DONE`??"
I have global settings in my `~/.vimrc` that let `<c-s>` to save stuff, but have the following weird behavior of `<c-s>` ONLY in a `*.wiki` file:
* In the beginning, `<c-s>` in insert mode does not do anything.
* In a list, if in insert mode:  `<c-s>` inserts `TODO` to the top of the list content.
* In a list, if in normal mode: `<c-s>` should circle through `""`, `TODO` and `DONE`
![ctrlsproblem]

[2018-11-10 19:28] WnP opened #578 "[announcement] vimwiki_markdown python version"
I've just released avec python version of [vimwiki_markdown](https://github.com/WnP/vimwiki_markdown).

It support templates, including placeholders:

- `%title`
- `%date`
- `%nohtml`
- `%template`
- `%root_path%`

It also provide syntax highlighting out of the box in a github like fashion.

Feedback are welcome.

[2018-11-15 04:49] volker-fr opened #579 "diary_link_fmt option removed"
In previous version you could set the naming standard for diary files by using `diary_link_fmt`, see for example https://github.com/vimwiki/vimwiki/issues/379

This option got recently removed and was replaced with a function that returns a hardcoded date format by calling `vimwiki#diary#diary_date_link(...)`.

`vimwiki#diary#diary_date_link(...)` itself seem to have been created to allow to calcu

[2018-11-15 12:57] mMontu opened #580 "Vim gets slow when edditing long wiki files"
In the last few days I noticed Vim got slower, but I couldn't figure out why. Now I found that the main reason is because I updated this plugin and I maintaining a few long vimwiki files open (~10k lines, ~150 level 2 headers).

For example, when switching to a tabpage it may take a long time (~6 seconds) to finish the redraw if the cursor will end on a wiki page of the new tab. Removing the [`Buf

[2018-11-15 13:03] mMontu commented on #580
I don't have the context, but some things are little bit strange on the implementation of `s:setup_buffer_enter()`. For example, it seems strange to set the filetype every time the cursor enters the window with the wiki buffer -- it should be enough to set it only when the buffer is first loaded.

[2018-11-15 21:00] EinfachToll commented on #580
Hm, I made a very long file as well and I see no such delays. The only thing which takes several seconds for me is when I save the buffer, because of the HTML conversion. Do you have folding enabled? This is known to cause huge lags (depending on the folding method).
You can try profiling:
- `:profile start foo | profile func *`
- do something which causes lags
- quit Vim
- look at the file `foo`

[2018-11-16 08:25] mariodpros opened #581 "VimwikiAll2HTML: Transclusions using relative paths"
Hi,

I'm using transclusions to include images in HTML generated pages but I'm not able to generate a valid HTML path in `<img src=""/>`.

Info:
* Vimwiki syntax.
* Using **relative** path to image files to the page which reference them.
* HTML pages generated using `:VimwikiAll2HTML` from the **root page** (ie: `pwd` at wiki root).
* let g:vimwiki_auto_chdir = 1
* Git: `dev` branch, commit id `6f

[2018-11-16 18:00] mMontu commented on #580
The issue can be reproduce with [this file](https://github.com/vimwiki/vimwiki/files/2590344/delay.zip) by running the following:

    gvim -u NONE -U NONE -N -i NONE
    set nocompatible
    filetype plugin on
    syntax on
    let g:vimwiki_camel_case = 0  " Don't make links from CamelCased words
    let g:vimwiki_table_auto_fmt = 0 " Turn off table auto-formatting
    let g:vimwiki_autowriteall

[2018-11-16 18:15] mMontu commented on #580
@EinfachToll, do you think it is possible to have folding disabled automatically for large files? Or have a buffer variable (possibly set from modeline) that disables folds locally?

[2018-11-19 12:45] mariodpros commented on #581
I didn't see it when I wrote this issue but it looks like #354 is describing the same exact scenario.

[2018-11-22 21:39] Nudin opened #582 "syntax error"
When the cursor is on a '-' and you press `+` you get a syntax error:

[2018-11-22 21:40] Nudin commented on #582
Should be easy to fix and is of low priority.

[2018-12-05 09:34] copyme opened #583 "VCS support"
It would be nice if Vimwiki could detect whether the current wiki is versioned and if so called e.g., `git rm` on `VimwikiDeleteLink`. Such a support does not need to be very advanced, adding just a little support for git like `git add` and `git rm` would be sufficient for me.

[2018-12-05 16:35] Nudin commented on #583
You are not the first to wish for such an git support. I think a lot of people use vimwiki inside a git repo. This feature request feels a bit like pandora's box to be open. Even through the functionality you proposed it relative simple to build in, it will probably be followed by a big amount of further feature requests. Currently there are only two recurring vimwiki developers and the list of is

[2018-12-05 16:44] copyme commented on #583
@Nudin do you have a PayPal for project donations? Let me put some support for this idea.

[2018-12-06 17:11] jaywilliams commented on #583
I think such a feature would be a nifty tool, but in keeping with the UNIX philosophy, I'm included to agree with Nudin that it could very easily open pandora's box and lead to [featuritis](https://en.wikipedia.org/wiki/Feature_creep). As an alternative, I think it would make more sense to use fugitive.vim or create your own custom function which combined `VimwikiDeleteLink` and `git rm`. Keep Vim

[2018-12-10 12:34] Brutus11111 opened #584 "issue with d key"
Hi, I'm a bit confused. Probably not a software issue but a user issue.

When working in a document, I can use the d key to cut a piece of text in visual mode. When I'm working in a document that's in my wiki directory, I can't. When I press the d key I get this:

:'<,'>VimwikiMakeDiaryNote

I'm confused. My leader is set to ,

I use vimwiki to write documents. I want to be able to cut again in vi

[2018-12-10 12:43] Nudin commented on #584
Hmm. I can't reproduce that. VimwikiMakeDiaryNote shouldn't be mapped to `d` in visual mode. Can you look at `:vmap` to see how it is mapped?

[2018-12-12 16:21] nicolasbrailo opened #585 "Anchor links broken for multiple extension (eg .wiki.txt)"
Creating an anchor link (eg a link to a header) doesn't work when a wiki has multiple extensions (such as .wiki.txt). Example:

.vimrc
[code]

~/tmp/index.foo.bar
[code]

When following link1, vimwiki will try to open ~/tmp/index.foo.foo.bar#Test. link2 works as expected, moving the cursor to the header "Test".

I managed to trace this to vimwiki#base#resolve_link, where fnamemodify(source_file, '

[2018-12-13 13:47] Brutus11111 commented on #584
I'm sorry, It's a user issue.

I can't remember where I found this, but the part below was how I got vimwiki working. That came from a website after spending quite some time figuring out how it works.

 " vimwiki - Personal Wiki for Vim
 " https://github.com/vimwiki/vimwiki
 set nocompatible
 filetype plugin on
 syntax on
 " vimwiki with markdown support
 let g:vimwiki_ext2syntax = {'.md': 'markdo

[2018-12-13 14:33] #584 closed

[2018-12-14 20:07] EinfachToll commented on #582
Well, it was not extremely easy. Anyway, it's crazy that I never encountered this bug before.

[2018-12-14 20:07] #582 closed

[2018-12-14 20:39] EinfachToll commented on #583
I must admit I don't even get the use case. I too use Git with my personal wiki, so what I do every now and then is `git add -u; git commit`, which removes deleted wiki files. I don't really see the value of adding and removing files automatically.

[2018-12-17 07:54] emKaroly opened #588 "Error when opening link"
When the cursor is on the beginning of the following line it throws the error when i move over link its fine.

`- [ ] [notes](20180406103852CEST.md)`

`Error detected while processing function vimwiki#base#follow_link[75]..vimwiki#base#norma
lize_link[3]..vimwiki#markdown_base#normalize_link[5]..<SNR>69_normalize_link_syntax_n[48
]..vimwiki#base#normalize_link_helper[4]..<SNR>68_clean_url:
line

[2018-12-19 20:40] Nudin commented on #576
I can't reproduce that.
I tried the following .vimrc (with vimplug):
[code]
and it work's like this:
![bildschirmfoto zu 2018-12-19 21-38-10](https://user-images.githubusercontent.com/509205/50246742-727a1980-03d6-11e9-8730-840c78148fa2.png)

[2018-12-19 21:47] Nudin commented on #178
This has been fixed quite a while ago.

[2018-12-19 21:47] #178 closed

[2018-12-19 21:52] Nudin commented on #206
Probably fixed? If not please feel free to reopen.

[2018-12-19 21:52] #206 closed

[2018-12-19 21:53] #208 closed

[2018-12-19 21:58] Nudin commented on #210
Closing as duplicate of #210

[2018-12-19 21:58] #210 closed

[2018-12-19 21:59] Nudin commented on #182
A `#` in a title also breaks VimwikiTOC

[2018-12-19 22:12] Nudin opened #589 "Vimwiki needs a logo"
For a vim-plugin having a logo might not be the most important thing, but I still think it would be usefull to have an icon for the website (incl. favicon), the Github-Organisation, repositories and third party websites.
Maybe some vimwiki user can design a logo?

[2018-12-19 22:20] daveyarwood commented on #206
I can confirm it's still fixed for me.

[2018-12-20 13:56] Nudin commented on #588
I don't know. We are only 2 people developing reccurently on vimwiki and both lack time… Help is always appreciated. ;)
If you are annoyed by the bug just swich to the dev-branch.

[2018-12-26 11:08] ghost opened #592 "VimwikiRenameLink ruins window layout"
I run vim 8 with patches 1-1519 and the dev branch of vimwiki installed via vim-plug like this:

    Plug 'vimwiki/vimwiki', { 'branch' : 'dev' }

I have four open tabs. First two tabs are outlines managed by https://github.com/vim-voom/VOoM. Last two tabs are two different vimwikis.

I go to the third tab, enter a vimwiki page and run `:VimwikiRenameLink` . After it finishes working, the layout i

[2018-12-27 15:54] johnmathews opened #595 "value of %diary in template file cannot be updated"
In my .vimrc file I have tried to update the values of various vimwiki `diary_xxx` variables so that a template creates a valid html path for a link to my diary index page.

However, it never updates and is always `%root_path/diary/diary_index.html`, even if `diary_rel_path` is changed in .vimrc.

Am I missing something?

[2018-12-31 20:56] rsyi opened #596 "C-Up and C-Down don't work in tmux."
`:VimwikiDiaryNextDay` and `:VimwikiDiaryPrevDay` work, though... My .vimrc file is quite simple:

[code]

Any idea why this might be? I was able to recreate this on Ubuntu 18.04 on WSL and on putty in Windows, connecting to a Centos server, both using vim 7.4.

[2019-01-03 08:41] Seba272 opened #597 "typo in vimwiki.txt"
Hello!
At line 1772 of vimwiki.txt , the section Anchors is numbered as 12, but it is 11 . In the table of contents it is correctly numbered as 11.
Thanks for this great plugin!

[2019-01-03 13:05] rsyi commented on #596
Not sure why, but this seems to have resolved itself.

I suspect it was because I was in insert mode, but not sure.

[2019-01-03 20:06] Nudin commented on #597
fte10kso has fixed this in his PR and I merged it into the dev-branch. Thanks for the ticket!

[2019-01-03 20:06] #597 closed

[2019-01-03 21:09] Nudin opened #598 "Get rid of all control characters"
We have quite a few unencoded control characters in the source code. These cause problems with some editors and tools and are hard to handle. We should find a way to eliminate them.

[2019-01-03 21:14] Nudin commented on #577
Hi, that does not sound familiar and I cannot repoduce it. What version are you using?

[2019-01-03 21:17] Nudin commented on #556
Fixed in vim-gnupg.

[2019-01-03 21:17] #556 closed

[2019-01-05 03:08] rsyi commented on #596
Ah still a problem. It turns out it's a problem when in tmux. I guess the tmux bindings must interfere with vim bindings. I'll see if I can figure out how to fix this.

[2019-01-05 03:12] rsyi commented on #596
Adding the following to my .tmux.conf file solved the problem:
`set-option -g default-terminal "xterm-256color"`

[2019-01-05 03:12] #596 closed

[2019-01-05 23:43] tick10 opened #600 "Git Pulled and broke my main index file's links"
I realized I hadn't updated vimwiki since March or April of 2017, so I git pulled it from the dev branch. Upon doing so my main index no longer has any of its links. But it seems like the rest of my wiki works just fine...

I use regular markdown and .md file extensions; since I already knew that, it was perfect for me. I have the following in my vimrc, I'm assuming to accomplish that goal. (its b

[2019-01-07 04:08] tick10 commented on #600
Alright so for anyone that finds this issue, I figured out I had just made a mistake in the syntax on my vimrc. Hopefully, no one else was as ridiculous as I was but don't worry if you were all you need to do is change your 'path' section to JUST the directory your using for your wiki(s). Not the path to your index file inside the directory. Like This:

`let g:vimwiki_list = [ `
`\{'syntax': 'mark

[2019-01-07 04:08] #600 closed

[2019-01-07 12:03] mMontu commented on #580
The delay when editing long files with fold is solved by [Fast Fold plugin](https://github.com/Konfekt/FastFold).

[2019-01-09 11:36] mMontu commented on #580
The delay when editing long files can be avoided by using the great plugin: [FastFold](https://github.com/Konfekt/FastFold)

[2019-01-09 16:19] llinfeng commented on #576
@rpgormley, to answer your initial question, you need to specify the following for properly rendering the `*Bold*` and `_italicises_` markups. (I believe Vimwiki takes single `*` as the bold marker).

    setlocal conceallevel=2

I set this line in the `~/ftplugin/vimwiki.vim`, as I don't want to distort my other `conceallevel` settings elsewhere.

More on your `<CR>` (or Enter-key) problem: in sh

[2019-01-09 16:51] llinfeng commented on #577
I did not opt to dig much into the problem, and have switched all the way over to the Markdown syntax for my Vimwiki configuration. The conversion was a bit bumpy, but as a side bonus, the wired behavior for `<c-s>` stops occurring.

Here goes the Python script I used when converting my exiting `*.wiki` files into `*.md` files: <https://github.com/llinfeng/Vimwiki_converter/blob/master/VimWiki_2_M

[2019-01-09 16:52] #577 closed

[2019-01-13 22:27] szaffarano opened #602 "Error with lists other than bulleted"
I have an error with both markdown and vimwiki syntax when I use numbered lists.  When I type a number followed by a dot, write something and press enter:
[code]

then I get the following error

[code]

I found that the "bug" (actually I don't know if it's a bug!) started with commit 75819ca23a1244416aba3db2843f77cc55c06e16 because until f9b890698599dd3aaf58b5ebe46bb4ebdb04ceb0 everything worked f

[2019-01-14 13:52] TheSilvus opened #603 "Image link with unclosed quotation mark becomes invisible"
Adding an image reference in Vimwiki syntax with e.g. a style tag with only a single quotation mark causes it to become completely invisible if the cursor leaves the line. Other text on the same line is unaffected.

    {{link||style="}}

[2019-01-15 05:51] t-0-m-1-3 commented on #426
`pip install` in taswiki got me;

thanks for the help

[2019-01-15 05:51] #426 closed

[2019-01-16 19:55] EinfachToll commented on #589
There was a logo in the old project page: https://code.google.com/archive/p/vimwiki/
Not sure it would be a good choice (the font sizes are a bit off) but it resembles the Vim logo which I like a bit ;)

[2019-01-17 19:03] llinfeng commented on #602
I'd like to report the same problem on Windows 10. Switching away from the `dev` branch did revert things back to normal. I deleted the folder for the plugin completely, and specified the following for the setting for `Plug.vim`:

[code]

[2019-01-17 21:01] EinfachToll commented on #602
Should be fixed now.

[2019-01-17 21:01] #602 closed

[2019-01-17 22:19] szaffarano commented on #602
Thank you! It works fine now

[2019-01-18 02:49] llinfeng commented on #602
Fixed here, too.

[2019-01-20 18:12] #585 closed

[2019-01-22 02:14] #324 closed

[2019-01-22 17:42] wom commented on #515
If you have relevant details for validating alongside the ToDo item, i can see value in jumping back to original. That said, i haven't played with taskwiki yet, installing now.

[2019-01-23 16:36] redapemusic35 commented on #437
If you are using a Mac, this worked for me: `[[file:~/.....]]` the dots represent any path and Vimwiki recognizes the spaces as well. Very handy.

[2019-01-25 16:04] redapemusic35 commented on #364
I have just started using Vimwiki. I am writing in markdown and can convert to other files with vim-pandoc. however pandoc no longer recognizes my yaml fields and yaml syntax is not working either. Like @DancingQuanta I am also using  plasticboy/vim-markdown, tpope/vim-markdown, vim-pandoc. Where would I find
 ```au FileType vimwiki set syntax=pandoc``` ?

[2019-01-25 16:09] DancingQuanta commented on #364
The configuration file for nvim could be found at `~/.config/nvim/init.vim`

[2019-01-25 16:11] redapemusic35 commented on #364
I should have mentioned that I am using macvim. Will this still work for me?

[2019-01-25 16:22] DancingQuanta commented on #364
One way to find out is to run `:version` in vim command mode. This prints out the location of configuration files it expect to find in. Look for a line beginning with 'user vimrc file'.

Note that for ordinary vim, `init.vim` is really `~/.vimrc` and that nvim is NeoVim. I don't think there is a mac version of NeoVim so your macvim is ordinary vim and so work with `~/.vimrc`.

[2019-01-25 16:23] redapemusic35 commented on #364
Oh great thank you!

[2019-01-25 16:24] redapemusic35 commented on #364
Worked!

[2019-01-27 04:45] yangmillstheory commented on #517
What's the point of having the `syntax` key in `g:vimwiki_list` if the `filetype` (and `syntax`) is always set to `vimwiki`?

[2019-01-28 20:40] EinfachToll commented on #595
I don't understand the issue at all. Can you please state what you did, what you expected and what you saw instead?

[2019-01-31 04:49] redapemusic35 commented on #364
I use the markdown syntax. I write papers for school in markdown and so this way I can take notes for class and write the paper in the same medium. I use [vim-pandoc](https://github.com/vim-pandoc/vim-pandoc) to convert markdown into pdf, docx, html. I am also starting to toy around with the idea of using notes as posts for a blog that I am keeping.

[2019-01-31 09:08] TheSilvus opened #605 "Finished multiline todo-items do not get hightlighted completely"
Config:

    let g:vimwiki_hl_cb_checked=1

Example:

    - [X] This is a todo-item
      that spans multiple lines

Only the first line is highlighted, the second one isn't.

[2019-01-31 22:49] xiao-vincent opened #606 "Missing Commands Since Last Update"
Certain vimwiki commands are missing.

The command `:VimwikiIndex` is working. But `:VimwikiToggleListItem` doesn't show up. Other commands like `:VimwikiFollowLink` are missing as well.

I tried using both `.md` and `.wiki` files. And tried uninstalling/reinstalling and updating the plugin.

[2019-02-02 09:38] xiao-vincent commented on #606
It looks like I can use vimwiki with `.wiki`, but I can't get it to work with `.md` files anymore.
I have the following in my .vimrc file:
`
let g:vimwiki_list = [{'path': '~/vimwiki/',
                     \ 'syntax': 'markdown', 'ext': '.md'}]
`

[2019-02-02 09:52] xiao-vincent commented on #606
I think there's just an issue with my .vimrc file!

[2019-02-02 09:52] #606 closed

[2019-02-02 23:12] llinfeng opened #607 "Unmapping <c-i> when in Vimwiki"
I found `<c-i>` to have been remapped to jump to the next Hyperlink/`[link_text](file_link)` or `[[filename]]`. This only applies to my `*.wiki` and `*.md` files, which are all of Filetype `vimwiki`.

I would like to unmap such jump-to-hyperlink action, and restore its original functionality. I have tried to look in the documentation, and have tried the [`:Listmaps`](https://github.com/vim-scripts

[2019-02-02 23:14] llinfeng commented on #200
@EinfachToll May I revisit this issue and ask: **can I specify the Github style for TOC**? I prefer `:VimwikiTOC` over the [`:GenTocGFM`](https://github.com/mzlogin/vim-markdown-toc) alternative, as the latter does not generate any numbering for the TOC entries.

[2019-02-02 23:59] redapemusic35 commented on #309
Did this ever get completed?

[2019-02-04 20:17] EinfachToll commented on #605
Try `let g:vimwiki_hl_cb_checked=2`. Admittedly, the doc is a bit inaccurate here.

[2019-02-04 20:17] #605 closed

[2019-02-04 20:33] EinfachToll commented on #607
This is a very common problem in Vim. `<C-i>` isn't explicitly mapped, but `<Tab>` is, and for Vim, these keys are the same, because that's how most terminal emulators work. I don't know if in the year 2019 there is a solution, but a quick google search suggests otherwise.
That means you can either map another key to jumping to the next link: `:nmap <Leader>wn <Plug>VimwikiNextLink` (but then, `<t

[2019-02-04 20:33] #607 closed

[2019-02-04 20:48] llinfeng commented on #607
Thanks a lot! @EinfachToll

I bet I was revisiting an old and well-known issue :) Thank you for carefully going through the details about `<c-i>` and `<tab>`!

To note, the `nmap` setting only "wipes out" the `<tab>` mapping in Normal mode.  It is great that I can still use `<tab>` in Insert-mode to go from cell to cell in tables.

[2019-02-06 14:10] matt-snider commented on #283
@ErickChacon  @lukehinds Came across this issue myself. I didn't want to use change the character I use for completion (`<CR>`).

I found the following works:
[code]

[2019-02-06 19:01] Mantissa-23 commented on #589
I can cook something up real quick, gimme a day or two.

[2019-02-06 19:03] Mantissa-23 commented on #546
I think the problem is that vimwiki is all vimscript, and Neovim at the time does not support async. So writing a vimwiki->HTML converter in Python or one of the supported async plugin languages would be the first step.

[2019-02-07 10:37] thecliguy commented on #504
@EinfachToll @Nudin Since #510 is closed is there anything else preventing a new release now?

[2019-02-09 13:26] lucidstack commented on #318
Looks like this is still an unresolved issue. As a workaround, create a `$(N)VIM_FOLDER/after/ftplugin/vimwiki.vim` file, with:

[code]

This will give you the expected behaviour: `**strong**`, `*italic*`, `**_strong italic_**` and `_**italic strong**_`. It's not perfect, as you can't nest parts of italic/bold text inside bold/italic, but it should do the trick! :slightly_smiling_face:

[2019-02-09 14:37] clobrano commented on #309
Unfortunately not yet

[2019-02-10 10:00] cizmazia commented on #396
The missing support for `vim-repeat` leads to unexpected behavior even for very common actions like inserting multiple blank lines using the `.` repeat operator.

The test case: qqiStart`<CR>`End`<ESC>`ko`<CR><ESC>`.q
[code]

The test run with the expected output without any mapping:
[code]
Output:
[code]

The test run with the actual behavior of Vimwiki mapping:
[code]
Output:
[code]

[2019-02-11 02:21] hq6 opened #608 "Cannot use `=` command with a count"
If I use `=` to increase the header level, it increases by 1. If I use `4=` to increase the header level, it still increases by 1, rather than 4.

I think it would be better if `4=` increased the header by 4.

[2019-02-11 22:47] hq6 commented on #608
If anyone else runs into this issue, [my fork](https://github.com/hq6/vimwiki) has a fix for it until the PR is merged.

[2019-02-12 00:37] llinfeng commented on #607
@EinfachToll May I leave the `:nmap <F21> <Plug>VimwikiNextLink`  specific to the `~/ftplugin/vimwiki.vim`? Or, such mappings can only be issued in `~/.vimrc` in order to prevent Vimwiki from mapping `<tab>` to `:<Plug>VimwikiNextLink`?

This may be a "new" issue for the most recent version. According to my comments from last week, I should have dropped the mappings to the `~/.vim/ftplugin/vimwiki

[2019-02-12 01:02] llinfeng commented on #607
Here goes a rough "big picture" of my attempt to tell `<tab>` and `<c-i>` form each other in Vim Normal Mode. I will document the specific settings in the next comment. At the end of the day, I achieved the following:
* `<c-o>` and `<c-i>` are consistent regardless of where issued.
* `<tab>` key can still advance to the next URL in Vimwiki (via mapping it externally to `<F21>`, and solving the sub

[2019-02-12 01:17] llinfeng commented on #607
# Splitting Tab and <c-i>
## Description of existing behavior
* Vimwiki will assume the following mapping for `<Plug>VimwikiNextLink` should
  no other keys get assigned to it:
[code]
  This get us to use the `<tab>` key to jump to the next "link" as recognized by
  the Vimwiki plugin.
* `<c-o>` and `<c-i>` are a pair of keys that helps one navigate the jump list
    * `<c-o>` goes to the pravous

[2019-02-12 01:18] llinfeng commented on #607
## Excerpt of the solution
### Vim settings
In `~/.vimrc`, drop the following two lines:
[code]

### AHK mapping
**When the window is a GVIM window in Normal mode**, remap the `<tab>` key to
`<F21>`. It is tricky to craft the precise condition. The following code are in
AutoHotKey, which used pretty advanced AHK stuff (something that I learned in
2019). Sadly, I started my first AHK script without

[2019-02-12 02:05] tonyg-mg commented on #526
I preferred the previous `%toc` implementation as it made no assumptions about sticking a heading into the page.  I use heading 1 as the top-level title for the page (I realize that the generated HTML uses the file name for the official <title>).  Now, if I use auto-generated TOC, all my pages are forced render as "Contents" as the most visible section.  The current implementation assumes a docume

[2019-02-12 19:03] ACGarland opened #610 "VimwikiCheckLinks finds links to files, but not links to folders"

[2019-02-12 19:12] ACGarland opened #611 "External links with anchors not recognized as valid links"
A link to an external file which includes an appended anchor is not recognized as a valid link.

For example: `[[local:myfolder/myfile.html#lookup|Lookup]]` is reported as a broken link by VimwikiCheckLinks.

You can't navigate to the link from within the vimwiki source file that contains it.  But if one views the (generated) HTML from the vimwiki source file, the generated link works as intended.

[2019-02-13 08:28] ACGarland opened #612 "Vimwiki menu only shows one entry if wiki paths all end with same folder name"
I have about 12 different vim wikis and they all use the same ending folder name: `vimwiki`. (Make it easier for other tools to find them throughout the file system.)

For example:
[code]

The problem is that when vimwiki computes the index menu, it appears to only use the final directory name and since they all match, I wind up with a single entry (which activates the last wiki in my list of wiki

[2019-02-13 14:55] MartyLake opened #613 "E806 + E116 when calling wiki2HTML"
Hello,

I am not sure what changed in my setup, everything worked fine until now (I don't even remember changing my config file to trigger this).

When I call wiki2HTML, my screen is filled up with red E806+E116 errors concerning these two lines:
[code]

[2019-02-13 15:45] redapemusic35 commented on #461
This worked for me. I was having the same problem

[code]

[2019-02-19 10:33] TheSilvus opened #615 "Vimwiki is unable to generate HTML for files with names that contain non-ASCII characters"
Creating a file called e.g. `Universität.wiki` and attempting to convert it to HTML using any command causes it to fail because it is unable to open the file.

[2019-02-20 15:24] HugoNikanor commented on #589
The logo is available as an SVG file here: https://github.com/vimwiki/vimwiki-tst/tree/master/images. But at least on my current system it looks horrible (The string "VIM" and its drop-shadow use different fonts).

[2019-02-21 20:42] tenllado opened #617 "Link rename not working on links that start with /"
Simple example:

Directory structure:

Folder1/TestNote.md

Links:

[[Folder1/TestNote]]  -> this link is correctly renamed when the note is renamed
[[/Folder1/TestNote]]  -> this link is not renamed when the note is renamed

This is important if you use directories and want to create links between notes in different directories:

Example:

Folder1/Note1
Folder2/Note2,  If I want a link to Folder1

[2019-02-22 07:10] tenllado commented on #52
This issue is closed, but it is still happening for me. I tested both on the master and the development branches.

A simple example would be:

Direcotry

[Linink to file Note1](Note1)

edit Note1, <leader>wr , change the name to Note1b

The link still shows as

[Linink to file Note1](Note1)

This is not happening with original vimwiki syntax links, that can also be used in the markdown files insid

[2019-02-28 17:36] divramod opened #618 "visually reinforce headers without breaking toc"
Hey, thx for this awesome plugin!
It is currently changing how i work ;-)

I like to visually reinforce the headers of documents a little bit more.
Is that somehow possible without destroying the table of contents which is created by ```VimwikiTOC```.
I really like that feature, but usually i am trying to visualize different areas in my documents with something like:

[code]

And that will make th

[2019-03-01 17:44] ranebrown opened #619 "Markdown links with parentheses not working"
I have run into a few issues with links using markdown syntax.

For something like `[test](http://example.com/test(1).html)` the syntax highlighting is lost after the closing parenthesis and the concealed text shows as `test.html)`
In this case pressing enter on the link still opens the url.

The bigger problem is when referencing a file that contains parentheses such as this `[file](file:/path/to

[2019-03-02 23:26] CharlesB2 opened #620 "Error on following diary link"
I  get the following error when trying to follow a link in the diary index: (then ENTER takes me to the diary page). I have no problem in following a "normal" link.

[code]

Using Homebrew's Vim 8.1, on the latest master branch (`417490f30b3aaec600c19cfa59018cf2368dd87b`), with markdown syntax

[2019-03-04 12:46] ptooley commented on #620
This happens for me on the main wiki page.  I can reproduce with a single link named [[Work TODO]] following the link gives exactly this error.

[2019-03-04 18:16] ranebrown commented on #402
@EinfachToll if you are still looking for contributors I should have some time to help out.

[2019-03-05 21:45] jahagirdar opened #621 "syntax highlight in html"
Is it possible for the exported html to have syntax highlighting for the embedded code fragment?

[2019-03-06 17:06] akoutmos opened #622 "Diary Entry Template"
Firstly, a HUGE thank you to an awesome plugin. I use it daily and appreciate the work put into it.

Next, I was wondering if it is possible to create diary entry templates. Every time I create a diary entry I outline the diary the same way and it would be nice to automate that. So if I create a new diary entry I would automatically get an entry filled out with:
[code]

[2019-03-07 06:12] divramod commented on #622
Hey @akoutmos.

I also use the plugin daily and solve the task of templates with https://github.com/SirVer/ultisnips
Ultisnips is really powerful in the way, that you can insert the results of bash scripts like

[code]

Hope that helps.

[2019-03-07 16:02] horkhork commented on #579
+1 - it would be great to be able to create multiple diary entries per day. I ended up hacking `diary_date_link` to include minutes and seconds in the filename as a temporary workaround.

[2019-03-07 18:09] maikeldotuk opened #623 "Still getting vimwiki links instead of markdown links on :VimwikiDiaryGenerateLinks"
This has been mentioned before and has been "fixed" before but it doesn't work in my current configuration:

This is what I get:

[code]
As you see the titles were correctly added in markdown, the links were not.

So it knows my current config for syntax is markdown but it just ignores it with the links. Could someone please help with this?

[2019-03-08 18:46] akoutmos commented on #622
Thanks for the good idea! I've always had issues with UltiSnips in the past as I could never get it to pick up my local snippets files....but I put some time in and got it working :).

[2019-03-08 18:46] #622 closed

[2019-03-08 23:02] Nudin opened #624 "More maintainers for vimwiki"
Vimwiki currently only has very little maintainers. PRs are waiting very long until they get merged or commented. This causes frustration and delays the project.

New maintainers are appointed by @EinfachToll. Use this Issue if you want to apply for maintainerrights.

This issue superseeds the older issue #402.

[2019-03-08 23:03] Nudin opened #625 "How to help Vimwiki?!"
Vimwiki has a lot of users but only very few recurring developers, maintainers and people helping otherwise. This leads a large number of open Issues, Pull requests and few people helping others in the chat. To build a vimwiki community we'd appreciate your help. You can help whether you are a developer or not!

What can I do as a developer?
---------------------------------------
- Fix a bug – th

[2019-03-08 23:06] Nudin commented on #402
I created a follow-up-issue for applying as maintainer. I'm closing this ticket for the new one.

@ranebrown @hackeryarn If you are still interessted in helping as a maintainer please comment on #624! Also see #625.

[2019-03-08 23:06] #402 closed

[2019-03-08 23:08] Nudin commented on #625
@EinfachToll I created these two tickets (#624 and #625) after getting multiple answers about this. Feel fee to change!

[2019-03-09 00:20] ranebrown commented on #624
I'm interested in being a maintainer. Let me know if you need any other info. Thanks!

[2019-03-09 00:41] hq6 commented on #624
I am also interested in being a maintainer / developer. I have some experience with `vimscript` and am excited about adding new features. Additionally, I have enough reputation on StackOverflow to create a tag there and redirect questions to that community is it is desirable.

[2019-03-11 14:09] optik-aper commented on #621
Not native to vimwiki, as far as I know.  You could include something like [highlight.js](https://highlightjs.org/), I'd think, but I've never used it.

[2019-03-11 20:39] EinfachToll commented on #624
I will add you both as participants. I also added a few advice to CONTRIBUTING.md for you. Hopefully you are aware of your huge responsibility and not only try to add new fancy features but fix old and boring bugs ;)

P.S. Just so you know, when I'm sometimes inactive for a few weeks, that doesn't mean anything. My contributions come slowly, but I don't see me stopping or growing tired or somethin

[2019-03-11 20:47] EinfachToll commented on #624
OK, I think I've sent you invitations to be collaborators. Let me know if you need any rights you don't have. I don't completely understand the rights management here on Github.

[2019-03-11 20:56] hq6 commented on #624
@EinfachToll, I do not find `CONTRIBUTING.md` in the repository. Can you offer a link?

[2019-03-12 16:24] Nudin commented on #624
@hq6 it's in the [dev-branch](https://github.com/vimwiki/vimwiki/blob/dev/CONTRIBUTING.md)!

[2019-03-12 17:51] matcharles commented on #217
Any idea if support has been added for .md files since then?

[2019-03-12 18:21] ranebrown commented on #217
It isn't officially supported yet but is something I plan to work on. For now take a look at autoload/vimwiki/customwiki2html.sh or WnP/vimwiki_markdown

[2019-03-12 21:01] matcharles commented on #217
Thanks for this. I'm not in a hurry and will wait until it's being pushed in the main repo. Appreciate your work!

[2019-03-13 13:44] gpanders commented on #621
You can do this as follows:

1. Copy the file `default.tpl` out of `vimwiki/autoload/vimwiki/` into your own directory.
2. Modify your copy of `default.tpl` to add the following lines:

In `<head>`:
[code]

At the end of `<body>`:
[code]
Now tell Vimwiki that you want to use this template:
[code]

Highlight.js will detect syntax automatically. So in your Vimwiki files, you just need to use the `{{

[2019-03-13 14:30] gpanders opened #626 "TOC can only be at header level 1"
It would be nice to have this be customizable so that a user could specify that they want the ToC at a different header level.

[2019-03-13 18:29] hq6 opened #628 "Maintainer discussion: Let's have a consistent threshold for merging to master!"
@Nudin @ranebrown @EinfachToll

I recently went through the notes in `CONTRIBUTING.md` and see the following text:

Here's the current set of changes between `dev` and `master`.

[code]

I think it would be good to roughly quantify "a reasonable set of changes", so that `dev` does not run too far ahead of `master`, so that improvements / bugfixes introduced by PR's can make it out to a wider audie

[2019-03-13 18:51] ranebrown commented on #628
I think there are a couple other issues as well:

1. `CONTRIBUTING.md` mentions creating tags for each release but this hasn't been done since v2.3 in 2016.

2. Many of the pull requests are to the master branch. There should probably be a link to `CONTRIBUTING.md` on the master readme.

[2019-03-13 19:21] hq6 commented on #628
1. I think we should deal with creating tags for each release as a second issue to rolling over changes from `dev` to `master`.
2. Actually, I think `CONTRIBUTING.md` should be available on the master branch, to inform people that they should make PR's against the `dev` branch. The fact that many PR's are to the master branch is further reason why we might want to keep `master` not very far behind

[2019-03-13 21:28] hq6 commented on #621
I am a new maintainer, and I think this would be nice to have natively.

However, I will defer to @EinfachToll  and @Nudin until I get a better sense for what flavor of changes they think are appropriate, so you may want to hold off on this for now, while we handle the current PR's.

[2019-03-14 04:01] ranebrown commented on #628
Related to #504

[2019-03-14 04:06] ranebrown commented on #623
This is not the behavior that I'm seeing. Have you tried using a minimal `.vimrc` with only vimwiki settings enabled to isolate the issue? Can you provide your configuration so I can attempt to duplicate the issue?

[2019-03-14 17:42] hq6 commented on #504
@EinfachToll , Is  #256 done?

[2019-03-15 12:44] ranebrown commented on #318
This has been fixed on the `dev` branch which should be merged into `master` soon. Stay tuned.

[2019-03-15 12:45] ranebrown commented on #576
See #318

[2019-03-15 12:45] #576 closed

[2019-03-15 12:45] ranebrown commented on #189
See #318

[2019-03-15 12:45] #189 closed

[2019-03-15 13:54] bewuethr commented on #318
@ranebrown Thank you, this was bothering me for a while! Nitpick: `_**bolditalic**_` and similar combinations still don't work.

[2019-03-15 14:22] ranebrown commented on #318
@bewuethr Take a look at the updated documentation. I changed those to `***bold_italic***` and `___italic_bold___` :) Let me know if that works as expected.

[2019-03-15 14:25] ranebrown commented on #318
I based this decision of the following line in the [CommonMark spec](https://spec.commonmark.org/0.28/#emphasis-and-strong-emphasis) in case you are curious:

[2019-03-15 14:41] bewuethr commented on #318
Yes, the behaviour for `***foo***` and `___foo___` is as expected, renders bold and italic. But the rendering of mixed delimiters seems to contradict what [example 438](https://spec.commonmark.org/0.28/#example-438) and [example 440](https://spec.commonmark.org/0.28/#example-440) show:

| Input | Spec | Vimwiki rendering |
|-|-|-|
|`_*foo*_`|*`foo`*|*`_foo_`*|
|`*_foo_*`|*`foo`*|*`*foo*`*|

No big

[2019-03-15 14:47] ranebrown commented on #318
Yeah, there are a ton of possible cases when you look at the spec. It would be way too difficult to cover them all but hopefully this implementation works for most people.

Of course! This one was bothering me for a while too.

[2019-03-16 17:28] Nudin commented on #256
Since this is merged since quite some time and no major issues have arose, I'm closing this. We can have new issues for other refactorings.

[2019-03-16 17:28] #256 closed

[2019-03-16 17:45] Nudin commented on #628
Yes, I think we should definitely release a new version. I also would propose to release new version more often in the future. For the future we should do all the development strict on `dev` and only "back-port" pure bugfixes without risk of regressions and changes in the documentation back to `master` in between releases.

[2019-03-16 17:51] Nudin commented on #613
Can you give the full stack-trace of the errors?

[2019-03-16 18:00] Nudin commented on #624
@EinfachToll could you please add me to the `vimwiki` Github-group? So that I can create new repositories. (Beside others for further documentation and testing)

[2019-03-16 18:24] hq6 commented on #624
If we're going to have separate but related repositories, it may be more
efficient if you add me and Rane to well.

Otherwise, we'd have to be manually added as collaborators on each repo
after creation.

On Sat, Mar 16, 2019, 11:00 AM Michael F. Schönitzer <
notifications@github.com> wrote:

[2019-03-16 19:19] MartyLake commented on #613
The problem is, a soon as I enter any key, the error disappear. Should I
take a screenshot or is there a better way to do it?

Le sam. 16 mars 2019 à 18:51, Michael F. Schönitzer <
notifications@github.com> a écrit :

[2019-03-16 20:46] hq6 commented on #613
After the error disappears, you can try using the `:messages` command to bring them back.
If that does not work, I think you'll have to fall back to using a screenshot.

[2019-03-17 12:26] ranebrown commented on #620
@CharlesB2 I'm haven't been able to reproduce this issue. Is it a specific link or any link on the diary page that causes the problem? Were your links built with `VimwikiDiaryGenerateLinks`?

[2019-03-17 12:47] ranebrown commented on #619
Using either of the below formats makes the link work as expected and can be used as a workaround for now.

[code]
I think the desired behavior would be the ability to escape the parenthesis `\(` and `\)` or to allow html encoding `%28` and `%29`.

[2019-03-17 13:26] ranebrown commented on #514
I think this issue is related to using an alternative syntax not officially supported by vimwiki and doing that is probably going to break some internal workings. I'm closing this but feel free to post any solutions or workarounds that others might find useful.

[2019-03-17 13:26] #514 closed

[2019-03-17 13:30] ranebrown commented on #592
I tested this with a minimal setup and saw the same behavior. Not sure when one of us will have a chance to debug but it is on the list.

[2019-03-17 13:31] ranebrown commented on #592
This doesn't seem at all related to VOoM or any other plugins.

[2019-03-17 14:07] ranebrown commented on #553
I believe this was fixed with #377.

[2019-03-17 14:07] #553 closed

[2019-03-18 04:27] ranebrown commented on #513
@Nudin I created a pull request template and an issue template [here](https://github.com/vimwiki/vimwiki/tree/master/.github). They probably need some modifications but I think it is a good starting point. The text in the respective file will be shown when opening a new pull request or issue.

[2019-03-18 04:29] ranebrown commented on #513
I was thinking it might be good to add a note about trying to reproduce the issue with a minimal vimrc using `vim -u min_vimrc` and providing a basic example. What do you think?

[2019-03-18 08:58] shiro commented on #461
Yep, that did it!
Should we consider this a solution or a hack? Not sure about it...

[2019-03-18 10:49] MartyLake commented on #613
I managed to print the messages to clipboard using https://stackoverflow.com/questions/41663646/how-to-copy-to-clipboard-3-last-lines-from-messages :)
there you go:
[code]

[2019-03-18 16:27] Nudin commented on #621
Hey, I really like to have syntax-highlithing in the HTML-export. But I also think we shouldn't add JS to the default template since most users won't need it. And I think we should handle this and the math-rendering consistently.
Currently for the math rendering we explain in the help-file how to enable it. So we could do the same for this. On the other side I fear that the documentation if becomi

[2019-03-18 17:55] gpanders commented on #621
@Nudin I think setting it in an option (default `0`) is a fine idea. This would require only minimal documentation additions and would work out of the box for most users. Anyone who wants to tweak the default syntax highlighting/MathJAX options has the ability to do that by using a custom template.

[2019-03-18 18:51] shiro commented on #461
Ok, apparently the highlighting and folding were only working inside of wikis (but the highlighting behaviour also occurs with only vimwiki as well).

With the following config everything works globally and some pandoc modules can be added as needed.

[code]

[2019-03-18 20:49] optik-aper commented on #621
I completely agree with @gpanders that this shouldn't be a default.  I personally do everything I can to avoid a dependency on javascript and it's easy enough to add in as needed.  When I initially looked at handling the syntax highlighting without highlight.js I decided to try rendering color markup for the code snippets through a python library (the name escapes me now) but I haven't actually sa

[2019-03-18 23:01] #608 closed

[2019-03-19 03:05] ranebrown commented on #549
Sounds like this was a configuration issue so I'm going to close it. Feel free to reopen if you think there is something else going on.

[2019-03-19 03:05] #549 closed

[2019-03-19 19:51] ranebrown commented on #517
The syntax option determines how things like links are created `[[page|description]]` vs `[description](page)` and how headers are display `= Header =` vs `# Header`. As for converting files to html when using markdown syntax - that isn't officially supported yet. There are a couple different ways to do this manually though.

You might be interested in #461 and #578

It doesn't look like there is

[2019-03-19 19:51] #517 closed

[2019-03-19 20:31] cjtapper commented on #623
I'm also not seeing this behaviour. Markdown links are being correctly generated.

[2019-03-19 21:19] ranebrown commented on #623
I'm closing this since there hasn't been a response. There are a few additional commands that were not generating markdown links which have been fixed in #529. This PR should be merged to the `dev` branch soon.

@maikeldotuk If you are still having issues first test out the `dev` branch and then reopen this. Thanks!

[2019-03-19 21:19] #623 closed

[2019-03-19 21:25] #626 closed

[2019-03-19 21:37] abers commented on #461
I am slightly confused by the proposed solution. Doesn't `let g:pandoc#filetypes#pandoc_markdown = 0` stop vim-pandoc from working with markdown files? Adding the above to my .vimrc results in markdown files no longer using the vim-pandoc-syntax and folding stops working in markdown files.

I've experimented with various setups for vimwiki and vim-pandoc and seem to keep ending up in situation whe

[2019-03-19 21:41] ranebrown commented on #551
@indeedwatson  I would assume this is related some settings in your `.vimrc`. Take a look at `:h textwidth`, `:h formatoptions`, `:h fo-table`.

Try `:set textwidth=120` or a larger number and see if that solves your issue.

[2019-03-19 21:47] redapemusic35 commented on #461
I committed out `let g:pandoc#modules#enabled = ["formatting", "folding", "toc"]
let g:pandoc#formatting#mode = "h"`

which seemed to help. I now have folding enabled but syntax varies for some reason. If it bothers me too much, the difference in syntax, I can change it on the fly with :setfiletype pandoc or :setfiletype markdown. It is not the best but other then highlighting, I have not noticed

[2019-03-19 22:20] ranebrown commented on #476
@nbraun-clgx I personally think the extra syntax highlighting makes the wiki look cluttered. You should be able to achieve what you want fairly easily but creating a custom syntax file `~/.vim/after/syntax/vimwiki.vim`.

For example, if you wanted to highlight a line starting with `NOTE:` until the first blank line you could use something like this:

[code]

You would just need to create the appro

[2019-03-19 22:42] Nudin commented on #513
@ranebrown:

- About the issue template: I created one it the past but apparently github fooled me since the commit is empty!? Anyway I would remove point 1 since most people know it anyway and the rest won't listen, but it sounds unnessacary withering. Another point that defnitly has to be in there it asking the people about what syntax they use or even better asking them to copy-paste their vimw

[2019-03-19 23:04] Nudin commented on #476
I think this feature would be nice for some usercases – but I also think that it would be annoying for a lot of users. One could add it as an Opt-in feature, but I would prefere not to but instead split it into an own plugin similar to what @ranebrown suggests – I hope to have a large set of plugins working together of building upon vimwiki in the future. (There are already quite [some](https://gi

[2019-03-19 23:13] Nudin commented on #504
I propose to 'branch' 54d1a997 as new version. That way we have all the changes that have been in `dev` for a while but still let the huge pille of new changes of the last days hang in `dev` for further testing them.
If noone opposes I will prepare the new version later this week and clean up the branches.

[2019-03-20 00:12] hq6 commented on #504
I think this makes sense, although I am slightly concerned about the number of issues we've still yet to triage. There is the possibility that some of the existing Issues were introduced by commits in the `dev` branch and they become a problem for more people.  There is also the possibility that `dev` fixes many of the outstanding issues, so this release could also be a blessing on that front.

@r

[2019-03-20 04:16] ranebrown commented on #504
@Nudin I think creating a release is a great idea. It looks like there are two commits that shouldn't be included that are prior to the one you mentioned - 08ec02a7554e9981967f0a4443ea310b7fbdccd8 and 21f5069e48d92af17a0b8b805342e956282e19ac?

I haven't noticed issues that are only present on the `dev` branch. Most of the time it is either only on `master` or on both. I think with the amount of ti

[2019-03-20 04:27] ranebrown commented on #578
Moved this information to https://github.com/vimwiki/vimwiki/wiki/Connected-Plugins

[2019-03-20 04:27] #578 closed

[2019-03-20 04:33] ranebrown commented on #438
@emilhuseynli  I'm not seeing this behavior in the latest `dev` branch. I created a diary page for the current day and then typed `this is a test` and visually selected the text. Pressing enter creates a link and enter again follows the link and creates the page.

Is this the same scenario as when you saw the issue?

[2019-03-20 09:39] jonathonpday opened #633 "Backspace from Wiki note to index not working properly on a Macbook"
I am new to VIm and Vimwiki and have Vimwiki installed on two machines: a work Linux laptop and my home Macbook air.

On Linux there are no issues at all. On the Macbook though I can create a link on the wiki `.index` page and click through to a new note. However, when I try to `backspace` back to the `.index` nothing happens, until I press enter where then an error message is displayed:

`E71 err

[2019-03-20 12:36] ranebrown commented on #513
I made a couple changes to the issue template but feel free to modify things as you see fit.

Creating a wiki for each syntax to use for testing is an awesome idea! I think the minimal vimrc and those wikis should be a priority since they would definitely help us with debugging issues and testing fixes!

[2019-03-20 12:39] ranebrown commented on #633
I haven't seen this issue on a mac myself.

1. Are you using the default syntax?
2. Can you post your `.vimrc` or at least the vimwiki settings?
3. Are there any additional error messages or more information such as a line number where the error originates?

[2019-03-20 14:28] ranebrown commented on #233
See #529

[2019-03-20 14:28] #233 closed

[2019-03-20 14:34] ranebrown commented on #618
Does it not work for you to place the visual reinforcement on the line below the header? I added a leading `\` since `-----` results in this behavior: "4 or more dashes at the start of the line is a horizontal line (`<hr />`)"

[code]

You might be interested in [setext style headers](https://spec.commonmark.org/0.17/#setext-headers) but that only supports H1 and H2. We have a couple of issues rel

[2019-03-20 14:40] ranebrown commented on #583
I don't think this is something we plan to implement (@Nudin please reopen this if you feel differently). Please take a look at [fugitive](https://github.com/tpope/vim-fugitive) or [gitgutter](https://github.com/airblade/vim-gitgutter)

[2019-03-20 14:40] #583 closed

[2019-03-20 15:53] Nudin commented on #583
I still keep this in mind and think about if I can come up with a good way to do this. For now I keep this closed.

[2019-03-20 17:06] jonathonpday commented on #633
My Apologies, to answer your questions:

1. As far as I am aware yes, I am using the default syntax (.wiki) and I have not touched the source code as I do not yet know vimscript.

2. My vimrc contains the following:

`set number`
`syntax on`
`set tabstop=2`
`set softtabstop=2`
`set expandtab`
`set cursorline`
`set showmatch`
`set wildmenu`
`colorscheme slate`
`filetype indent on`
`filetype plugin

[2019-03-20 18:20] hq6 commented on #633
How did you install vimwiki?

If it was through `git clone`, please give the commit hash as well as the output of `git diff` in the source directory.

If it was through some other mechanism, please open the file `vimwiki/autoload/vimwiki/base.vim` and copy out the full body of the function `vimwiki#base#go_back_link` to this Issue.

[2019-03-20 18:40] ranebrown commented on #633
@hq6 It looks like you are interested in taking this over (which is fine by me). We have plenty of open issues so it doesn't make sense for more than one of us to work on the same one.

[2019-03-20 18:52] hq6 commented on #633
@ranebrown That's a fair point, and I'll try to find new issues in the future to avoid causing you to context switch.

My previous modus operandi was to try to provide input wherever I saw an opportunity to be helpful, but I agree that it's probably more efficient (at least until we clear this backlog) if only one of us is looking at each issue.

I will take over this issue to avoid you needing to

[2019-03-20 18:57] jonathonpday commented on #633
@hq6 Thanks for the suggestion, I did git cline but I am afraid I dont know what you mean by the commit hash - a quick google was not helpful but I will keep looking.

the `git diff` resulted in:
`diff --git a/vimrc b/vimrc`
`index 6b60a3f..48b1eeb 100644`
`--- a/vimrc`
`+++ b/vimrc`
`@@ -9,4 +9,5 @@ set wildmenu`
` colorscheme slate`
 `filetype indent on`
 filetype plugin on`
`-`
`+set nocompatib

[2019-03-20 19:00] jonathonpday commented on #633
found it I think!

commit hash is:

dc011a65fd526df1dc1284f7b3ebf7fcbf593db7

hope that helps!

[2019-03-20 20:07] hq6 commented on #633
@jonathonpday , I think you might not be in the `vimwiki` source repository, since the commit hash you provided does not exist in the public Vimwiki repository.

Please try running the following commands and copy the output here.

[code]

[2019-03-20 20:30] jonathonpday commented on #633
@hq6

git branch:

`* master`

git log:

commit 605604fc23e5717dd7063c1b7265c3d6c7b7ed0a (HEAD -> master, origin/master, origin/HEAD)
Author: Rane Brown <ranebrown@users.noreply.github.com>
Date:   Sun Mar 17 22:24:51 2019 -0600

    Create an issue template

commit 7f98bfbe4bb887edde1c88335138591f81d87be5
Author: Rane Brown <ranebrown@users.noreply.github.com>
Date:   Sun Mar 17 22:06:10 2019 -06

[2019-03-20 20:54] hq6 commented on #633
If `git` does not detect a difference, the only thing I can think of is that somehow the line endings are incorrect and that's eating up the `endif`. This is a long shot, but can you run the following commands and copy the output?
[code]

[2019-03-20 21:43] jonathonpday commented on #633
@hq6

both grep commands return the same output:

`grep: warning: recursive search of stdin`

No other output seen at the moment.

[2019-03-20 21:46] hq6 commented on #633
@jonathonpday Sorry, please see the edited commands.

[2019-03-20 22:07] jonathonpday commented on #633
@hq6 Sorry, I cannot see any edits to the commands, I ran the ones above again just in case but the result (recursive search of STDIN) was the same.

[2019-03-20 22:08] hq6 commented on #633
@jonathonpday I added `*` to the end of the `grep` command.

[2019-03-20 22:16] jonathonpday commented on #633
@hq6 Sorry did not go through it has now!

grep -A55 -r 'function! vimwiki#base#edit_file' *

output is:

autoload/vimwiki/base.vim:function! vimwiki#base#edit_file(command, filename, anchor, ...)
autoload/vimwiki/base.vim-  let fname = escape(a:filename, '% *|#`')
autoload/vimwiki/base.vim-  let dir = fnamemodify(a:filename, ":p:h")
autoload/vimwiki/base.vim-
autoload/vimwiki/base.vim-  let ok =

[2019-03-20 22:17] jonathonpday commented on #633
@hq6

grep -A55 -r 'function! vimwiki#base#edit_file' * | xxd

output is:

00000000: 6175 746f 6c6f 6164 2f76 696d 7769 6b69  autoload/vimwiki
00000010: 2f62 6173 652e 7669 6d3a 6675 6e63 7469  /base.vim:functi
00000020: 6f6e 2120 7669 6d77 696b 6923 6261 7365  on! vimwiki#base
00000030: 2365 6469 745f 6669 6c65 2863 6f6d 6d61  #edit_file(comma
00000040: 6e64 2c20 6669 6c65 6e61 6d65 2c20 616e  nd

[2019-03-21 01:09] hq6 commented on #633
Your line endings look normal for a Mac and I have not been able to reproduce the problem.
I can only suggest trying to re-install the plugin, but I suspect it is a problem caused by an OS setting, since Vim is clearly not able to parse the file correctly.

[2019-03-21 01:47] jonathonpday commented on #633
Thanks for the look will try later :)

[2019-03-21 03:07] ranebrown commented on #603
@TheSilvus  This is related to using two `||` with no alternate text i.e. if you use something like this `{{link|my_description|style="width=200px;"}}` then everything except `my_description` would be concealed. I think the desired behavior is to use the `link` text if the alternate text is blank. Do you agree?

I think this is something that will need addressed in the syntax handling but will lik

[2019-03-21 03:11] ranebrown commented on #595
Closing due to no response from author.

[2019-03-21 03:11] #595 closed

[2019-03-21 03:15] ranebrown commented on #569
It looks like this might have been resolved in the latest `dev` branch. @lifranc, @bluddy, @evantravers can any of you confirm if there is still an issue?

[2019-03-21 03:20] ranebrown commented on #543
@NausX I agree there is quite a bit of inconsistency there which needs addressed. Thanks for the detailed description! If you are interested in creating a PR to fix this that would be awesome, otherwise its on the list.

[2019-03-21 03:24] #523 closed

[2019-03-21 11:43] Nudin commented on #504
@ranebrown No, 08ec02a and 21f5069 are not ancestors of 54d1a99, they have been merged into `dev` just a couple of days ago, github just shows all the commits landing in dev linearized in chronological order. Quite confusing…

I'd propose a rule of thumb like "release a new version whenever X new bigger features got merged".

[2019-03-21 17:01] hq6 commented on #504
I think it may be beneficial to have multiple triggers for releasing a new version, so that bugfixes and small feature tweaks can also be released more quickly.

What about releasing a newer version whenever one of the following occurs, with variables that we can adjust over time as we try to balance between stability and progress.
1. X new bigger features got merged
2. W weeks have passed and mor

[2019-03-21 19:02] ranebrown commented on #504
Those are all valid points but I don't think we want to overcomplicate this. Maybe for now we should just discuss a new release whenever one of us thinks there is a valid reason to do so?

[2019-03-21 19:34] ranebrown commented on #107
Markdown to HTML conversion is not currently supported. See #57.

[2019-03-21 19:34] #107 closed

[2019-03-21 19:40] ranebrown commented on #342
@qjcg I tested this and I believe the issue has been fixed. If you are still seeing this behavior please reopen.

[2019-03-21 19:40] #342 closed

[2019-03-21 19:52] ranebrown commented on #328
@llinfeng It sounds like this was a configuration issue on your end. If you are still having problems please test against the latest `dev` branch and reopen this.

[2019-03-21 19:52] #328 closed

[2019-03-21 19:56] ranebrown commented on #343
@mediapathic If you are still having issues with this please test agains the latest `dev` branch and reopen.

[2019-03-21 19:56] #343 closed

[2019-03-21 20:07] ranebrown commented on #406
@yangkev This should be fixed. If you are still having issues pease reopen.

[2019-03-21 20:07] #406 closed

[2019-03-21 20:14] ranebrown commented on #237
Renaming a page should now work but the links are not correctly updated. Related to #406

[2019-03-21 20:19] ranebrown commented on #406
This actually still seems to be an issue but lets track it in the other duplicate issue.

@Nudin Can you take a look at this since it is something you worked on in the past?

[2019-03-21 20:33] HugoNikanor commented on #621
A while ago I looked at integrating highlight(1) with VimWiki. I prefer that solution since it generates HTML tags for the code highlighting during the build step, not relying on javascript.

The problem I found with adding the feature was that the current HTML creator doesn't keep track of what's in the code block, but rather just creates start and end tags for them (I believe).

[2019-03-21 21:33] evantravers commented on #569
@ranebrown I have not been able to replicate the bug on `dev`… but I honestly haven't seen it for a while on `master` either… I can't tell if that's because I'm being more careful with my habits or what.

[2019-03-21 21:35] jpittis commented on #569
I've just confirmed that this is fixed on the latest `dev` branch but not on `master`.

[2019-03-21 22:16] ranebrown commented on #569
Thanks for the update. I'm going to close this since it has been fixed. We are in the process of releasing a new version that will be available on `master` within the next couple of weeks. Feel free to reopen if anything comes up.

[2019-03-21 22:16] #569 closed

[2019-03-21 22:19] Nudin commented on #504
It's mostly done. I created a new branch `rel-2.4-pre` and prepared the release. Since it's a quite big release and it's my first release I go with more caution than described in the `CONTRIBUTING.md`. Therefore I created a release candidate:
https://github.com/vimwiki/vimwiki/releases/tag/v2.4-rc1

Please help testing it – if no new regressions are found I will:
- [ ] merge it to master
- [ ] tag

[2019-03-21 22:20] hq6 commented on #504
@ranebrown , I concur with that sentiment. I'm simply offering a small catalog of possible valid reasons, and would be happy to see more as people think of them. :)

[2019-03-21 22:22] ranebrown commented on #90
This issue is still present.

[2019-03-21 22:58] Nudin commented on #513
@ranebrown @hq6 I created a repo on my account for now and stared to fill it for the vimwiki-syntax. I will move it to the vimwiki-organisation as soon as @EinfachToll adds me to the group. I allready added you as maintainers – please help filling it with life.

[2019-03-21 22:58] #513 closed

[2019-03-22 02:38] hq6 commented on #552
This issue appears to be fixed in `dev` branch. The fix will be merged to `master` on the next release.

[2019-03-22 02:38] #552 closed

[2019-03-22 03:20] ranebrown commented on #633
@jonathonpday I just created a new [troubleshooting page](https://github.com/vimwiki/vimwiki/wiki/Troubleshooting) with some steps you can try.

[2019-03-22 03:36] ranebrown commented on #179
The subdirectory issue seems to be fixed on the `dev` branch though there are still some related issues such as `[[../page]]` links and markdown links not being renamed. (#237 #90)

[2019-03-22 03:36] #179 closed

[2019-03-22 03:38] ranebrown commented on #598
@Nudin can you give link to a few examples in the code?

Any specific editors/tools that you have had issues with?

[2019-03-22 03:40] ranebrown commented on #182
Headers with parenthesis also don't work for markdown syntax but I would guess that will be fixed with #619

[2019-03-22 03:53] ranebrown commented on #481
Same issue with the default syntax.

[2019-03-22 04:06] ranebrown commented on #20
@i-interprete-on-the-fly Pretty sure this still doesn't work but it seems like more of a feature request to me. If you are willing to figure out how to get a `VimwikiLinkHandler` working or open a pull request yourself that would be great. Otherwise this is probably pretty low priority right now.

[2019-03-22 04:27] #404 closed

[2019-03-22 06:43] jonathonpday commented on #633
@ranebrown Hi, I have just followed the troubleshooting instructions as suggested and that does seem to have removed the error and backspace now works normally. That seems to indicate a configuration issue, but I am not sure how to proceed?

[2019-03-22 07:03] jonathonpday commented on #633
@ranebrown is there a way to mirror the Vimeo minimal setup with dropbox and I can see if that works?

[2019-03-22 12:37] abers commented on #461
Update: I have now tried the settings detailed in my previous post across three of my devices and all seems to be working well. Folding works in all new vimwiki files and can be fixed on older files in the majority of cases by running `:set filetype=pandoc` once per file. There are 2-3 files which for whatever reason the folding refuses to work still. Even deleting the files and recreating them do

[2019-03-22 13:53] ranebrown commented on #440
@jychri is your situation the same as the above mentioned edge case?

[2019-03-22 13:58] ranebrown commented on #109
This doesn't seem to be an issue anymore. Please reopen if you are still experiencing this.

[2019-03-22 13:58] #109 closed

[2019-03-22 14:00] ranebrown commented on #542
@Nudin looks like this can likely be closed?

[2019-03-22 14:05] ranebrown commented on #174
This should be fixed with #256. If you are still having issues please try the `dev` branch and then reopen.

[2019-03-22 14:05] #174 closed

[2019-03-22 14:15] ranebrown commented on #177
@Fruglemonkey can you confirm if this is still an issue in the latest `dev` branch? #256 was completed and may have resolved the issue.

[2019-03-22 14:24] ranebrown commented on #177
I did a quick test and this seems resolved for both markdown and default syntax. If you are still having issues please reopen.

[2019-03-22 14:24] #177 closed

[2019-03-22 15:56] ranebrown commented on #633
You need to use a vimrc at `~/.vimrc` unless you use the `-u` option to point to a different one as done on the troubleshooting page. Take a look at `:h startup` point 3. You might also be interested in something like [this](https://developer.atlassian.com/blog/2016/02/best-way-to-store-dotfiles-git-bare-repo/). I'm going to close this issue but feel free to comment here if needed.

[2019-03-22 15:56] #633 closed

[2019-03-22 17:35] hq6 commented on #427
@sacenox , Control-Space does not work for me either, but that is because it is the hotkey used by my Input Method Editor to switch between different language inputs.

Do you have multiple input languages on your machine, and/or other programs that could map this key combination?

[2019-03-22 17:45] hq6 commented on #615
@TheSilvus , I cannot reproduce this on `master` or on `dev`. That is, the HTML generates fine for me even if the file has the name you gave. I used the command Vimwiki2HTML.

Can you give more details about what you are doing to produce this error?

[2019-03-22 17:49] hq6 commented on #611
What is the intended behavior, if the HTML file has the anchor but not in a format that Vimwiki understands?

Just to open the file?

[2019-03-22 18:28] jonathonpday commented on #633
@ranebrown Hi, I think I am very close to resolving the issue if I could possibly just ask for one more insight.

1) I have removed vimwiki directories from my machines and placed them purely in  Dropbox.

2) I have alos placed my `vimrc.vim` file in Dropbox as well which contins the following settings:

[code]

4) This remote `vimrc.vim` is accessed via the local `vimrc` which contains only the f

[2019-03-22 23:54] Nudin commented on #598
`$ grep -n '[[:cntrl:]]' *` shows the occurences:
[code]

An example for a tool that has problem with them is `meld`. But also commandline-tools like (grep, cat, git…) behave weird since they'll "execute" them when printing out to stdout.

[2019-03-23 11:45] ranebrown commented on #633
What do you have in `$HOME/Dropbox/vim` other than your `vimrc`? Is there a reason you are adding that you your runtime path?

There might be a conflict if you have the vimwiki plugin in multiple locations like `$HOME/.vim/pack/plugins/start/` and somewhere else.

Maybe try renaming your `.vim` directory and then recreating a new one to start from scratch.

[2019-03-23 17:17] ranebrown commented on #504
@Nudin I've been using the tag you created and haven't had any issues so far (other than known stuff, some of which has been fixed more recently). Still testing but wanted to give you an update.

[2019-03-23 17:26] ranebrown commented on #135
@jjaderberg This appears to be fixed on the latest `dev` branch. If you are still having issues please reopen.

[2019-03-23 17:26] #135 closed

[2019-03-23 19:58] ACGarland commented on #611
That seems like a reasonable approach (do the best we can to arrive at the anchor, but default to file scope if that is all that is possible).

[2019-03-23 21:44] hq6 commented on #504
@Nudin I was on the dev branch for a while before you released the tag and saw no new issues. I am now on the tag and still see no issues so far.

[2019-03-24 13:16] ranebrown commented on #413
`:VWB` seems to work correctly for default and markdown syntax on a Mac. Tested the same on windows and it does not work. I would guess this is related to path handling (#478) so I'm going to set this as low priority until that is complete.

[2019-03-24 14:28] Nudin commented on #504
It's done! 2.4 is out. Spread the word!

[2019-03-24 14:28] #504 closed

[2019-03-24 15:02] Nudin commented on #504
I put it on HN and reddit:
https://news.ycombinator.com/item?id=19476590
https://www.reddit.com/r/commandline/comments/b4x8q6/vimwiki_release_24_is_finally_out/

[2019-03-24 21:07] brennen commented on #422
I'd thought that maybe it would work to do one with leading spaces for the blank lines, like so:

[code]

...can confirm that this still produces multiple blockquotes.  I'm not aware of any workaround at this point.

[2019-03-24 22:36] hq6 commented on #433
I cannot reproduce this on either `master` or `dev`.

Are you still able to reproduce this?

[2019-03-24 22:41] hq6 commented on #579
@volker-fr , @horkhork , Can I get a commit hash at which this feature existed, so I can find which commit removed it to determine why?

[2019-03-24 22:46] hq6 commented on #611
If you would like this to be fixed soon and feel comfortable making a stab at it, please create a PR.

Otherwise, we will eventually get to it, but it will likely take a while since there are many bugs and still issues yet to be triaged.

[2019-03-25 04:26] hq6 commented on #527
I am not sure I entirely understand this problem. Can you give concrete steps for reproducing the behavior?

[2019-03-25 13:38] jahagirdar commented on #621
For a non JS implementation how easy/difficult would it be to pass the codeblock through vim's builtin `:TOhtml` command?

[2019-03-25 15:49] volker-fr commented on #579
Commit https://github.com/vimwiki/vimwiki/commit/622186195795e19566f5041cece6880a55265545 removed it.

FYI: When I search for some changes and don't know the commit, I personally found it the easiest (to remember): `git log -p`, then search for the string that's removed line, then scroll a bit back to see which commit it was. :)

[2019-03-25 18:12] ranebrown opened #638 "Version 2.5 Release"
Issue to track the next release. I know v2.4 was just released but there have already been a large number of changes/fixes since then. Just want to get this on the roadmap. I created a [project](https://github.com/vimwiki/vimwiki/projects/2) if anyone is interested.

[2019-03-25 18:12] ranebrown commented on #628
Let's move discussion to #638

[2019-03-25 18:12] #628 closed

[2019-03-25 22:09] ranebrown commented on #422
I'm labeling this as an enhancement/feature request for now. @brennen I don't anticipate any of us getting to this anytime soon but if you want to open a PR that would be awesome.

[2019-03-25 22:10] ranebrown commented on #438
Please reopen if you are still experiencing this behavior, otherwise I'm considering this as fixed.

[2019-03-25 22:10] #438 closed

[2019-03-25 22:20] ranebrown commented on #620
If you are still having problems please test against the latest `dev` branch and reopen.

[2019-03-25 22:20] #620 closed

[2019-03-25 23:05] hq6 commented on #579
Looking at that commit, I do not see an obvious reason for its removal, other than perhaps reducing complexity during the refactoring commit that axed it. Moreover, it seems like a useful option to have.

@volker-fr , If you have the time, I would not be opposed to merging a PR that re-introduced this option by reading it in `vimwiki#diary#diary_date_link`.
Otherwise, we will try to get to it afte

[2019-03-25 23:11] hq6 commented on #353
@dpc, Is this issue still reproducible against `dev` or `master`? If so, please give concrete steps for reproducing it.

[2019-03-25 23:38] hq6 commented on #203
This has been fixed by #529.

[2019-03-25 23:38] #203 closed

[2019-03-26 15:19] project-repo opened #639 "VimwikiGenerateTags does not support markdown links"
Hi,
I recently  discovered vimwiki and I am enjoying it greatly. Great work guys! However, while attempting to use markdown with vimwiki, I discovered that I was not able to use VimwikiGenerateTags since it continued to use the vimwiki syntax. After some investigation, I found that the reason for this appears to be the wikilink_prefix/sufifx variable, defined in autoload/vimwiki/vars.vim, line 107

[2019-03-26 15:33] ranebrown commented on #639
This is something that should be fixed with PR #634. It should be merged to the `dev` branch soon but won't be available on `master` until the v2.5 release. See #638 to keep up to date on the release status.

[2019-03-26 15:34] ranebrown commented on #639
I decided to leave this open until the merge is actually complete.

[2019-03-26 15:38] project-repo commented on #639
Awesome, I look forward to the release. Amazing support guys! Never in my entire time on github has anyone responded so quickly!

[2019-03-26 18:34] hq6 commented on #555
I am a bit confused by this issue.
Can you clarify what you mean by "highlighting breaks"?
That is, it is highlighted with the wrong syntax or not highlighted at all?

Also, are you specifying the syntax explicitly or relying solely on automatic syntax detection?

[2019-03-26 19:00] ranebrown commented on #639
Should have basic support now but the generated descriptions aren't working all the way yet. They currently just use the first found header. #635 fixes this behavior.

[2019-03-26 22:37] graywolf opened #640 "Bold inside a word (or sentence in this case)."
Currently it's not possible to make bold just part of the word (as already mentioned https://github.com/vimwiki/vimwiki/issues/545). That works reasonably well for english texts, however it does not really play nice with languages that do not use spaces to separate words.

I don't know much about vim programming, but if I figure out how to add alternative sequence to make bold, something that is r

[2019-03-26 22:58] hq6 commented on #640
I suspect this might cause problems with having to double-escape the sequence `!*` or whatever other sequence you choose. I think it might make more sense for it to be an option which, if enabled, would cause `*` to work inside words.

@EinfachToll @Nudin @ranebrown , Do you want to weigh in on this?

[2019-03-26 23:52] Nudin commented on #640
@hq6 I'm not convinced that there's not an more elegant way to solve that. I'd hope for a better solution with an improved regexp that doesn't depend explicitly on spaces. `\<\>` should match word-boundaries but it's implementation in vim is rather primitive and based on `iskeyword`…
This leads me to wonder how do you navigate word-wise in CJK texts? @graywolf Can you educate us a bit on that? Do

[2019-03-26 23:57] Nudin commented on #640
Something like `\(\W\|\<\)` could work as delimiter – but is not as elegant than geting a regex to work that realy works word-wise.

[2019-03-27 03:01] ranebrown commented on #640
I agree, this shouldn't be an option but rather an improvement to the existing syntax definition / regex patterns. From what I have found the commonly accepted way to handle this is to only allow asterisks and not underscores for intraword emphasis. ([CommonMark Spec](https://spec.commonmark.org/0.28/#emphasis-and-strong-emphasis), [Meta StackExchange](https://meta.stackexchange.com/questions/2403

[2019-03-27 03:06] ranebrown commented on #618
@divramod I'm going to close this but feel free to reopen if you want to follow up.

[2019-03-27 03:06] #618 closed

[2019-03-27 03:06] ranebrown commented on #551
Please reopen if you require further help.

[2019-03-27 03:06] #551 closed

[2019-03-27 03:10] ranebrown commented on #318
I'm going to close this since the fix is in `dev` and slated for the v2.5 release (#638)

[2019-03-27 03:10] #318 closed

[2019-03-27 03:19] ranebrown commented on #526
@atimholt, @tonyg-mg A new option `g:vimwiki_toc_header_level` was added in PR #629 which should give you the desired behavior. The TOC is still placed at the top of the file but it can be manually moved and will update correctly from the new location. Please give this a try on the `dev` branch. This will be part of the v2.5 release #638.

[2019-03-27 03:19] #526 closed

[2019-03-27 03:23] ranebrown commented on #470
Looks like this has been added to the documentation under `vimwiki-syntax-links`.

[2019-03-27 03:23] #470 closed

[2019-03-27 03:29] ranebrown commented on #446
@cizmazia If you create a PR we will be more than willing to review and merge in the new option. Otherwise this probably isn't going to happen anytime soon.

[2019-03-27 03:46] ranebrown commented on #434
@joaocortes What is your expected behavior for `>>`? The default behavior is `>>			Shift [count] lines one 'shiftwidth' rightwards.` which is pretty much the same as increasing the list level (see `:h >>`) Try using a different mapping like `map nn VimwikiIncreaseLvlSingleItem` and test if that persists to a different file.

Please reopen if you are still having problems.

[2019-03-27 03:46] #434 closed

[2019-03-27 03:51] ranebrown commented on #336
@unix2012 If you still need help please provided a detailed description of what you are trying to do and the expected behavior and what behavior you are actually seeing. Include all the information requested in the [issue template](https://github.com/vimwiki/vimwiki/blob/master/.github/issue_template.md).

[2019-03-27 03:51] #336 closed

[2019-03-27 03:56] ranebrown commented on #307
@hgiesel, @protist There is a new option `g:vimwiki_create_link` that was added in PR #528. This is merged to the `dev` branch and will be part of the v2.5 release #638. Give that a try and reopen if things aren't working as expected.

[2019-03-27 03:56] #307 closed

[2019-03-27 04:00] ranebrown commented on #329
The documentation has been updated and regarding nested syntaxes and the header color highlighting was a configuration issue so I'm going to close this. Please create a new issue needed.

[2019-03-27 04:00] #329 closed

[2019-03-27 04:02] ranebrown commented on #231
See #529, #634, #635

[2019-03-27 04:02] #231 closed

[2019-03-27 06:19] hq6 commented on #640
@ranebrown I think your suggestion makes sense, although I think a backwards-incompatible change might justify a version jump by itself, possible paired with other backwards-incompatible changes.

@Nudin, I'm not sure I understand your suggestion. Are you suggesting that we should try to discover word boundaries in a more general-purpose way and still use `*` and `_` around word boundaries for a d

[2019-03-27 12:52] Nudin commented on #640
Yes.

[2019-03-27 13:07] indeedwatson commented on #551
Thanks for responding. It happens past the textwidth that I have set by default, and if I manually set it to something high like 300, it will break at the same point as before.

These are the formatting options I have for md files:

[code]

However, commenting out that and reloading vim doesn't change the behavior. It's probably not an issue with vimwiki if you can't reproduce it, but I can't figu

[2019-03-27 13:12] ranebrown commented on #551
Give the steps on [this page](https://github.com/vimwiki/vimwiki/wiki/Troubleshooting) a try. If that works it is likely something with your config so just start with no other plugins or settings and add things back in until you can isolate the problem.

[2019-03-27 18:04] graywolf commented on #640
@Nudin disclaimer that needs to be done is that I'm not a native speaker, I'm just studying it and trying to use vimwiki to make a notes. So most of my japanese text are short (one or few sentences) and therefore usage by native speaker could be way different.

That out of way, I use normal word movements (`e`, `b`) without any special settings or plugins. So for example sentence `これはだれの犬ですか。`, wh

[2019-03-27 20:54] hq6 commented on #640
I do not have a strong opinion on whether it makes more sense to change what the syntax means inside words vs trying to find word boundaries in a different way.

The disadvantage of the former is that we're breaking backwards compatibility, while the disadvantage of the latter if that it might be trickier to implement correctly. The advantage of the former is that it might generalize more easily t

[2019-03-28 11:21] graywolf commented on #640
In the mean time here is a patch I'm using in the mean time https://github.com/graywolf/vimwiki/commits/enforceable_typefaces , seems to work well.

[2019-03-28 12:49] ranebrown commented on #205
I'm assuming this is related to the html output e.g. turning `(tm)` into `&trade;` which results in ™.
I found [this link](http://misaka.61924.nl/#misaka.smartypants) with some more examples.
This would be a nice feature to add, PRs are welcome.

[2019-03-28 13:35] gpanders opened #642 "Custom Wiki2HTML failes on Windows"
Because Vimwiki automatically normalizes all paths so that they all end with a trailing path separator, all of the paths on Windows end with a "/" which get converted to "\\" in the `system` call in `vimwiki#html#Wiki2HTML`.

The consequence of this is that when the paths are sent to the custom_wiki2html program, the end quote surrounding the path is escaped (due to the \\). This means that the se

[2019-03-28 15:16] ranebrown commented on #642
@gpanders can you provide the vimwiki settings you are using, particularly the custom Wiki2HTML settings?

[2019-03-28 21:54] hq6 commented on #615
In the absence of a response, I am closing this Issue for repo sanitation.
Please feel free to reopen or create a new issue if someone is able to reproduce this.

[2019-03-28 21:54] #615 closed

[2019-03-29 00:07] gpanders commented on #642
[code]

convert.py:
[code]

Note that this works on Linux and macOS, it is only on Windows that I am seeing this problem.

[2019-03-29 05:00] ranebrown commented on #642
@gpanders can you give [this branch](https://github.com/vimwiki/vimwiki/tree/custom_html_win) a try and let me know if it works for you?

[2019-03-29 05:43] divramod commented on #618
i can use that, thx for the hint!

[2019-03-29 23:52] #28 closed

[2019-03-29 23:54] ranebrown commented on #129
@patrickdavey It looks like you are still maintaining the gem you created. Is this issue still something that needs addressed?

[2019-03-29 23:56] hq6 commented on #446
This has been merged.

[2019-03-29 23:56] #446 closed

[2019-03-30 00:05] ranebrown commented on #45
Doesn't look like there has been further interest in this so I'm closing.

[2019-03-30 00:05] #45 closed

[2019-03-30 00:10] ranebrown commented on #129
Looks like you have this as a known issue in your README. If you are willing to create a PR against the `dev` branch I will review and merge it.

[2019-03-30 00:23] ranebrown commented on #36
There hasn't been any interest in this for a few years so I'm going to close.

[2019-03-30 00:24] ranebrown commented on #18
If there is still interest please create a PR to support this.

[2019-03-30 00:24] #18 closed

[2019-03-30 00:31] ranebrown commented on #15
@EinfachToll @Nudin @hq6 Is there any interest in making Markdown the default syntax in a v3.0 release? The CommonMark spec is fairly well developed at this point and has been adopted by GitHub (with extensions). I would personally be in favor of this since it is the syntax that I use. If this isn't something that is going to happen I think we should close this instead of leaving it dangling as a

[2019-03-30 00:34] ranebrown commented on #26
If there is any interest in creating a function to support this please create a PR.

[2019-03-30 00:34] #26 closed

[2019-03-30 00:41] ranebrown commented on #94
@hq6 Isn't this something that you had working? What was your implementation?

[2019-03-30 00:43] ranebrown commented on #350
@pkazmier What are your ALE and Vimwiki settings?

[2019-03-30 00:45] ranebrown commented on #542
I'm going to close this under the assumption is was an issue in your branch.

[2019-03-30 00:45] #542 closed

[2019-03-30 00:46] adrianrocamora commented on #36
Oh, I was actually following this thread since recently and didn't notice the date. Well, I'll leave my comment to see if anyone else has any interest

[2019-03-30 00:52] ranebrown commented on #315
This would be quite easy to implement. Just create a new option and wrap these [lines](https://github.com/vimwiki/vimwiki/blob/master/syntax/vimwiki.vim#L158-L175) in an `if` statement using `vimwiki#vars#get_global()` to check the variable status.

[2019-03-30 01:00] ranebrown commented on #289
I think maintaining the current syntax variations is more than enough work and this would create more trouble than it's worth.

[2019-03-30 01:00] #289 closed

[2019-03-30 01:08] ranebrown commented on #215
Please reopen if you are still seeing this behavior. From my testing it has been fixed.

[2019-03-30 01:08] #215 closed

[2019-03-30 01:09] patrickdavey commented on #129
@ranebrown thanks for getting in touch. It's more of a nice-to-have rather than a must have. Basically the issue is that the [vimwiki_markdown gem](https://github.com/patrickdavey/vimwiki_markdown) alters the filenames it writes out. If your wiki is called `Foo Bar.md` it gets written to disk as `foo-bar.html`.

I'll try make time to look at `vimwiki` and see how easy it is to configure what I nee

[2019-03-30 01:11] ranebrown commented on #154
This has been merge to `dev`. See the option `diary_caption_level`.

[2019-03-30 01:11] #154 closed

[2019-03-30 01:46] patrickdavey commented on #129
@ranebrown I updated my `dev` spike -> https://github.com/vimwiki/vimwiki/compare/dev...patrickdavey:dev?expand=1

One issue I need to fix is the way that `vimwiki` deletes files which don't match, I need to fix that up (or else have an option to turn off deleting unmatched files)

What's the nicest way to get this configuration into `vimwiki` ?

1. configuration option for sanitization- `g:vimwik

[2019-03-30 02:11] ranebrown commented on #129
Yep, using a global option defined [here](https://github.com/vimwiki/vimwiki/blob/dev/autoload/vimwiki/vars.vim#L143-L192) (0/1 value) and then checking its value with `vimwiki#vars#get_global()` should do the trick.

I would prefer not to have another option to turn off deleting the files. Maybe reverse the paramaterized name first?

[2019-03-30 02:50] patrickdavey commented on #129
Yip sounds good, and yes I agree, checking the reversed name is the approach I'd use 👍

[2019-03-30 05:38] protist commented on #36
Well, I'd still be keen for this too. I haven't re-commented, because I imagined bumping it regularly wouldn't be great etiquette. FWIW I use tagbar to navigate the headers of the current file, so an additional navigator would still be useful. Not high on the list of priorities for me personally, but still useful.

[2019-03-30 07:04] hq6 commented on #36
@adrianrocamora @protist , It looks like [the PR](https://github.com/vimwiki/utils/pull/3) referenced in this issue was merged. Is there something else that you're interested in that hasn't been resolved?

[2019-03-30 07:07] hq6 commented on #94
@ranebrown , Yes, I do have a local commit that does this, but I think we weren't sure what the right default keymapping was. Any thoughts on what the key mapping should be?

[2019-03-30 07:27] hq6 commented on #15
@ranebrown, My only personal concern with changing the default is that there's no officially supported way (that I am aware of) to automatic convert between syntaxes. This is a concern because I suspect some people will want to move to Markdown after the switch, because they will (likely rightfully) believe that the default syntax will be better supported than non-default syntaxes just by virtue o

[2019-03-30 08:43] hq6 commented on #15
After a little more reflection on this, I vote in favor of closing this issue for the time being, because I do not think the benefits (one fewer line of `.vimrc` for people using Markdown syntax) outweighs the risks.

 * One risk that comes to mind is that Vimwiki's documentation assumes the current default syntax. If we were to change the default syntax, there would be a large degree of confusion

[2019-03-30 08:53] protist commented on #36
@hq6 As per my comments above, this PR just creates a static page as an index. It also has to be run manually. If I understand correctly, this issue is about having an automated, interactive, navigation panel within vim itself, similar to tagbar.

[2019-03-30 09:02] hq6 commented on #36
@protist , In that case, I will reopen this issue.

PR's are welcome; otherwise it will likely take us a while to implement something like this.

[2019-03-30 09:21] protist commented on #36
@hq6 Thank you. As per above, for me personally, it's not super-high priority, but it would be a welcome addition.

[2019-03-30 14:03] ranebrown commented on #94
I think `glt` makes sense since it follows the same format as the other list commands and isn't currently being used. Your suggestion does has a better mnemonic though. Since it can be customized I don't think it makes too big of a difference.

Do you want to pick one and make this change?

[2019-03-30 17:32] hq6 commented on #94
@ranebrown I just looked at that commit and realized that it is not in a state that I would be comfortable putting it into `dev` or even making a PR. The main problem is that my search for tasks is not robust, due to lack of support for finding checkboxes in `autoload/vimwiki/vars.vim`.

I can dig into that and add that support, but it's going to be more time-consuming than simply pushing a commit

[2019-03-30 21:47] johnyoonh commented on #438
Works on dev branch, but not master branch.

[2019-03-31 01:42] #94 closed

[2019-03-31 02:07] ranebrown commented on #438
Confirmed this is still an issue on master. The fix will be part of the v2.5 release. #638

[2019-03-31 02:10] #639 closed

[2019-03-31 03:55] #539 closed

[2019-03-31 16:08] gmoneymagna opened #647 "tags not working on second machine"
Hello. I am very excited about vimwiki. For my use, I need it to be syncd across multiple machines. To accomplish this I use an SQlite server. I have transferred the .wiki and .md files fine and the links work and etc. However, the tags don't work. They don't show as syntax'd when in the :tag: format and they do not show up in a tagsearch. I cannot make new functional tags.

When I try to run

:Vi

[2019-03-31 19:22] ranebrown commented on #647
There should be a hidden `.tags` file in your wiki directory.

You should be able to rebuild the tags on a new machine though and the syntax highlighting should work. You probably have some sort of configuration issue on the second machine. You can try the steps on the [troubleshooting page](https://github.com/vimwiki/vimwiki/wiki/Troubleshooting#minimal-vimrc).

[2019-03-31 19:45] gmoneymagna commented on #647
Thanks I will check the troubleshooting page. However, in the original machine I cannot find a .tags file. The tags work so I assume there is one. It definitely should be in the wiki correct? Because it would make sense if it was stored somewhere else and then it wasn't transferred when I shared the wiki. I searched throughout my entire ~/vimwiki directory using ls -al to show hidden files and cou

[2019-03-31 20:01] ranebrown commented on #647
It should be in your wiki directory. Can you copy your vimwiki settings here? Also, what is the output of `set tags?` after opening your wiki?

[2019-03-31 22:10] ranebrown commented on #25
It looks to me like this has been resolved but the issue was never closed. There are still some issues on Windows with backlinks #413.

[2019-03-31 22:10] #25 closed

[2019-03-31 22:22] ranebrown commented on #613
@MartyLake We are going to need more information to figure out what is going on here. Can you try the steps on the [troubleshooting page](https://github.com/vimwiki/vimwiki/wiki/Troubleshooting#minimal-vimrc) but use the path to your wiki and see if you get the same errors?

Does this seem to be related to conversion of a specific file?

Can you post your Vimwiki settings?

[2019-03-31 22:33] ranebrown commented on #486
Looks like this is only an issue if there isn't higher level header.

For example:
[code]

Renders:
[code]

It seems like this is fairly harmless unless trying to use the id with javascript or something.

[2019-03-31 23:11] ranebrown commented on #344
I tested this and the provided example uses the header. Since there hasn't been a response from the author I'm closing.

[2019-03-31 23:11] #344 closed

[2019-04-01 03:28] ranebrown commented on #543
@NausX @amitbeka Please test the changes on the `dev` branch and let me know if there are any problems.

[2019-04-01 03:28] #543 closed

[2019-04-01 03:35] ranebrown commented on #476
@nbraun-clgx If you (or anyone else that is interested) create a plugin or a working `~/.vim/after/syntax/vimwiki.vim` please post something here, create a new issue to announce, or add to the wiki so other people can benefit. Thanks!

[2019-04-01 03:35] #476 closed

[2019-04-01 07:15] hq6 commented on #527
Closing this issue due to lack of response and lack of clarity for reproducing.

[2019-04-01 07:15] #527 closed

[2019-04-01 17:37] hq6 commented on #427
I have closing this issue due to lack of response.

[2019-04-01 17:37] #427 closed

[2019-04-01 17:44] hq6 opened #649 "VimwikiShowVersion broken on dev"
This issue was introduced in `3396e87dbee617cbf0aa5b6ee9bcfe21270cc19a`.

### Steps to reproduce

1. Open Vim.
2. Type `:VimwikiShowVersion`
3. Observe output:
[code]
@ranebrown , I apologize for missing this when reviewing your PR, but it looks like the numbering changes broke our show version command.

[2019-04-01 17:52] hq6 opened #650 "Regression: Horizontal table delimiter being treated as element in the dev branch"
I found this issue on the `dev` branch but not the `master` branch. The current commit is `3396e87dbee617cbf0aa5b6ee9bcfe21270cc19a`, although the issue was likely introduced earlier.
This issue is reproducible in the default syntax, with no customizations.

### Steps to Reproduce:

1. Copy the following table into a Vimwiki file.
[code]
2. Put the cursor on line 2, column 1.
3. Enter insert mode

[2019-04-01 18:07] hq6 commented on #649
This has been fixed on `dev`.

[2019-04-01 18:07] #649 closed

[2019-04-01 18:15] hq6 commented on #650
@lyokha I performed a `git bisect` and found that the problem was introduced in `5e4a89c89889c2e630cc97c620bc138c7efa5adf`.

[2019-04-01 19:21] lyokha commented on #650
I can make *wrong* table

[code]
by pressing `Tab` in Insert mode on the separator line. This also happens when pressing `gqq` over the separator line. As soon as `gqq` re-formats all the table, I suspect that the older implementation had the same effect.

[2019-04-01 19:27] hq6 commented on #650
@lyokha , I was referring to pressing `Tab` in insert mode on the separator line creating the _wrong_ table.
Pressing `gqq` also has this effect.

However, neither of those actions has this effect on the `master` branch.

[2019-04-01 19:28] lyokha commented on #650
Ok, I will look at this.

[2019-04-01 19:44] lyokha commented on #650
Yes, this was my fault: the separator line required special treatment (it shouldn't be `fmt_row`'ed). Here is a small patch that fixes this issue:

[code]

[2019-04-01 20:05] ranebrown commented on #649
Thanks for the catch! Must have accidentally joined those two lines.

[2019-04-01 20:37] Nudin commented on #504
To my big shock I only now noticed, that I never pushed to master… I'm very sorry if that caused confusion.
@hq6 @ranebrown since most people clone master they will only now get the new version – so don't be supprised if a more new issues come in the next days.

[2019-04-01 20:42] Nudin opened #652 "Proposed policy change: Keep changelog up to date in dev-branch"
One of the hardest things to do when releasing 2.4 was to search through all the commits for relevant changes and update the Changelog in `doc/vimwiki.txt`. Therefore I propose that we update the changelog with every PR. This way also people using `dev` can know what changes.
@hq6 @ranebrown If you are ok with this we should update the CONTRIBUTING.md an ask people to update the changelog whenever

[2019-04-01 20:42] Nudin commented on #652
Another idea would be to also ask all first-time-contributers to add there name to the contributers-section.

[2019-04-01 20:47] Nudin commented on #271
Since the ticket is quite old and no second person reported this: Is this still an issue for you?

[2019-04-01 20:51] Nudin commented on #209
#273 might solve this but would ned to be revamped.

[2019-04-01 20:51] Nudin commented on #272
closing as duplicate of #209

[2019-04-01 20:51] #272 closed

[2019-04-01 20:58] Nudin commented on #334
When you write name of a wiki, I suppose you mean name of a wikipage, right?
Couldn't you just use a symlink?

[2019-04-01 21:04] ranebrown commented on #652
Sounds like a good idea to me. I've been trying to keep the changes updated on the [release project](https://github.com/vimwiki/vimwiki/projects/2) so that can probably be used as a starting point.

[2019-04-01 21:08] Nudin commented on #650
@lyokha sure, that would be great!

[2019-04-01 21:13] #650 closed

[2019-04-01 21:39] hq6 commented on #652
This makes a lot of sense.

[2019-04-01 23:05] gpanders commented on #642
@ranebrown That seems to fix it.

[2019-04-01 23:47] ranebrown commented on #642
Glad that works, it is more of a band aid though. I think the real problem is related to the path handling which has been a problem on Windows. I think #478 is going to be a better long term solution. I'm going to leave this open for now and revisit after path refactoring is complete.

[2019-04-02 03:23] ranebrown commented on #647
This command should also print the path to your tags file `:echo vimwiki#tags#metadata_file_path()`

[2019-04-02 08:51] amitbeka commented on #543
Works great, thanks for fixing!

[2019-04-02 16:29] hq6 commented on #555
Closing due to lack of response. Please reopen if there is more information and renewed interest.

[2019-04-02 16:29] #555 closed

[2019-04-02 16:30] hq6 commented on #433
Closing due to lack of response. Feel free to reopen if you can reproduce this again.

[2019-04-02 16:30] #433 closed

[2019-04-02 16:36] hq6 commented on #612
What is the *index menu* that you are referring to?

Is this the one generated in the GUI based on the setting of `g:vimwiki_menu`, or some other one?

[2019-04-02 16:39] hq6 commented on #219
Closing this issue since it does not appear to be reproducible and no further comment from OP.

Please feel free to reopen with more concrete steps for reproducing the issue.

[2019-04-02 16:39] #219 closed

[2019-04-02 18:02] hq6 commented on #521
This likely due to easymotion's mapping being a prefix of a vimwiki mapping.

Have you tried changing the mapping for the easymotion command to see if that changes things?

[2019-04-03 07:28] hq6 opened #653 "Raw URL shortening leaves cosmetic overhang on long URLs"
This issue is present on the `dev` and `master` branches in the default vimwiki syntax, with no special vimwiki settings.

### Steps to Reproduce.

1. Set your terminal width to 100. This emulates what happens when running vim inside a tmux pane.
2. Open a wiki file.
3. Paste in a long URL such as `https://www.forbes.com/sites/alexkonrad/2019/04/02/andreessen-horowitz-is-blowing-up-the-venture-cap

[2019-04-03 08:35] beuerle opened #654 "`:VimwikiShowVersion` (still) broken on dev?"
Not sure if this is related to #649, but currently I am not able to run `:VimwikiShowVersion`.

I am getting the following error message:

[code]

I am sitting on the `dev` branch with the most recent commit e0fffb4.

[2019-04-03 08:52] beuerle opened #655 "Adding new column to existing table fails"
- sitting on the dev branch with the most recent commit e0fffb4 (not able to run `:VimwikiShowVersion`, see #654).
- markdown syntax
- vimwiki related settings in my vimrc:
[code]

---

Since recently adding a new column to an existing table does not work anymore:

1. Create new table

![2019-04-03_10:47:06](https://user-images.githubusercontent.com/10122039/55465677-eba42200-55fd-11e9-9d07-3faf2d

[2019-04-03 12:15] ranebrown commented on #654
@beuerle I'm not seeing that error running the `dev` branch. I suspect this could be related to this [vim patch](https://github.com/vim/vim/commit/31b816042fca879b11965ddd75287732563ba698). What version of Vim are you running?

[2019-04-03 12:36] ranebrown commented on #654
On a side note `VimwikiShowVersion` does seem to be broken on master with this error:
[code]

[2019-04-03 12:46] beuerle commented on #654
[code]

[2019-04-03 12:55] ranebrown commented on #655
Looks like this is related to the table alignment feature that was added with 23d273d54711035ac2b1c19838438521f0982595. @hq6 can you take a look at this since you worked on that previously?

[2019-04-03 14:29] ranebrown commented on #654
Can you replace the function `s:get_version()` in `plugin/vimwiki.vim` with the below function and let me know if that works?
[code]

[2019-04-03 14:41] ranebrown commented on #654
Actually just pull the latest `dev` branch and give that a try.

[2019-04-03 14:44] ranebrown commented on #654
@Nudin How to you want to go about merging this fix to `master` as v2.4.1? I think we want to ensure the version command works since including that output is part of our issue template.

[2019-04-03 16:08] ranebrown commented on #653
This sounds related to Vim settings not a Vimwiki issue to me. I don't see this behavior, maybe it is related to your `formatoptions`? Are you seeing the same thing using a minmal vimrc like on the [troubleshooting page](https://github.com/vimwiki/vimwiki/wiki/Troubleshooting#minimal-vimrc)?

[2019-04-03 16:11] ranebrown commented on #653
You could also try `set paste` which should disable all formatting options.

[2019-04-03 17:25] hq6 commented on #653
Yes, this reproduces under the minimal vimrc setting as well. I just tried again to make sure.

`set paste` only affects formatting during the paste, rather than post-processing after the paste, as far as I know, but I tried it anyways and it has no effect.

The key step in reproducing this issue for me is that the terminal width has to be less than the length of the full URL.

[2019-04-03 17:27] hq6 commented on #655
@ranebrown , Sure, I can take a look. I predict that this will bounce to the author of that commit after I bisect it.

[2019-04-03 17:45] hq6 commented on #655
A git bisect indicates that `23d273d54711035ac2b1c19838438521f0982595` introduced this regression, which I merged in #377.

@schmeisers, will you take a look?
I can try to fix it also, but I suspect you have more context.

[2019-04-03 17:57] ACGarland commented on #612
Yes, that is the one.  On the mac version of vimwiki (under gvim) the menu sequence is: Vimwiki > Open Index > [list of known wikis]

It is the [list of known wikis] that all collapse down to a single entry, "vimwiki" in the case described since the final folder name in each path is apparently used to make the list.

[2019-04-03 18:49] hq6 commented on #655
This should be fixed on `dev` with `3c0ae2ff970ea9cf338e667297f3ddd4b87ac806`.

[2019-04-03 18:49] #655 closed

[2019-04-03 20:14] ranebrown commented on #653
Are you using `set wrap`?

From the documentation:

    is not always pleasing, because the visible text on longer lines with
    a lot of concealed parts may appear to be strangely broken across several
    lines. This is a limitation of Vim's |conceal| feature.

[2019-04-03 20:31] thecliguy commented on #624
Just in case any maintainers don't know, there is a vimwiki IRC channel. I'd encourage you to join, details below:

`#vimwiki` on Freenode ([webchat](https://webchat.freenode.net/?channels=#vimwiki), also synced to Matrix/Riot: `#freenode_#vimwiki:matrix.org`)

[2019-04-03 20:58] hq6 commented on #653
Ah, you nailed it! It seems that my Vim has `set wrap` on by default, so even with the minimum configuration, it was still exhibiting the behavior. After doing `set nowrap`, the issue is resolved.

Closing this issue until it becomes fixable without source code changes to Vim.

NB: It looks like `conceal` is not the only way to hide text, but I do not know if the other mechanism do not have this l

[2019-04-03 20:58] #653 closed

[2019-04-03 21:03] hq6 commented on #612
I am able to reproduce this on Ubuntu in `gvim` so I can confirm it is not a platform-specific issue.

As I said on your other issue, if you would like to see this fixed sooner, a PR is welcome.

Otherwise, we will eventually get to it, but it will likely take a while since there are many bugs and issues yet to be triaged.

[2019-04-03 22:16] ranebrown commented on #655
@hq6 if you don't put the commit hash in a code block it automatically creates a link to that commit 😉

[2019-04-03 22:44] hq6 commented on #655
@ranebrown , Thanks for the tip! Updated my comment.

[2019-04-04 00:05] hq6 opened #656 "Regression: Table movement broken on dev"
This issue is reproducible on the `dev` branch in the default syntax with the minimum configuration described in the Troubleshooting page.

### Steps to Reproduce.

1. Copy the following table into a wiki file.
[code]
2. Move the cursor to the string `column 1` in normal mode.
3. Hit Tab three times. Observe that the cursor is now in the middle of `column3` at the character `u` instead of at the c

[2019-04-04 00:15] ranebrown commented on #565
Looks like this should be fixed. Please reopen if there is still a problem.

[2019-04-04 00:15] #565 closed

[2019-04-04 00:37] ranebrown commented on #209
Adding the syntax support is easy enough but it is more complicated to handle some of the other commands. At a minimum the commands would need to recognize and link to this style of header.

We would also need to consider another option to indicate how generated sections should be created. Should a mix of Setex style for H1, H2 be used and then ATX style for lower level headers? Or only support AT

[2019-04-04 02:27] ranebrown commented on #443
I initially thought this was a bug but after looking at it some I'm not so sure. The command `VimwikiReturn 3 5` behaves as advertised the issue is mapping it to `<CR>` which also has another purpose. The only way I can think of to make that mapping work would be to check above the cursor position x lines for a list marker. That wouldn't solve the problem completely though because there would be f

[2019-04-04 02:32] ranebrown commented on #443
`inoremap <C-K> <Esc>:VimwikiReturn 3 5<CR>` seems to work well.

[2019-04-04 06:41] lyokha commented on #656
I removed inline formatting (shrinking) of the current line in `get_rows()` that was introduced to avoid unnecessary traversals of the whole table when checking if it must be re-formatted. Now this shrinking occurs in `get_aligned_rows()` where it's directly needed with a temporary line.

[2019-04-04 07:15] hq6 commented on #656
Fixed in ae3db7a079d6c9cb8b43a7276c1695fabdab9509.

[2019-04-04 07:15] #656 closed

[2019-04-04 09:07] beuerle commented on #654
it works, thanks for the quick fix!

[2019-04-04 09:07] #654 closed

[2019-04-05 01:31] patrickdavey commented on #129
Actually, thinking about it a little more, it's not _really_ a reversible process. For example, all of `my-doc.md` `My-Doc.md` `my doc.md` and `MY DOC.md` would all become `my-doc.html`. The only way I can think of to check the reverse process (for deleting) would be to build up a list of all the possible paramaterized file names and then check against those each time.  Doesn't seem that elegant .

[2019-04-05 15:03] waxlamp commented on #443
Thank you for the suggestion!

Unfortunately, I was hoping to use `<C-CR>` or `<S-CR>` for that purpose but it seems like Vim has longstanding issues with those key combos in the terminal :crying_cat_face:

But I am ok with using muscle memory to type `<C-l><C-m>` when needed.

I'll leave it to you if/when to close this issue. Thanks so much!

[2019-04-06 01:04] ranebrown commented on #456
This is related to path handling which has issues in a few places on windows. See #478

[2019-04-06 12:47] ranebrown commented on #129
If all of those files end up with the same name after sanitization how are there not conflicts when accessing the html files?

[2019-04-06 12:59] ranebrown opened #659 "Release v2.4.1"
As a bug fix I think we should release v2.4.1 incorporating the fix in #654. I'm not sure if the best way to handle this is to cherry-pick c21de17a345eeb4baefb470e4575532f044a91e8 or to revert that commit and create a new branch with those changes and merge that to both `master` and `dev`.

My concern is that cherry-pick might cause conflicts down the road when merging `dev` to `master` for the v2

[2019-04-06 13:00] ranebrown commented on #659
Also, are there any other important bug fixes we should include with this?

[2019-04-06 16:47] ranebrown commented on #413
@bernhard42 Do you mind testing the fix I pushed to the `dev` branch on Windows? Thanks!

[2019-04-06 17:16] ranebrown commented on #288
@cvrn Is this still an issue for you with the latest `dev` branch of vimwiki? It doesn't look like [vim-notes](https://github.com/xolox/vim-notes) is being actively developed...

[2019-04-06 17:20] ranebrown commented on #265
PRs are welcome!

[2019-04-06 17:25] ranebrown commented on #287
This works correctly on the `master` and `dev` branch. Please reopen if you are still seeing this behavior.

[2019-04-06 17:25] #287 closed

[2019-04-06 19:37] ranebrown commented on #255
The option `g:vimwiki_create_link` that was recently added might also help instead of remapping `<CR>`.

[2019-04-06 19:37] #255 closed

[2019-04-06 19:52] ranebrown commented on #383
From my testing `C-c` cancels out without an error message. I don't think we want to completely remove the error message so I'm closing this.

[2019-04-06 19:52] #383 closed

[2019-04-06 19:54] ranebrown commented on #368
If the above answer doesn't resolve your question please reopen.

[2019-04-06 19:54] #368 closed

[2019-04-06 19:57] ranebrown commented on #335
This should be possible with Vim 8+. I'm closing as a duplicate of #546 but I think it is something we will be adding.

[2019-04-06 19:57] #335 closed

[2019-04-06 19:59] ranebrown commented on #293
@nabsiddiqui Is this still a problem with the latest release and/or the `dev` branch? There have been some modifications to markdown support and think this has likely been fixed.

[2019-04-06 20:01] ranebrown commented on #246
See #529

[2019-04-06 20:01] #246 closed

[2019-04-06 20:05] ranebrown commented on #228
Also see #543. Please reopen if you are still seeing problems.

[2019-04-06 20:05] #228 closed

[2019-04-06 20:13] ranebrown commented on #42
This seems to be fixed with the `file:` or `local:` scheme. @raingo Does this address your problem?

[2019-04-06 20:20] ranebrown commented on #477
@davidlmontgomery If you create a PR against the `dev` branch I will review and merge. I think this would be a pretty useful feature.

[2019-04-07 14:43] aq2 commented on #245
old thread, i know, but a very simple two liner solution is
[code]
i am no vim scripter, so i am sure there are much better ways of doing this, but the first line automatically inserts the title (wrapped with '=') into the document, but for some reason inserts a new line before it. So the second autocommand deletes it - again i am sure there are better ways - all comments and suggestions welcome!

[2019-04-07 15:07] ranebrown commented on #652
I think I added everything up to this point to the changelog. We should just need to make sure any new PRs or issues we close include updates.

[2019-04-07 15:07] #652 closed

[2019-04-07 19:02] ranebrown commented on #374
@Nudin did you ever get anywhere with this?

[2019-04-07 19:12] ranebrown commented on #456
@RayDrew49 @previsualconsent Do you mind testing the changes I pushed to this [branch](https://github.com/vimwiki/vimwiki/tree/omni) and posting any results here or on PR #660? Thanks!

[2019-04-07 20:09] patrickdavey commented on #129
I guess the answer is "there could be" conflicts, but, in practice this is very unlikely to happen. The only way you'd get a conflict is if you're intentionally spelling links the same and hoping to differentiate on spacing / capitalization. Even vimwiki itself tries to protect you from this (as far as I can see)

For example:

[code]

Both of those vimwiki links will create the file `hello world.

[2019-04-07 20:17] ranebrown commented on #647
Please reopen if you still need help.

[2019-04-07 20:17] #647 closed

[2019-04-07 23:42] Nudin commented on #659
Yes, thanks for bringing that up. I was also about to propose a 2.4.1-release. Cherry-picking will probably result in a merge-conflict, but I don't see any better option. Resolving the merge should hopefully be not that hard. Worst case we can rollback to `v2.4` and instantly merge `dev` – right?
c21de17 propably needs e9115047 to be added first.
Other commits we might add are 308e205 cdc9940 32c7

[2019-04-08 03:06] ranebrown commented on #129
If you're feeling ambitious I think a hash table using the filename as the key and the sanitized html name as the lookup value would work to check if a file needed deleted. This would prevent dead files in the html output directory but isn't a deal breaker.

The other option would be to disable deletion as you mentioned. I think it would make sense to automatically disable deletion if the `g:vimwi

[2019-04-08 03:09] ranebrown commented on #612
I think using named wikis as outlined in #477 would be a good way to solve this problem.

[2019-04-08 03:24] patrickdavey commented on #129
:) Yip, I agree, the hash table and filename key would be the way to go. In the interests of _actually getting something out and then getting something better out later ;) _ ... how about

1. We add the `g:vimwiki_html_filename_sanitization` boolean which just does active-support like paramaterization to the filenames (so it'll match the files that vimwiki_markdown produced) and which also disable

[2019-04-08 13:25] Nudin commented on #15
I'm not in favor for swiching the default. I think markup languages are mostly a matter of taste and accustomization and there have been changes before in what "the cool kids use". ;) So I don't see a intrinsic benefit of any syntax over any other.

I don't see a stategy for how to deal with all the wikis out there using default-syntax (without explicit configuration) – they would break when we ch

[2019-04-08 13:29] Nudin commented on #659
Note: before merging 308e205 we should make new screenshots and readd them.

[2019-04-08 13:38] monkinco commented on #659
I will add new screenshots today with new logo proposal.
Any special wishes regarding screenshots?

[2019-04-08 16:49] bernhard42 commented on #413
Might take a few days but I will test it.

[2019-04-08 17:47] monkinco commented on #659
Other idea, what about making screen recording using asciinema like that: https://asciinema.org/a/137065

[2019-04-08 22:47] ranebrown commented on #579
The problem here is that a regex matching the expected date format is used in a few places ([here](https://github.com/vimwiki/vimwiki/blob/848feb43e169147221a22642beea1d9f93d66815/autoload/vimwiki/diary.vim#L46) and [here](https://github.com/vimwiki/vimwiki/blob/848feb43e169147221a22642beea1d9f93d66815/autoload/vimwiki/diary.vim#L161)) for `:VimwikiDiaryNextDay` and `:VimwikiDiaryPrevDay` and gene

[2019-04-08 23:01] ranebrown commented on #659
Good point.

I think another one a lot of people would like to see added is f40f0544416a41665950346da0565888a256d9b5. Also, b77473960a2898a6d325ccb571c1cc4ab886b6c3 would be useful.

@monkinco As for screenshots I think it would be good to put at least one using markdown syntax. A screen recording would also be nice but that might be something that could go in the [wiki](https://github.com/vimwiki

[2019-04-09 03:46] ranebrown commented on #245
@KTSCode @bhrutledge @aq2 I would appreciate it if any of you could test the implementation in PR #661 and post any results here or in the PR. Thanks!

[2019-04-09 04:00] ranebrown commented on #129
Sounds like a solid plan.

It makes sense to go ahead with this for two reasons:
1. Your gem is one of the only ways to convert markdown syntax vimwiki to html.
2. We already support and document integration with third party plugins such as calendar and tagbar.

As long as the documentation makes the behavior of the option clear and specifies it is only for integration with `vimwiki_markdown` I do

[2019-04-09 12:27] ranebrown opened #664 "Improve markdown syntax support and documentation"
Goals to improve markdown syntax support (see original discussion in #15).

- [ ] Improve/update documentation.
    - Vimwiki help file
    - README screenshots and example configuration
    - Wiki page on how to switch to Markdown syntax?
- [ ] Feature parity/comparison with the default syntax
- [ ] Compliance with CommonMark spec
    - Probably [GitHub variant](https://github.github.com/gfm/) wi

[2019-04-09 12:29] ranebrown commented on #15
See #664 for the status of Markdown improvements.

[2019-04-09 12:29] #15 closed, assigned to nobody

[2019-04-09 15:42] aq2 commented on #245
well that was simple!

seems to work fine here - i made a comment on the PR

[2019-04-10 00:01] hq6 commented on #255
@ranebrown , I think this closure is fine since it doesn't look like there exists a good solution. However, FYI, the feature `g:vimwiki_create_link` is solving the different problem of *creating* links where one does not intend to. This Issue was about not mapping <Enter> to *follow* links by default.

[2019-04-10 02:40] ranebrown commented on #255
Yeah, I was more pointing out a related option which affects `<CR>` that might be of interest. I didn't really make that clear or mention that the option is currently only available on the `dev` branch (until v2.5). Thanks!

[2019-04-10 21:48] hq6 commented on #659
@ranebrown @Nudin, I think that cherry-picking bug fixes is fine, but [this post](https://devblogs.microsoft.com/oldnewthing/20180312-00/?p=98215) raises some interesting concerns with it.

How would we feel about rewriting the history of the `dev` branch so that the `master` branch remains a proper parent of it, and the cherry picking doesn't cause headaches on the next merge?
I have mixed feelin

[2019-04-11 16:26] ElModdy opened #666 "Anchor support"
Is there a way to set an anchor like the following one?
https://gist.github.com/asabaylus/3071099
I appreciate any kind of help

[2019-04-11 17:11] ranebrown commented on #666
Vimwiki supports anchors as noted in the help file `vimwiki-anchors`. For markdown syntax they will be formatted as shown below when using `:VimwikiTOC`
[code]

This format isn't compatible with GitHub and GitLab which downcase, drop special characters, replaces spaces with `-` and add a number if necessary to make the link unique. I think it would make sense for Vimwiki to follow this format when

[2019-04-11 17:16] ElModdy commented on #666
Thanks a lot for the replay, one more quest can I make an anchor that isn't a header?

[2019-04-11 17:49] ElModdy commented on #666
Solved just looking at  the doc

[2019-04-11 20:29] johnyoonh opened #667 "feature request: g:vimwiki_folding = 'done'"
I think it would be helpful to fold task items that were completed [X] with foldexpr expression so that users can focus on items that are not yet completed.

Suggested solution that should be improved...:

[code]

[2019-04-11 23:00] hq6 commented on #87
Due to no additional comments from the @llinfeng , I am assuming all questions have been addressed by @EinfachToll 's latest response and closing this issue.

[2019-04-11 23:00] #87 closed

[2019-04-11 23:15] hq6 commented on #7
@Nudin  or @EinfachToll , should we close this issue since it appears that a pandoc converter exists and no further progress has been made for a year?

[2019-04-12 01:15] hq6 commented on #521
Since there has been no response on this issue, I am closing it. Please feel free to reopen if there is renewed interest.

[2019-04-12 01:15] #521 closed

[2019-04-12 01:16] hq6 commented on #353
I am closing this issue due to lack of response.

[2019-04-12 01:16] #353 closed

[2019-04-12 01:18] hq6 commented on #398
I would not be opposed to this idea, but likely do not have the bandwidth to implement it currently.

[2019-04-12 01:31] hq6 commented on #372
@copyme, Are you able to reproduce this issue on the current `master` or `dev`?

[2019-04-12 01:33] hq6 commented on #424
@teranex , Can you be more specific about what behavior is missing when a tag is not recognized? For example, is it the syntax highlighting, the ability to link to it, or something else?

[2019-04-12 01:43] ranebrown commented on #424
@teranex It has to do with the regex patterns used and the fact that headers are also used for anchors that you can link to. Does pandoc recognize the vimwiki style tags and create links to them?

[2019-04-12 05:59] hq6 commented on #424
@ranebrown Feel free to take over this one, since it seems you have a more clear idea of the desired behavior.

[2019-04-12 13:55] ranebrown commented on #461
Can any interested parties test the changes I made to support multiple filetypes on this [branch](https://github.com/vimwiki/vimwiki/tree/multi_ft)?

I tested using these settings and didn't see any issues:
[code]

@Nudin @hq6 What are your thoughts on merging this change into `dev`? I didn't create a pull request since I'm not sure it is something we want to add in permanently since the option ha

[2019-04-12 14:07] ranebrown commented on #461
Another thing to note: I tried using third party markdown syntax highlighting instead of vimwiki's syntax highlighting as mentioned in #364 and it seems to work without breaking vimwiki's functionality.

[2019-04-12 14:35] Coleej opened #668 "FEATURE REQUEST: add vimwiki navigation history to :mksession files"
When I restore a session that contains a vimwiki window, the history isn't available for navigation.

Is it possible to add this to :mksession file?

[2019-04-12 18:19] hq6 commented on #461
@ranebrown, I think this option is likely to encourage more new interactions with other plug-ins, and we should think carefully about whether that is desirable. Strange behaviors caused by  interactions between different plug-ins are generally harder to debug.

My first thought is that this could be a documented patch that people can use and not a proper option of Vimwiki (this discourages casual

[2019-04-12 23:24] ranebrown commented on #668
Do you mean the previous page you can jump to with `:VimwikiGoBackLink`?

[2019-04-12 23:28] ranebrown commented on #613
Please reopen if you are still experiencing this issue.

[2019-04-12 23:28] #613 closed

[2019-04-12 23:38] ranebrown commented on #536
Issues such as this should be fixed with #478.

[2019-04-13 02:45] ranebrown commented on #425
@sharethewisdom can you try the latest `dev` branch to see if the change I pushed fixed this for you? If you have an alternative mapping for `gqq` or `gww` it shouldn't be overwritten.

[2019-04-13 03:16] ranebrown commented on #428
@E1k3 I tested all of the math block cases you mentioned and the `T^2` renders as T&#178; in each case. It looks like highlighting in the math blocks is done using [tex.vim](https://github.com/vim/vim/blob/master/runtime/syntax/tex.vim) (see [these lines](https://github.com/vimwiki/vimwiki/blob/750b3171b321872c17b88237db12822fc3e8c264/autoload/vimwiki/base.vim#L1037-L1048)). The inline math using

[2019-04-13 03:41] ranebrown commented on #428
This also is dependent on the `conceallevel` being set correctly.

[2019-04-13 10:34] emoriarty opened #669 "g:vimwiki_table_mappings does not disable <tab> mappings on markdown syntax"
Using the option `g:vimwiki_table_mappings` set to 0 does not disable table mappings in INSERT mode as the documentation explains:

[code]

The specific wiki that I am using is in markdown syntax.

[code]

Also I have the UltiSnips plugin installed with the `<tab>` key set for snippet completion along other settings.

[code]

Even using this setup UltiSnips tab does not work. After removing the op

[2019-04-13 12:31] ranebrown commented on #669
@emoriarty The option `let g:vimwiki_table_mappings=0` works correctly for me in conjunction with Ultisnips. It is disabled [here](https://github.com/vimwiki/vimwiki/blob/6766c37ce09a623b3de7ddb86ca30278eea37a82/ftplugin/vimwiki.vim#L577-L581) based on the value of `g:vimwiki_table_mappings`.

After you open you wiki try `:imap` to see what `<Tab>` is mapped to. I only see `i  <Tab>       * <C-R>=

[2019-04-13 13:29] ranebrown commented on #659
I think the method of using branches for specific bug fixes would work if we adopted that in the future. It would probably be too much work to try and resolve everything at this point though since all the fixes are already commits on `dev`. I think we should go ahead and cherry pick and then maybe just reset master to 2.4 as @Nudin suggested prior to the 2.5 release.

[2019-04-13 13:31] ranebrown commented on #659
@monkinco Any progress on the screenshots, logo, and screencast?

@Nudin Are you planning on handling the release again?

[2019-04-13 13:48] emoriarty commented on #669
Hey @ranebrown! Thanks for your feedback.

The `:imap` output show the tab set to the expand snippet: `i  <Tab>       * <C-R>=UltiSnips#ExpandSnippet()<CR>`. Don't see any other mappings could collide with.

I've checked what this [ticket](https://vi.stackexchange.com/questions/7722/how-to-debug-a-mapping) suggests (check if the terminal app or some other tool captures the event). Nothing seems to

[2019-04-13 15:27] Coleej commented on #668
Yes, that's what I meant.

I guess there is not a GoForwardLink, never noticed that.

[2019-04-13 15:44] ranebrown commented on #668
If you are interested in creating a pull request I think you would need to save the list of pages stored [here](https://github.com/vimwiki/vimwiki/blob/aff0258d03c811cfe030fdad28404673243dd548/autoload/vimwiki/base.vim#L822-L827) into the session file and then restore them when opening a session. I'm not familiar with how that process works but I wouldn't imagine it is too difficult.

Other than t

[2019-04-13 15:52] ranebrown commented on #669
I did try with markdown syntax. If you have your cursor in a table in insert mode and press tab does it jump to the next column or insert a tab?

Can you try the steps on the [troubleshooting page](https://github.com/vimwiki/vimwiki/wiki/Troubleshooting#minimal-vimrc) with these additions:
[code]

[2019-04-13 16:48] hq6 commented on #659
@ranebrown, I suspect that rewriting history on the `master` branch later is going to cause more pane than rewriting history on the `dev` branch, since people checking out the `dev` branch will likely have at least a little more git experience than people using only the `master` branch.

[2019-04-13 18:01] ranebrown commented on #669
This seems to be specific to neovim. I can't any snippets to complete with our without vimwiki active. I don't use neovim so it is probably a configuration issue. Can you post your complete settings for neovim?

[2019-04-13 23:06] emoriarty commented on #669
I tried to change the column forward in insert mode and does not work. That means disabling the `g:vimwiki_table_mappings` option is working fine.

I've also create a new `.vimrc` with a bare minimal settings and fresh installation of the conflicting plugins. No matter vim or neovim the results happens to be the same: no snippet autocomplete when the `syntax` is set to `markdown` in the current us

[2019-04-14 00:22] emoriarty commented on #669
By the way, I almost forget. Here is my `.vimrc` setup.

[code]

[2019-04-14 04:12] ranebrown commented on #669
Using the settings you posted works unless you change these two lines to `markdown` and `.md`?
[code]
Have you tried with everything removed from your `.vimrc` except vimwiki and ultisnips settings? In the settings you posted there is a bunch of other stuff that should be removed for testing.

[2019-04-14 04:19] #129 closed

[2019-04-14 04:46] ranebrown commented on #415
The standard vim behavior expands the abbreviation after hitting space, enter, or entering punctuation. Since vimwiki remaps `<CR>` the enter case is disabled. This can be fixed by adding `<C-]` to the vimwiki mapping to forcibly expand the abbreviation.
[code]

`C-]` didn't work in a key mapping prior to patch 7.3.489.

[2019-04-14 08:25] emoriarty commented on #669
Ups! I closed accidentally the ticket. It's reopened again.

That's right. Once they change to markdown, UltiSnips does not work.

The .vimrc I shared here is the original one. If you read the previous [comment](#issuecomment-482896900) you'll see the testing was done with a fresh .vimrc. The settings are just below these lines.

[code]

[2019-04-14 12:29] ranebrown commented on #669
I can't reproduce this. With the minimal settings you posted snippets do not work since `let g:vimwiki_table_mappings=1` is set to 1 and tab is remapped by vimwiki. If I set that option to `0` or I use a different trigger like `let g:UltiSnipsExpandTrigger='<C-e'` snippets work correctly.

[2019-04-14 15:22] monkinco commented on #659
This is the best thing that I can think of right now, but I'm working on few other concepts.

[Logo Proposal](https://imgur.com/a/SKJPI53)

[2019-04-14 15:56] emoriarty commented on #669
I already know what is happening. The snippet expansion is not working (at least in my machine) because after appending in the `g:vimwiki_list` with a _markdown_ format, all _markdown_ files are treated as _vimwiki_ file types. This can be easily checked by running the next command in the vim console.
[code]
I got here after doing some reverse engineering in the UltiSnips plugin. It took me to whe

[2019-04-14 17:09] ranebrown commented on #669
Vimwiki is a filetype plugin and its correct operation requires that the filetype be set to vimwiki. You can take a look at this [experimental branch](https://github.com/vimwiki/vimwiki/tree/multi_ft) and the operation explained in #461. You might also be interested in `UltisnipsAddFiletypes`. I'm going to close this since this isn't a vimwiki bug. Feel free to continue posting here with any addit

[2019-04-14 17:09] #669 closed

[2019-04-14 19:51] monkinco commented on #659
As for the screencasts themselves, in fact, the best option is to write a complete guide and use them in there. Initially, it could be written using GitHub Wiki but also later used at the official website.

[2019-04-14 23:22] Nudin commented on #298
Is this still an issue?

[2019-04-14 23:33] Nudin commented on #435
Seems fine, can you create a PR?

[2019-04-15 06:38] emoriarty commented on #669
I got to one of the solution in the post you've shared. Changing the file type by hand for at least make work the snippets.

Thanks for the `UltisnipsAddFiletypes` tip. That probably will do.

Anyway I think this is a bug. An intended one, you knew already about the file type modification. When the operation involves changing a file type in order to work, you cannot expect another features (plugin

[2019-04-15 14:33] ranebrown commented on #669
Yeah, well, you know, that's just, like, your opinion, man.

[2019-04-15 15:12] #245 closed

[2019-04-15 15:13] mightymicha opened #671 "Make vimwiki textobjects optional / configurable"
Hi,

I have a mapping for [inner line and outer line](https://github.com/kana/vim-textobj-line) _al / il_ using with [vim-sandwich](https://github.com/machakann/vim-sandwich), which conflicts with the list item text-object.

**ftplugin/vimwiki.vim**
[code]
An option to change or disable the textobjects would be nice.

[2019-04-15 17:19] hq6 commented on #671
This seems like a reasonable request, and PR's to the dev branch are welcome!

Otherwise, we will eventually get to it, but it will likely be a while.

[2019-04-15 17:26] hq6 commented on #267
I was able to reproduce this issue, but I suspect it will be nontrivial to fully fix, because it likely depends on what fonts are available to Vim.

PR's are welcome if you want to try though!

[2019-04-15 18:40] sharethewisdom commented on #425
thanks. It's still mapping `gw*` though, which forces users to overwrite the mapping in `after/vimwiki.vim` in order for them not to have to wait `timeoutlen`. I'm not sure what good practice is for a ftplugin, but I think is would be fine to leave it to the user to configure mappings.

I have a particular setup with [wiki.vim](https://github.com/lervag/wiki.vim) now. I can't easily test this and

[2019-04-16 06:15] jonathonpday opened #674 "Wiki Links displaying brackets at all times on a Mac?"
In my vimwiki links on my Macbook with the oh-my-zsh theme I am seeing the wikilinks not display properly as  the brackets are clearly showing at all times, even when I am not on the selected lines. I have tried changing colorschemes but that has no impact.

![Screenshot 2019-04-16 at 07 09 20](https://user-images.githubusercontent.com/36718060/56186258-c6101300-6016-11e9-8238-bd947dac1426.png)

I

[2019-04-17 00:26] ranebrown commented on #674
This is most likely related to `conceallevel`. What is the value of `:set conceallevel?`

[2019-04-17 01:06] ranebrown commented on #267
Vimwiki isn' actually responsible for math highlighting and character concealing (which is how subscripts etc. work). That is all done by `tex.vim` which is shipped with vim. If you open a `file.tex` and paste the same formulas you will see the same issues. See [these lines](https://github.com/vimwiki/vimwiki/blob/750b3171b321872c17b88237db12822fc3e8c264/autoload/vimwiki/base.vim#L1037-L1048) for

[2019-04-17 05:59] jonathonpday commented on #674
I don't appear to have one.

When I type in `:set conceallevel` in vim I get `E519: Option not supported: conceallevel`.

[2019-04-17 06:36] Garonenur commented on #298
my setup changed a lot since I created this issue.
I will have to check if I can test it.

[2019-04-17 12:45] ranebrown commented on #674
You need a version of Vim with that option compiled in. Typing `:version` or `vim --version` should show you what features are enabled. I would take a look at Macvim or compile from source.

[2019-04-17 12:45] #674 closed

[2019-04-17 14:14] jonathonpday commented on #674
Cheers have downloaded Macvim, it works :)

[2019-04-17 17:21] hq6 commented on #267
Since this appears to be orthogonal to Vimwiki itself, I am closing this issue.

[2019-04-17 17:21] #267 closed

[2019-04-17 17:42] #428 closed

[2019-04-17 20:54] hq6 commented on #7
Closing this issue due to lack of response. Please reopen if there is renewed interest in this.

[2019-04-17 20:54] #7 closed

[2019-04-17 20:58] hq6 commented on #11
@EinfachToll , It looks like you haven't updated `better-tables` in the last 6 years.
Have the problems pointed out been addressed by #47 and later optimizations in your view?

[2019-04-18 13:51] monkinco opened #676 "Create Guide & Screencast"
I'm working on a simple website to replace [vimwiki.github.io](https://vimwiki.github.io).

I would like to create Documentation page based on [vimwiki.txt](https://github.com/vimwiki/vimwiki/blob/master/doc/vimwiki.txt) using this [approach](https://vimhelp.org/vim_faq.txt.html). Every time there's a change in the repository it will automatically update itself.

In addition to that we could add a

[2019-04-18 23:07] mightymicha opened #677 "Table formatting problems when setting filetype manually"
Hi,

I'm using neomutt for writing mails in markdown and converting them to HTML prior to sending.

For example `vim -c 'set filetype=vimwiki' test'
That way, I get vimwiki functionality within vim.
But tables do not seem to work properly, because pressing <tab> or switching between normal / insert mode does not trigger table formatting, and thus the position after jumping will be wrong.

Tested o

[2019-04-18 23:44] Nudin commented on #659
I defnitly wouldn't rewrite history of any of the both branches. Worst case scenario would be reverting the charry-picked commits with an undo-commit.

Yes, I will release it in the next few days. I've been waiting for the screenshots – will add them, but will wait with the logo for 2.5 – considering the current developement speed 2.5 won't take that long anyway.

[2019-04-19 15:51] ranebrown commented on #676
I don't think there is an official domain. How would the website hosting work and how would access be controlled for editing? The nice thing about using github.io is the site is tied to the repository.

[2019-04-19 15:57] monkinco commented on #676
Of course it will be hosted on GitHub, it's fastest and easier way to do so. :)
vimwiki.org is free to buy, so it could be nice addition to website itself, as GitHub Pages supports custom domains.

[2019-04-19 17:16] ranebrown commented on #676
Oh nice, didn't know you could use a custom domain. I think it's a good idea!

[2019-04-19 18:54] monkinco commented on #676
Now question is, who will buy (🎁) this domain?

[2019-04-19 22:30] capcionista opened #678 "links containing [] are misread"
I have tried to "import" my txt note collection into Vimwiki. My notes are in .txt, many of them contain [] in their names. When clicking on a link to a file which in its name contains square brackets, e.g. cursor on "Bookname" in

This is a [[Bookname [Author]]]

Vimwiki opens/creates

Bookname [Author.txt

instead of

Bookname [Author].txt

i.e. it takes the first two ]] as ending brackets, inst

[2019-04-20 06:17] hq6 commented on #678
i'm not sure that interpreting (and then ignoring) the nested set of brackets is supported behavior.

As far as I can tell, Vimwiki treats the first pair of `]]` as the closing delimiter, rather than trying to determine whether the the first `]` it sees is paired with some `[` earlier in the string. Effectively, vimwiki sees `[[ Bookname [Author ]] ]`, which it quite reasonably interprets to mean

[2019-04-20 06:24] hq6 commented on #676
I think we may have to stick with vimwiki.github.io until @EinfachToll (or some successor he chooses) can speak to this, since he is still the  owner of the project. Even if someone effectively donated the $$ to buy the domain, I think there would concerns about the trademark on the name if it wasn't owned by the same person who owned the project.

@monkinco I hope your new site isn't dependent on

[2019-04-20 07:02] hq6 commented on #677
Please provide a sample file that exhibits the undesirable behavior.

[2019-04-20 07:46] monkinco commented on #676
No it's not, but would be a nice addition, and would be nice to secure it for the future. :)

[2019-04-20 10:33] capcionista commented on #678
Thank you for your fast reply! I will change my filenames to [[bookname {author}]] instead. OFF TOPIC: I have been able to batch rename a test set of notes using the renamer plugin; if you could help me out with the regex for replacing the structure inside the note body from

text text may contain any kind of brackets [[bookname may contain several words but only round and no other brackets [autho

[2019-04-20 12:08] Nudin commented on #659
2.4.1 is out. I only included bugfixes and the update of README, Sreenshots and CONTRIBUTING, most other patches mentioned above where already in 2.4 or fixed bugs introduced in dev.
I did not include the logo nor #f40f054 since I think a bugfix release should only contain bug fixes and 2.5 seems not to distant.

[2019-04-20 12:08] #659 closed

[2019-04-20 12:51] capcionista opened #679 "create vimwiki links while using Markdown syntax"
When using Markdown Syntax, vimwiki links still lead to the corresponding files. When creating new links, a markdown `[link](link)` is created.
Is there any way to create [[vimwiki links]] while using markdown syntax? I would really appreciate if there was an option for that. (Background: This would make things easier for people migrating vom Notational Velocity & other note taking systems using [

[2019-04-20 15:17] ranebrown commented on #679
The support for vimwiki style links is more than likely going to be removed when using Markdown syntax. The goal is to make the syntax more closely match the commonmark spec rather than creating a hybrid syntax.

[2019-04-20 15:21] ranebrown commented on #679
I think it would be pretty easy to use`sed` to convert the `[[links]]` to markdown style.

[2019-04-20 16:26] capcionista commented on #679
I see. As I am using a plain txt editor on my phone, writing '[[links]]' is much quicker than writing '[links](links)'. I have been looking at deleting/changing parts of the markdown specific code, without success. Can you tell me what files/lines I would have to adjust to make this work or is this a more complex issue?

[2019-04-20 16:55] ranebrown commented on #679
Quick and dirty hack - just comment out the `if` statement looking for the syntax specific links in [this function](https://github.com/vimwiki/vimwiki/blob/37f020d21a2a70e2163eea25dc71bcf4de6be22b/autoload/vimwiki/base.vim#L2159-L2171).

If you are interested in trying a different app I would take a look at [Markor](https://github.com/gsantner/markor). I use that for vimwiki on by phone and it is

[2019-04-20 17:18] capcionista commented on #679
This did the trick! Thank you very much!

[2019-04-20 17:21] ranebrown commented on #413
@bernhard42 any update?

[2019-04-20 17:23] #456 closed

[2019-04-20 17:28] #679 closed

[2019-04-20 18:20] hq6 commented on #678
Here's a command that might do what you want.
Note that this will not work if the `[[ ...]]` block spans multiple pages or if there are stray `[[` in your file.
[code]
If there are additional constraints and this isn't giving you the right behavior, I'd recommend asking a question on StackOverflow with more details. If you write the question clearly, someone with much better regex-fu than me will

[2019-04-20 23:23] aq2 commented on #245
[diary-ex](https://user-images.githubusercontent.com/13156649/56463407-a50b4180-63cb-11e9-9782-7931c313ba95.png)

[2019-04-21 07:42] teranex commented on #424
@hq6 It's both actually. The syntax is not recognized in headers, and they are also not added to the tags file, so you can't just to them.

@ranebrown I don't think Pandoc recognizes vimwiki tag syntax.

An important note is that I'm using Markdown syntax in Vimwiki, so it might be specific to that.

[2019-04-21 14:28] ranebrown commented on #424
I don't think this is something we will change since tags work by adding a couple of blank lines and you can link directly to a header with `[Description](Page#Header title)`

[2019-04-21 14:29] #424 closed

[2019-04-21 15:12] ranebrown commented on #676
@monkinco when you have a working version of the site let us know and we can figure out the domain part later on since it is just a nice to have addition.

[2019-04-21 15:27] jmolero opened #680 "List folding hides next list items"
Hi.

There's a problem when using the list folding. It folds list more than it should and that can hide a lot of information in long lists.

I followed the example in the docs and it works well in that case. But if you take the following example that doesn't have `  * [ ] Do substuff 1.3`:

[code]

Hitting zM makes it fold like this:

[code]

I think it should look like this instead:

[code]

This

[2019-04-21 21:17] hq6 commented on #680
Thanks for reporting this!
I can confirm that this behavior reproduces and definitely seems broken.
We will look into this eventually, but if you are interested in contributing and see it fixed faster, a PR is quite welcome!

[2019-04-21 21:44] #612 closed

[2019-04-21 21:44] #477 closed

[2019-04-21 21:48] ranebrown commented on #293
If this is still an issue please reopen and provide an example to reproduce the problem.

[2019-04-21 21:48] #293 closed

[2019-04-21 21:51] ranebrown commented on #271
Please reopen if this is still a problem.

[2019-04-21 21:51] #271 closed

[2019-04-21 21:54] ranebrown commented on #288
Please reopen if this is still a problem.

[2019-04-21 21:54] #288 closed

[2019-04-22 04:20] #42 closed

[2019-04-22 14:39] #580 closed

[2019-04-22 19:07] bernhard42 commented on #413
I tried. At the moment it doesn't even recognize links in the wiki-file.

[2019-04-23 14:24] nabsiddiqui commented on #293
Honestly I can't even remember what this bug was.  I have been using vimwiki for 2 years now without problems.  Thank you for the work in putting this together.

[2019-04-24 13:38] jupart opened #682 "Headers as Tags"
Is there a way to have headers (items in = Header syntax =) generate tags? I'd like to be able to jump to headers as if they were a tag like I would jump to a function in a file with correct ctags.

[2019-04-24 15:35] jupart commented on #682
I've found I can use the workflow described here https://stackoverflow.com/questions/7037055/ctags-vimwiki-vim-and-tagbar-plugin

[2019-04-24 15:35] #682 closed

[2019-04-24 20:04] sdondley opened #683 "shift-enter and control-enter not working?"
Branch: dev
Revision: 2b6fa27
Date: 2019-04-22 07:39:11 -0700

The `shift-enter` and `control-enter` commands don't open the new file up in a split which I think is the expected behavior if I'm interpreting the documentation correctly. Instead, the link is just opened in a brand new buffer by itself.

My .vimrc:

[code]

I have removed all other plugins.

[2019-04-24 20:11] sdondley commented on #683
I just read the help docs. It said it may not work in all terminals and to try remapping. I'm using iTerm2.

[2019-04-24 20:49] agude opened #684 "`diary_rel_path` has minimum length 1, but could be 0"
Recently some error checking was added to the parsing of the user settings: https://github.com/vimwiki/vimwiki/commit/fdc367f7250989e78ccbd6454fade109e008cdaa

Previously I had been using `'diary_rel_path': '',` to put my diary files in the same directory as the rest of my wiki files, but now this breaks because `diary_rel_path` has a minimum length of 1. See here: https://github.com/vimwiki/vimwi

[2019-04-24 20:56] agude opened #685 "`s:check_users_value()` returns help suggestions that do not exist for options"
For example, when I mis-set `diary_rel_path` (as in #684), it gives the error:
[code]

But running `:h g:vimwiki_diary_rel_path` gives the error:
[code]

Instead, it should suggest:
[code]

[2019-04-24 20:57] agude commented on #684
In Unix (where I live primarily) `/./` and `//` are the same, but perhaps that isn't true always? If there is a decision about what to do, I'm happy to implement it.

[2019-04-24 21:06] sdondley commented on #294
There should be a command for removing links. Seems like a no brainer to me. If I create a link and a page and then decide to delete the page, the link should be removed for me automatically. If not, there should at least be a way remove a link manually. Undo is impossible if I want to remove a link moths or days later. Even if the link was created recently, using "undo" is hackish and you shouldn

[2019-04-24 21:22] johnyoonh commented on #294
@sdondley Spot on. I resorted to using [gf](https://vim.fandom.com/wiki/Open_file_under_cursor) command instead of VimWikiLinks just because of this.

[2019-04-24 23:42] sdondley commented on #294
Here's a map to remove a markdown link: `nmap <Leader>wx mads[f(df)x\`a`

[2019-04-25 01:19] hq6 commented on #683
@sdondley, I think the problem is that many terminals capture these keybindings and try to interpret them, rather than passing them onto Vim.
I use `gnome-terminal` and it has the same problem, but remapping seems to work fine.
For example, I tried the following mapping in my `.vimrc` and it did the correct behavior.

[code]

Please us know if that helps, but this is ultimately not a Vimwiki issue

[2019-04-25 03:26] ranebrown commented on #684
I tested this and I didn't see any issues with setting the length to 0. If you can create a PR that would be helpful.

[2019-04-25 03:27] ranebrown commented on #685
Thanks for pointing this out. There is a common function used for printing the error messages that needs updated for the wikilocal options. If you can make the change as part of your PR for #684 that would be great.

[2019-04-25 03:28] ranebrown commented on #680
Has anyone checked if this behavior has always been present or was introduced in one of the more recent releases?

[2019-04-25 03:30] ranebrown commented on #589
See #670

[2019-04-25 03:30] #589 closed

[2019-04-25 03:34] ranebrown commented on #682
You can also take a look at the [tagbar script](https://github.com/vimwiki/vimwiki/wiki/Related-Tools#vim-plugins). Using `VimwikiTOC` creates links to each header on that page if that helps as well.

[2019-04-25 03:41] ranebrown commented on #413
Can you explain that comment a bit? If I create a link on the index page to `[[file]]` and then go to that new page and run `:VWB` I get a list pointing to the index file. If I create another page `[[second_link]]` and add a link to `[[file]]` on that page then go back to the `file.wiki` page and run `:VWB` again it points to the index page and `second_link.wiki`.

[2019-04-25 06:59] sdondley commented on #683
Yeah, I just did a remap. If you'd like, I can submit a patch to document this in the readme. May save people some frustration.

[2019-04-25 07:38] sdondley commented on #683
I made a change to the changelog with a PR # of 683, this issue. This is actually PR #687, though. Not sure if I did things correctly. Please advise.

[2019-04-25 12:15] ranebrown commented on #294
Is the desired behavior here just to remove the link syntax?
[code]

[2019-04-25 12:25] sdondley commented on #294
Yes.

[2019-04-25 12:55] mightymicha commented on #677
Minimal vimrc
[code]

Steps to reproduce:
[code]
Within file test:
[code]

Result:
[code]

Notice how the autoformat between tabs or when switching between insert and command mod does not work. Reformatting afterwards with `gqq` does work.
Other features (e.g. lists) do work that way.

[2019-04-25 14:19] #683 closed

[2019-04-25 14:33] ranebrown commented on #294
Can you create a new issue with a detailed description of the feature request? Or _even better_ create a PR that implements the change.

[2019-04-25 14:42] sdondley commented on #294
My vim scripting ability is extremely spotty and I haven't done more than write a few simple functions and hacked on other vim scripts. But if you can steer me in the right direction to help save me some time, I'd be willing to give it a shot.

[2019-04-25 23:10] hq6 commented on #680
@ranebrown Not yet, but I can bisect it and report back.

[2019-04-26 00:56] sdondley opened #688 "Change CTRL-ENTER and SHIFT-ENTER mappings?"
Here is a good technical overview of why SHIFT-ENTER and CTRL-ENTER do not do anything in a terminal version of vim: https://groups.google.com/forum/#!topic/vim_dev/Ym6D-kWIsyo

It might be a good idea to change these mappings to something else.

Also, I've been doing a little reading of the vim manual. Correct me if I'm wrong, but I'm pretty sure it says that a plugin should be using &lt;LocalLea

[2019-04-26 01:06] sdondley commented on #688
This answer on SO claims to be able to get SHIFT-ENTER and CTRL-ENTER working by changing the appropriate settings for 3 different terminal apps: https://stackoverflow.com/a/42461580/1641112

[2019-04-26 02:56] agude commented on #684
I'll send a PR!

[2019-04-26 03:17] agude commented on #685
I'll give this one a go, but I suspect it will take me a bit to wrap my head around it.

[2019-04-26 04:17] IceDream61 opened #690 "How to hide format characters?"
This is my text content: [[https://www.youtube.com|YouTube]]
On my old computer, when my cursor is not at this line, it will display as: YouTube
But on my new computer, it will display as: [[https://www.youtube.com|YouTube]]
I want to know which setting can I use to fix this problem?
Notice that this is just a display problem~

[2019-04-26 10:02] ranebrown commented on #690
See #674

[2019-04-26 11:41] ranebrown commented on #677
This is because the autocommands defined [here](https://github.com/vimwiki/vimwiki/blob/1e5c93ea917bbb27cade5de54fc120a989333f32/plugin/vimwiki.vim#L308-L338) require an extension `s:ext` and the autocommands are only defined for that extension. This is normally `*.wiki` but you can use the option `g:vimwiki_ext2syntax` to use any extension you like. For example, `let g:vimwiki_ext2syntax = {'.mai

[2019-04-26 11:52] ranebrown commented on #688
Thanks for the information. Yes, we should probably change the mappings that use `<S-CR>` and `<C-CR>` and any other less widely supported mappings. I'm not sure if we would change the `<Leader>` part though. That would probably cause annoance for a lot of users who are used to that already. There is the option [g:vimwiki_map_prefix](https://github.com/vimwiki/vimwiki/blob/dev/doc/vimwiki.txt#L314

[2019-04-26 11:58] ranebrown commented on #294
I think the easiest method would be to place a new command that uses a regex pattern and `substitute()` and then map that command to a key binding. This should be placed in `ftplugin/vimwiki.vim`. You should be able to use some of the other commands defined in that file as examples. You might need to create a new function if multiple steps are needed or to handle the substitution.

[2019-04-26 12:08] ranebrown commented on #294
Might actually be a little more complicated now that I think about it since you need to grab the text, modify it and replace it. [vimwiki#base#follow_link](https://github.com/vimwiki/vimwiki/blob/1e5c93ea917bbb27cade5de54fc120a989333f32/autoload/vimwiki/base.vim#L1252) is probably a good starting point.

[2019-04-26 12:39] #684 closed

[2019-04-26 12:40] ranebrown commented on #671
@mightymicha If you can test out the changes in the linked PR that would be helpful. Thanks.

[2019-04-26 12:46] ranebrown commented on #423
The regex patterns that are used to match links and other behavior aren't defined until the syntax file is loaded [here](https://github.com/vimwiki/vimwiki/blob/6787e0fb7e772b7470d7f8e48a4b653450ea0e98/syntax/vimwiki.vim#L17). It would probably be ok to make the regex patterns be defined in [vimwiki#vars#init](https://github.com/vimwiki/vimwiki/blob/6787e0fb7e772b7470d7f8e48a4b653450ea0e98/autoloa

[2019-04-26 12:51] ranebrown commented on #423
@Vaelatern If you want to test this out and provide the numbers we could make the change.

[2019-04-26 12:58] ranebrown commented on #127
#257

[2019-04-26 13:03] ranebrown commented on #362
This seems to be fixed on the latest `dev` branch. If you still see this behavior using `dev` please reopen.

[2019-04-26 13:03] #362 closed

[2019-04-26 13:03] #315 closed

[2019-04-26 14:34] mightymicha commented on #677
Neomutt creates a temp file with no specific extension when creating a new mail. When I come up with a solution tweaking either vimwiki or neomutt I will post it here. For now, I just live with `gqq`ing after every step. Luckily I do not need tables that often in emails :smile:
Would be easier though, if it would only check the filetype or if there is a command which triggers that autocommands.
Th

[2019-04-26 14:44] sdondley commented on #294
How are tests run with Vimscript? Can you recommend any good books on basic development with vim? I’ve read small doses of learn vim script the hard way.

[2019-04-26 16:20] ranebrown commented on #677
You should be able to place something like this in your `.vimrc` to at least get the table formatting working. I think those functions would get called twice for a standard vimwiki file since two different autocommands would call it but I don't think that will cause problems. I'm sure there are other ways to get it working as well. Good luck!
[code]

[2019-04-26 16:20] #677 closed

[2019-04-26 19:44] hq6 commented on #680
Wow, this issue was introduced in c6e110a368562c30ac3126cec6cccd46efee8eb6 from 2013.
The fact that we haven't found it until now seems to imply that not many people use `g:vimwiki_folding = 'list'`.

[2019-04-26 23:53] hq6 opened #691 "VimwikiGoBackLink does not go back to links on the same page"
# Issue Checks

1. This issue reproduces on `dev` as well as master.
2. I am using the default syntax.
3. The vimrc is copied from the Troubleshooting page.
[code]
4. Output of `:VimwikiShowVersion`
[code]

### Steps to Reproduce

1. Create an index page with the following contents: `[[AnotherPage]]`.
2. Follow the link and create the following contents
[code]
3. Run `:VimwikiTOC` to generate the

[2019-04-27 02:37] ranebrown commented on #294
The only test framework I know of is [vader](https://github.com/junegunn/vader.vim) which this project doesn't currently use (but needs to). I don't know of any books of the top of my head but I'm sure there are some good ones out there. As you mentioned [Learn Vimscript the Hard Way](http://learnvimscriptthehardway.stevelosh.com/) is a pretty good resource. The Vim help files are well written but

[2019-04-27 05:31] hq6 commented on #671
This has been fixed in dev by #686.

[2019-04-27 05:31] #671 closed

[2019-04-27 05:36] hq6 commented on #425
@sharethewisdom , Please try the new `g:vimwiki_key_mappings` introduced in #686 to see if it fixes this issue. That is pull `dev` and then put the following in your `.vimrc`.

[code]

[2019-04-27 12:52] ranebrown commented on #224
Pretty sure this has been implemented and this issue was never closed. Please reopen if I'm missing something.

[2019-04-27 12:52] #224 closed

[2019-04-27 12:58] ranebrown commented on #461
Doesn't seem like there has been further interest in this and there are a couple of workarounds including the experimental branch.

[2019-04-27 12:58] #461 closed

[2019-04-27 13:01] ranebrown commented on #364
Markdown is fairly well supported at this point. Any specific problems or enhancements should be opened as new issues.

[2019-04-27 13:01] #364 closed

[2019-04-27 13:03] ranebrown commented on #443
If anyone comes up with a way to solve this please reopen.

[2019-04-27 13:08] #355 closed

[2019-04-27 13:42] #334 closed

[2019-04-27 14:05] ranebrown commented on #8
From the lack of activity on this I think people have been happy with the current behavior. This can always be reopened if there is renewed interest.

[2019-04-27 14:05] #8 closed

[2019-04-27 14:47] llinfeng commented on #334
I read the notice and found this old thread of mine. Over the years, I have been using an "index page" to help me keep track of the wiki-pages (`*.wiki` or `*.md` files, indeed).

`symlink` can be a challenge for my setup, where I use Windows + Linux systems across several physical machines. I keep my personal wiki folder in-sync through a cheaper alternative of Dropbox, called [Nutstore](https://

[2019-04-27 14:54] redapemusic35 commented on #309
https://github.com/vimwiki/vimwiki/issues/309#issuecomment-283941903

I would like to attemp the gtd syntax highlighting. However, I am not sure what adding—the above— to a file means.

[2019-04-27 18:11] hq6 commented on #678
I assume this issue is resolved due to lack of additional response. Please re-open if this is not the case.

[2019-04-27 18:11] #678 closed

[2019-04-28 03:56] ranebrown commented on #225
There have been some improvements to fold handling such as the `quick` option and #601. Other fixes or enhancements should be opened as separate PRs/issues.

[2019-04-28 03:56] #225 closed

[2019-04-28 03:57] ranebrown commented on #172
If there is still interest in this please open a PR.

[2019-04-28 03:57] #172 closed

[2019-04-28 04:01] ranebrown commented on #690
Also take a look at the option `g:vimwiki_conceallevel`. Please reopen or comment here if you are still having issues.

[2019-04-28 04:01] #690 closed

[2019-04-28 04:51] ranebrown commented on #309
You can place the `syntax` and `hi def` lines in a file `~/.vim/after/syntax/vimwiki.vim` to get the desired syntax highlighting. To make this change in Vimwiki the same lines would be placed in `syntax/vimwiki.vim`. Seem like no one had enough interest to put together a PR even though all the work is done.

[2019-04-28 11:22] sharethewisdom commented on #425
hmm I'm not sure what's going on yet

from test.txt

[code]

from test.wiki

[code]

[2019-04-28 18:29] hq6 commented on #425
It looks almost like `sentencewrap` is not doing the mapping because the filetype is `wiki`. Does that plugin have a setting for list of filetypes that it works on?

[2019-04-29 02:35] ranebrown commented on #425
Seems to work fine for me as long as spelling is enabled (`:set spell`) which seems to be a [requirement]( https://github.com/Konfekt/vim-sentencewrap/blob/09fcd87a7ad524dd827581ef0db94aec8d3d0b41/plugin/sentencewrap.vim#L4-L6) of sentencewrap.

[2019-04-30 04:11] ranebrown commented on #481
This should be fixed on the latest `dev` branch. Please reopen if you are still seeing any problems.

[2019-04-30 04:11] #481 closed

[2019-04-30 04:49] ichitera opened #693 "Some key mappings of g:vimwiki_key_mappings should be enabled only on vimwiki buffers"
#686 enables key mappings globally, but some key mappings (e.g. `o`, `O`) does not work on a buffer of which filetype is not `vimwiki`.

![1](https://user-images.githubusercontent.com/31098747/56941054-dcf15200-6b4c-11e9-85ed-1ab813dfa0fb.gif)
(In the screencast, I tried to enter the insert-mode on a blank buffer by `o` key, but I could not. `o` key was mapped to `<Plug>VimwikiListo` in the buffer

[2019-04-30 05:20] ranebrown commented on #693
I noticed this as well. I think it is fixed if you want to pull the latest and check.

[2019-04-30 05:24] Vaelatern commented on #423
So run `call vimwiki#vars#populate_syntax_vars(s:current_syntax)` ?

[2019-04-30 06:10] sharethewisdom commented on #425
@ranebrown  ok thanks you're right. I used `ftplugin/wiki.vim` to set `spell`.

[2019-04-30 07:21] ichitera commented on #693
Thank you for the very quick response. I confirmed that the latest commit 50a3c78c87899ba2eacdb4d0798b311df9ccfffd fixed the issue.

[2019-04-30 07:21] #693 closed

[2019-04-30 09:11] ranebrown commented on #425
No problem. I would recommend putting `set spell` in your `.vimrc`. If you only want it active for certain filetypes you could use an autocommand. Glad it is working:)

(Also make sure to pull the latest `dev` branch because there was a bug with the keymappings that I fixed. )

[2019-04-30 09:11] #425 closed

[2019-04-30 09:16] xeyownt commented on #362
I confirm that the bug is fixed using `dev`.

[2019-05-01 15:25] csarraille-rpx opened #695 "Links Not Concealing"
**Description:**
- Links are not concealing the path or the brackets.

- Expected Behavior:
link that I created in my index.wiki file, which is prefixed by an asterisk
`* notes_05_01_2019`
(I want the link path and brackets to conceal when the cursor is not on it)

- Actual Behavior:
` * [[team_notes/notes_05_01_2019]]`
(The cursor is not on this link and it won't collapse)

- Same issue is happen

[2019-05-01 16:32] csarraille-rpx commented on #695
Resolved by upgrading vim & installing macvim:
brew upgrade vim
brew install macvim

-- Got hint from this: https://groups.google.com/forum/#!topic/vimwiki/_0tDK08efEM

[2019-05-01 16:33] #695 closed

[2019-05-03 13:27] jupart opened #696 "Export Visual Selection"
I think this would be an enhancement. Adding the ability to export a visual selection to HTML would be very nice. I plan tasks for myself and others in vimwiki. Having a way to select, export, and share a project (grouped by a heading) or a group of tasks would be a time saver.

[2019-05-03 14:42] jupart opened #697 "Links to Subheaders"
(enhancement)

Add the ability to scope anchor links like [[index#Header1##Subheader of Header 1]]. Currently, [[index#Subheader of Header 1]] works, which is a problem when ##Subheader of Header 1 has duplicates in multiple headers.

[2019-05-03 20:03] hq6 commented on #696
I agree that seems like a useful feature.
Would you be interesting in creating a PR for it?

[2019-05-03 20:04] hq6 commented on #697
I'm worried about breaking backwards compatibility (existing links might break) with a change like this.
@Nudin @ranebrown , do you have any thoughts on this?

[2019-05-03 22:54] jupart commented on #696
Yes, I'll look into it, but I wanted to create an issue first.

On Fri, May 3, 2019, 4:03 PM hq6 <notifications@github.com> wrote:

[2019-05-04 03:29] ranebrown commented on #237
@davidlmontgomery This should be fixed on the latest `dev` branch.

[2019-05-04 03:29] #237 closed

[2019-05-04 03:35] ranebrown commented on #423
Yes. It should work to delete that line from the syntax file and move it to `vars.vim` at the end of the `vimwiki#vars#init` function and then do some profiling with `vim --startuptime time.log`

[2019-05-04 03:42] ranebrown commented on #697
Maybe I'm misunderstanding but I think this already works. With the below headers and links it is possible to jump to the correct subheader even if it has a duplicate name. Maybe the documentation needs updated? I didn't take a look at that.
[code]
[code]

[2019-05-04 04:05] ranebrown commented on #691
This seems to be as simple as changing [this line](https://github.com/vimwiki/vimwiki/blob/fd8832cfa1624267a8156b055de24c47ec966612/autoload/vimwiki/base.vim#L332-L333) to `let update_prev_link = is_wiki_link` but I didn't really look into the reasoning why links within the same file weren't being stored.

[2019-05-04 06:36] hq6 commented on #691
@ranebrown , I've actually been investigating this.
It's not that simple because there's only a single `prev_link` in each buffer.
Your suggestion has the desired affect but breaks a different functionality: being able to hit `Backspace` a second time and going back to the page from whence you came.

That is, you'd be able to go back to the link on the current buffer, but you have now lost the lin

[2019-05-04 12:32] #685 closed

[2019-05-04 12:44] ranebrown commented on #691
Yeah, I thought it might have been too easy. It does sound like storing multiple links would be required.

[2019-05-04 16:42] jupart commented on #697
It does seem to work, although sometimes I can't jump to the link, but that's a different matter. Thanks!

[2019-05-04 16:42] #697 closed

[2019-05-04 17:27] ranebrown commented on #697
@hq6 if you have a chance can you check the documentation on this? Otherwise I'll get to it in the next few days. Thanks!

[2019-05-04 22:48] hq6 commented on #697
@ranebrown , It looks like the documentation is indeed missing this point. I will try to create a PR to fix it.

[2019-05-05 13:43] sdondley opened #699 "dev version may introduce conflict with other plugins that map <CR> in visual mode"
This should probably be closed but I thought I'd document the issue in case others run across it.

On the `master` branch, I am able to select multiple words and create a wikilink without issue. The `dev` branch, however, seems to introduce a conflict with another plugin, `persistentvisuals.vim`, that I use which has the following mapping for exiting visual mode:

`silent! vnoremap <unique><silent

[2019-05-05 14:49] ranebrown commented on #699
We made some changes to the key mapping behavior (#686) so other defined mappings are not overwritten. I have been thinking that we might want to change this for the mappings defined in `ftplugin` that are specific to the `vimwiki` filetype since it is now possible to disable mappings by group. Otherwise we will probably see other issues like this where vimwiki no longer overwrites mappings define

[2019-05-05 17:02] hq6 commented on #699
I'm unclear about what the interface would look like for this. One idea is to have a per-group option / global option controlling whether Vimwiki will override mappings or not, but I'm not sure whether that's granular enough.

[2019-05-05 19:28] jupart commented on #697
I can check this out and create a PR a a needed.

On Sat, May 4, 2019, 6:48 PM hq6 <notifications@github.com> wrote:

[2019-05-05 20:41] ranebrown commented on #697
@jupart PRs are always welcome! There are a couple of issues labeled easy if you want to take a look at those. Otherwise anything helps including opening issues for bugs or feature requests. Even just improving the documentation helps, if you think something could be made more clear in this case go for it.

[2019-05-06 00:20] sdondley opened #700 "A foldexpr function for flexible header folding"
I've been boning up on my vim scripting skills and fine-tuned a function for `foldexpr` that folds on headers. It has a couple of configuration variables:

1) `g:header_type`: allows it to work with wiki or markdown syntax
2) `g:fold_blank_lines`: allows you to control whether the last blank line before a header is folded.

Thought I'd share this in case there is interest in implementing this in v

[2019-05-06 12:42] ranebrown commented on #440
I can't reproduce this. If there is still a problem please reopen or create a new issue with more details.

[2019-05-06 12:42] #440 closed

[2019-05-07 03:44] ranebrown commented on #700
How does this compare to using the `expr` fold option? Doesn't that fold on headers as well?

[2019-05-07 09:08] sdondley commented on #700
This gives users an option for folding the blank lines on or off. Nothing ground-breaking. I thought it was annoying to have blank lines folded in.

[2019-05-07 11:38] ranebrown commented on #700
I think this would be good to put on a new [wiki](https://github.com/vimwiki/vimwiki/wiki) page. Maybe create a "Tips and Tricks" page with a folding section?

[2019-05-07 11:52] ranebrown commented on #699
Basically just revert to the previous behavior where Vimwiki overwrites mappings set by other plugins and the user would have to use the new option to disable a mapping group if they didn't want that to happen.

Other options:
- Add a new command to print out any Vimwiki mappings that didn't get set
- Add a wiki page with steps for debugging a mapping that isn't working or didn't get set
- New opt

[2019-05-07 11:56] ranebrown commented on #667
@johnyoonh does using `let g:vimwiki_folding = 'custom'` allow you to define this fold function and work as desired? If so I think it would make sense to place this example on a new [wiki](https://github.com/vimwiki/vimwiki/wiki) page as mentioned in #700.

[2019-05-07 12:09] ranebrown commented on #617
I think it would work to prepend `[/\\]\?` to the regex patterns used for the link rename function. The lines [here](https://github.com/vimwiki/vimwiki/blob/0d8fbebcb898f7abed45ab33d5144e89ee20e0a5/autoload/vimwiki/vars.vim#L663) and [here](https://github.com/vimwiki/vimwiki/blob/0d8fbebcb898f7abed45ab33d5144e89ee20e0a5/autoload/vimwiki/vars.vim#L800) (and similar lines in those two groups).

[2019-05-07 12:23] sdondley commented on #700
That probably makes sense. You probably don't want to get into the business of writing folding code to try to satisfy the whim's of every user. But if you show them how they can write their own folding code, that would be useful.