[2019-05-07 13:25] sdondley commented on #699
Another option is to use the `<unique>` directive in the mapping. This will throw an error if the mapping already exists. See http://vimdoc.sourceforge.net/htmldoc/map.html#:map-%3Cunique%3E

[2019-05-07 17:16] sdondley opened #702 "Make remapping documentation more accessible to newer vim users"
As a rather amateur Vim user, I found Section 3.1 on "Global mappings" to be somewhat confusing and has other problems:

1. I had no idea what `<Plug>` was. Though I had seen this before, I didn't know what to do with it or why it was important.
2. To remap a key, the documentation suggests that `:nmap` be used. However, it's best practice to use `nnoremap`
3. The documentation seems to provide a

[2019-05-07 22:39] ranebrown commented on #700
I don't think the wiki has any access restrictions if you want to go ahead and create the page.

[2019-05-07 22:42] ranebrown commented on #702
The `<Plug>` mappings need to be recursive to work properly. The actual definitions use the `nnoremap` versions if you look in `ftplugin/vimwiki.vim`. Anything that doesn't use `<Plug>` should use the `nnoremap` version as you suggested.

[2019-05-07 22:46] ranebrown commented on #11
I'm going to close this one for now since there have been some pretty good improvements made. It can always be reopened or a new issue created with more specifics.

[2019-05-07 22:46] #11 closed

[2019-05-08 01:14] sdondley commented on #702
Yeah, figured that out afterwards and made a new commit to address my error.

[2019-05-08 01:15] sdondley commented on #700
Yeah, was planning to. Will get to it soon.

[2019-05-08 01:21] sdondley commented on #688
So, in the process of updating the documentation and playing with mappings, I discovered that if I put add this line in ftplugin/vimwiki.vim:

`imap <S-CR> <Plug>VimwikiReturn22`

`<S-CR>` is captured and works just fine. So I'm thinking there may be some bug. I'm on `dev` with a very clean vim configuration and no other plugins enabled.

[2019-05-08 06:27] Vaelatern commented on #423
I'm testing all features without making any changes, on a fresh install. Just to see if my vim setup works for this without the syntax hack or the vars init thing.

Then someone else will need to test, or I'll add a clean vim container, just for this test.

[2019-05-08 11:03] ranebrown commented on #20
I got a chance to take a look at this and I think it can be handled with `VimwikiLinkHandler` using something like this:
[code]

It should be easy enough to exclude the index page if desired as well.

[2019-05-08 11:03] #20 closed

[2019-05-08 16:22] sdondley commented on #515
Taskwiki does this. I'm using it and it works pretty well once you wrap your head around it.

[2019-05-09 03:09] #240 closed

[2019-05-09 03:32] #619 closed

[2019-05-10 01:14] sdondley commented on #700
Added wiki page.

[2019-05-10 01:14] #700 closed

[2019-05-11 04:23] NikosAlexandris opened #706 "Import from vim-notes"
Would you think of a straightforward way to import notes created with [vim-notes](https://github.com/xolox/vim-notes), regardless of the syntax (VimWiki, Markdown or MediaWiki) that is set.

[2019-05-11 19:18] ranebrown commented on #706
I'm not familiar with the syntax of vim-notes but I think you would need to write a script to translate the syntax elements into one of the 3 recognized Vimwiki syntaxes. I would try to find the one that most closely matches and go for that. I think `sed` or `awk` would be your best bet.

[2019-05-11 20:02] #680 closed

[2019-05-12 03:29] ranebrown commented on #699
After thinking about this a bit more (and running into other plugins taking control of a mapping that I expected to belong to Vimwiki) I think the best option is to revert the behavior. This would let Vimwiki overwrite mappings in Vimwiki buffers. It also makes sense to revert the change from #202 since the global key groups can be disabled now. The main change would be this (and a few changes in

[2019-05-12 13:20] sdondley commented on #699
Yes, I think local/buffer maps should override other maps.

[2019-05-12 13:44] sdondley commented on #699
I'm also wondering if it makes sense to use <LocalLeader> instead of just <Leader>.

[2019-05-12 16:09] Vaelatern commented on #423
At present only the splitting commands do not work without syntax on with my setup.

[2019-05-12 16:14] Vaelatern commented on #423
[code]

[2019-05-12 23:07] davidsierradz opened #707 "Generalize links_space_char setting?"
Hi!

Maybe this setting could be more generalized? something like a dictionary:

[code]

What do you think?

Also thinking if we can convert Uppercase to lowercase (but maybe create another setting?), so when me create a link it would apply all rules:

[code]

Thanks!

[2019-05-13 00:20] davidsierradz commented on #318
I think conceal is broken when using backticks inside bold or italic sentences:

Input | Spec | Vimwiki rendering
-- | -- | --
\*\*hello \`world\`\*\*| **hello `world`** | \*\*hello `world`\*\*
\*hello \`world\`\*| *hello `world`* | \*hello `world`\*

[2019-05-13 03:07] ranebrown commented on #707
Sounds like a good idea to me. Are you interested in putting together a PR?

[2019-05-13 03:20] ranebrown commented on #318
@davidsierradz Please create a new issue.

[2019-05-13 03:24] ranebrown commented on #423
Modify it to `call vimwiki#vars#populate_syntax_vars(vimwiki#vars#get_wikilocal('syntax'))`

[2019-05-13 09:13] Ram-Z commented on #699
IMO plugins shouldn't be forcefully overwriting any mappings that have already been set, by another plugin or by the user.

It should be sufficient for the user to reorder their plugins so that the more important plugin to them is loaded first and subsequent plugins are not interfering with that.

In short, no plugin should assume it is more important than any other plugin.

[2019-05-13 10:03] NikosAlexandris commented on #706
Even if the source is Markdown, and the syntax for vimwiki is set to Markdown, still there is such conversion work to do?

[2019-05-13 10:03] NikosAlexandris commented on #706
And, where could I start reading upon this, in case I want to go on with such a conversion script?

[2019-05-13 11:50] ranebrown commented on #706
If the source is markdown then you shouldn't need to do anything other than configure Vimwiki to use markdown syntax. Update to the correct path and extension.

[code]

[2019-05-13 11:57] ranebrown commented on #706
You could take a look at [The GNU Awk User's Guide](https://www.gnu.org/software/gawk/manual/gawk.html) or look for a `sed` tutorial online. Basically you need to use regex patterns to find specific elements and then replace them with a different syntax.

[2019-05-13 12:48] NikosAlexandris commented on #706
Thank you

[2019-05-13 12:48] #706 closed

[2019-05-13 13:46] sdondley commented on #699
My thought is since it's a vimwiki page they are editing, local mappings
should take precedence in a local buffer. I think the user would expect
that to happen.

And I don't know how to reload my vim plugin order. Seems like a hassle. If
this is the direction that is taken, there needs to be very explicit
instructions for how to do that.

On Mon, May 13, 2019 at 5:13 AM Ram-Z <notifications@github

[2019-05-13 22:34] NikosAlexandris opened #708 "Overview table with Markdown to HTML converters"
There seem to be a few different tools under https://github.com/vimwiki/vimwiki/wiki/Related-Tools#external-tools to do the same conversion: Markdown to HTML. Maybe adding an overview table would help to understand their differences.

[2019-05-13 23:13] davidsierradz commented on #707
Sure, I will try to hack something and report back!

[2019-05-14 06:23] chliul commented on #350
@pkazmier I set g:ale_set_loclist = 0 disable ale using loaction list, which seems works for me now.

[2019-05-14 11:05] ranebrown commented on #708
An overview table would definitely be helpful. If you try out some of the tools you can update the wiki with your findings! 😄

[2019-05-14 11:15] ranebrown commented on #398
I think it makes more sense to use a different plugin or external tool for this functionality. Here are a few options:
- https://github.com/wannesm/wmgraphviz.vim
- https://github.com/gyim/vim-boxdraw
- https://www.vim.org/scripts/script.php?script_id=40

[2019-05-14 11:37] ranebrown commented on #420
The command should be changed to call a function with error handling built in.

[2019-05-14 11:40] ranebrown commented on #413
I'm going to close this for now since there hasn't been a response and it works correctly in my testing.

[2019-05-14 12:31] Ram-Z commented on #699
Some global mappings may be set by the user to be used in every buffer even vimwiki ones. Overwriting them may be surprising to the user.

AFAIK, that should be the order in which [`runtimepath`](http://vimdoc.sourceforge.net/htmldoc/options.html#'runtimepath') is set. For most plugin managers that will be the same as the order in which plugins are listed.

[2019-05-14 15:19] sdondley commented on #699
Users who understand that local buffer settings can override global ones
won’t be that surprised. I think that’s just the standard, intended
behavior of Vim.

If they are surprised, it’s easy enough to give them direction on how to
remap vimwiki’s local maps.

Is using <LocalLeader> out of the question, by the way?

On Tue, May 14, 2019 at 8:31 AM Ram-Z <notifications@github.com> wrote:

--
Promet

[2019-05-15 13:32] davidsierradz opened #709 "Support inline code spans inside emphasis"
I think conceal is broken when using backticks inside bold or italic sentences:

Input | Spec | Vimwiki rendering
-- | -- | --
\*\*hello \`world\`\*\*| **hello `world`** | \*\*hello `world`\*\*
\*hello \`world\`\*| *hello `world`* | \*hello `world`\*

init.vim:

[code]

[code]

[2019-05-15 13:59] ExarchD commented on #413
I can confirm that the dev branch isn't working for me on Windows.

[2019-05-15 19:50] galbacarys commented on #427
@sacenox are you using alacritty by any chance? I found an issue in alacritty that is causing the problem for me: https://github.com/jwilm/alacritty/issues/99

[2019-05-16 03:27] ranebrown commented on #413
@ExarchD Can you try the minimal vimrc steps on the [troubleshooting page](https://github.com/vimwiki/vimwiki/wiki/Troubleshooting#minimal-vimrc).

What version of vim are you using?

[2019-05-16 04:37] ranebrown commented on #699
In principal that makes sense but I have already ran into a few instances where that isn't the case and reordering the plugins in runtimepath doesn't make any difference. If a user runs into a conflict they can disable and/or remap the Vimwiki mapping now.

Most of the mappings don't use leader and the ones that do actually use `g:vimwiki_map_prefix`. Adding localleader to all of the buffer specif

[2019-05-16 13:08] ranebrown commented on #709
See [commonmark spec](https://spec.commonmark.org/0.29/#emphasis-and-strong-emphasis) rule 17 and [example 477](https://spec.commonmark.org/0.29/#example-477).

[2019-05-16 14:31] ExarchD commented on #413
nvim v0.3.5

I just tried the minimal setup. Same issue for me. I created a new link, went to that file, tried to create backlink and got:
"No other file links to this file"

[2019-05-16 23:44] ranebrown commented on #413
Ok, I'm seeing the same thing using nvim on Windows but it is still works with vim 8.1

[2019-05-17 02:48] ranebrown commented on #413
@ExarchD can you give the change I pushed a try?

[2019-05-17 21:22] colemand77 commented on #515
A kludgy workaround might be to modify the scan_tags() function in the file tags.vim to include a "descriptive link" in which the description is the text of the line which a particular tag was applied to.
so in a file you may have:
`- [ ] This is a thing I need to do :TODO:`
So you modify the scan_tags() function to create a link with `. | . <cleaned_line_text> ` appended to it.

that way when
:Vi

[2019-05-18 03:58] colemand77 commented on #515
Close but no cigar.
It seems that if there are multiple instances of a `:tag:`, the link will only reference the first instance of the tag anchor, not any subsequent locations of the tag (unless the tag is tied to a header).
Seems like a only way around this would be to modify the link-following behavior to handle a line number used in a link parameter.  unfortunately that is beyond me for now.

[2019-05-21 13:38] severoraz commented on #71
Here is a modified version of the script that works for me. The other suggestions didn't.
This script opens all files with explorer.exe, which results in
* for directories, opening them in explorer.exe
* for files, opening them with their assigned application (system default)

[code]

[2019-05-21 15:18] project-repo opened #712 "Indent list on tab"
Hi,

I am currently using vimwiki as a preparation tool for an upcoming test and in doing so, I make heavy use of the list functionality, which is really awesome for writing concise summaries. However, after some time, I noticed that indenting list items can become quite tedious, since I must remove the bullet, add the indention and then readd the bullet. I know that vimwiki has functionality for

[2019-05-22 03:33] ranebrown commented on #712
The default key mappings ctrl-t and ctrl-d increase and decrease indentation in insert mode. They can be remapped with `imap your_keys_here <Plug>VimwikiIncreaseLvlSingleItem` and `imap your_keys_here <Plug>VimwikiDecreaseLvlSingleItem`. If you want to use tab you might need to take a look at [supertab](https://github.com/ervandew/supertab) or disable other tab mappings. Does that help?

[2019-05-22 06:49] project-repo commented on #712
Cool, thanks! I remapped the tab key to ``<c-t>`` in vimwiki files and it works great. This perfectly solves my issue.
cheers,
Jeremy

[2019-05-22 06:49] #712 closed

[2019-05-22 17:16] jessebett opened #713 "markdown syntax vimwiki export with pandoc"
I am getting started with vimwiki and would like to use the markdown syntax as I  am already familiar with it and use it elsewhere. I am primarily interested in the support for exporting markdown vimwiki to html and pdfs. I have tried using `patrickdavey/vimwiki_markdown` but this does not seem to work for my markdown files whose syntax were targeting pandoc.

In particular, my markdown contains a

[2019-05-23 00:48] ranebrown commented on #713
There is a pretty good example of how to use pandoc in [this comment](https://github.com/vimwiki/vimwiki/issues/642#issuecomment-477815553). You basically need a script to take the arguments that vimwiki provides and process things as needed then pass it off to pandoc.

[2019-05-23 12:06] mMontu opened #714 "Slow insertion when fold is enabled"
Recently I started noticing a large delay to insert a few characters on specific positions of some wiki files.
I've created this [sample file](https://github.com/vimwiki/vimwiki/files/3211993/delay2.zip) where the issue can be reproduced with minimal configuration (compressed in zip as GitHub is not allowing .wiki files).

Steps:

    $ gvim -u NONE -U NONE -N -i NONE
    <commands below can be co

[2019-05-24 02:43] ranebrown commented on #714
Is the behavior different than it was at a previous point in time (different release or commit)?
Does using `let g:vimwiki_folding = 'expr:quick'` make a difference?

I would guess a high amount of the function calls are related to getting regex patterns for syntax highlighting.

[2019-05-24 04:07] #415 closed

[2019-05-25 00:33] ranebrown commented on #713
@jessebett were you able to get something working? Do you have any other questions?

[2019-05-25 00:36] ranebrown commented on #708
The external tools page is now found [here](https://vimwiki.github.io/vimwikiwiki/Related%20Tools.html#Related%20Tools-External%20Tools). The base repository where PRs can be made is https://github.com/vimwiki/vimwikiwiki

[2019-05-25 00:36] ranebrown commented on #707
@davidsierradz did you make any progress on this?

[2019-05-25 02:45] #699 closed

[2019-05-25 02:46] ranebrown commented on #676
@monkinco have you made any progress on this?

[2019-05-26 09:23] monkinco commented on #676
Yes, at the end of the week I will push first version for review.

[2019-05-27 12:53] jacobseiler opened #715 "Creating links after setting markdown default fails"
Hey there, just started using Vimwiki.  I'm attempting to set Markdown as my default syntax and have added the following lines to my `.vimrc`

[code]

Going to my ``~/vimwiki/index.md``, I attempt to create a link (by setting my cursor and pressing ``Enter``) and get the following error

[code]

VimwikiShowVersion gives ``Stable version: '2.4.1' ``

Any tips would be appreciated!

[2019-05-27 14:17] ranebrown commented on #715
What is the link text you are pressing enter on?

Do links work if you create them manually e.g. `[test](page.md)`.

Can you try the minimal vimrc steps [here](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html#Troubleshooting-Minimal%20Vimrc)

[2019-05-27 14:29] jessebett commented on #713
@ranebrown sorry about the non-response. Thank you very much for pointing me to this script. I see that it is for using pandoc to export html, so I will have to modify a bit for my purposes. I'll take a look at that in a bit and reopen if I run into any issues with vimwiki.

[2019-05-27 14:29] #713 closed

[2019-05-27 22:01] jacobseiler commented on #715
Thanks for the reply.

I'm pressing enter on `Test` text.

The links work if I create them manually.

I tried the minimal `.vimrc` and it works fine using the default syntax and `.wiki` extension.  However, changing the syntax to `markdown` and the extension to `.md` throws the same error when I try and press "Enter" to create the link on the `Test` text.  Again, creating the links manually works.

[2019-05-28 09:28] brijgogogo opened #716 "Enter key not working on windows 10"
Vimwiki version: 2.4.1
Vim: 8.1

I am on Windows 10. Enter is not working, it just moves the cursor to line below.

Is there some setting that need to be enabled to make enter work on Windows ?

[2019-05-28 15:25] ranebrown commented on #715
I haven't been able to reproduce this. A few more questions:
1. Do you see the same behavior on the `dev` branch?
2. What version of vim are you using?
3. What OS are you using?

[2019-05-28 15:30] ranebrown commented on #716
What is the output of `:verbose imap <CR>`?

Do you see the same behavior using a [minimal vimrc](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html#Troubleshooting-Minimal%20Vimrc)?

[2019-05-29 15:26] mMontu commented on #714
@ranebrown I'm sorry for the delay.
For some reason GitHub didn't send an email with your comment.

I used my branch for #601 (based on master) for some time and didn't notice the issue, but that may be only luck.

I repeated the test above with `let g:vimwiki_folding = 'expr:quick'` and and the delay is smaller. I introduced that workaround on #227 but I expected wouldn't be necessary for a long

[2019-05-30 16:35] brijgogogo commented on #716
:verbose imap <CR> give:

i  <CR>        &@<SNR>72_AutoPairsOldCRWrapper73<SNR>72_AutoPairsReturn
Last set from ~\vimfiles\plugged\auto-pairs\plugin\auto-pairs.vim

[2019-05-30 16:42] brijgogogo commented on #716
Looks like it is conflicting with https://github.com/jiangmiao/auto-pairs, which says:
<CR>  : Insert new indented line after return if cursor in blank brackets or quotes.

[2019-05-30 16:49] brijgogogo commented on #716
I disabled the auto-pairs, now the output shows as:
i  <CR>        *@<Esc>:VimwikiReturn 1 5<CR>
Last set from ~\vimfiles\plugged\vimwiki\ftplugin\vimwiki.vim

Still, the enter behaves same, it moves the cursor to the line below.

[2019-05-30 18:06] ranebrown commented on #716
What is the behavior you are expecting? To create a link when on a word? If that is the case what is the output of `verbose nmap <CR>`. The `VimwikiReturn` mapping is used when working in lists in insert mode.

[2019-05-31 01:19] alexwms opened #717 "vimwiki <leader>ww not working"
I am using macvim. My .gvimrc file is the following:

let mapleader = ','

:map <Leader>A  oanother line <Esc>

set nocompatible
filetype plugin on
syntax on

call plug#begin('~/.vim/plugged')

Plug 'lervag/vimtex'
let g:tex_flavor='latex'
let g:vimtex_view_method='zathura'
let g:vimtex_quickfix_mode=0
set conceallevel=1
let g:tex_conceal='abdmg'

Plug 'vimwiki/vimwiki'

Plug 'morhetz/gruvbox'

ca

[2019-05-31 15:16] alexwms commented on #717
I just ran `:verbose map ,ww` and got back `No mapping found`

[2019-05-31 15:42] ranebrown commented on #717
You might need to do that with `<leader>ww`. You can also just type `:nmap` and browse through the listed mappings.

[2019-05-31 15:44] ranebrown commented on #717
Maybe try `\ww` as well which should be the default leader key.

[2019-05-31 16:00] alexwms commented on #717
I tried all of your suggestions, but nothing is coming up. `:nmap` shows no commands for vimwiki.

[2019-05-31 16:11] ranebrown commented on #717
Does `:VimwikiIndex` open the wiki page?

Can you try the minimal vimrc steps [here](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html#Troubleshooting-Minimal%20Vimrc) and add the `mapleader` command?

[2019-05-31 21:22] alexwms commented on #717
`:VimwikiIndex` gives `Not an editor command` when executed in macvim.

I followed the minimal vimrc steps and everything works. So, this seems to be a problem involving macvim/vim-plug.

[2019-06-01 08:52] techhazard opened #719 "Display just the basename for created links"
# Display just the basename for created links

When creating a link with `:VimwikiFollowLink` (via the default mapping to `<CR>`), the full path is always included.
I would like only the basename to be displayed (the part after the last `/`).

## Example
Take the following wiki directory as an example:
[code]

First we do the following:
1. open `wiki/index.md`
2. type path: `/apples/green`
3. visu

[2019-06-02 02:33] jacobseiler commented on #715
1: Yes I do. The minimal `.vimrc` was done following the example which (I believe) uses the `dev` branch.
2, 3: I have attempted running this on my Mac (using Vim `version 7.4.8056`) and SSHing onto a super computer (Vim `version 7.4.1099`).

In the meantime I've just been putting `[]()` around my links manually and have been loving Vimwiki :)

[2019-06-04 02:22] alexwms commented on #717
I have discovered the following: If I launch macvim (with vimwiki already installed via vim-plug) and then issue `:map ,`, the vimwiki commands do not show up. If I instead first run `:PlugInstall` and then run `:map ,`, the vimwiki commands appear and I am able to execute them. But then, if I close and reopen macvim, the commands no longer show up when I issue `:map ,`.

[2019-06-04 02:47] alexwms commented on #717
I figured it out. I was having this issue:[https://github.com/junegunn/vim-plug/issues/540]( https://github.com/junegunn/vim-plug/issues/540)

[2019-06-04 02:47] #717 closed

[2019-06-04 12:39] jmpicaza opened #720 "Unable to create "~/vimwiki/index.wiki""
Hi,
I'm trying to use Vimwiki, but I'm unable to point it to "~/vimwiki/index.wiki" or whatever other location. Each time it asks:
![image](https://user-images.githubusercontent.com/2660543/58879185-57c20580-86d5-11e9-8c85-63ec5e7eeb69.png)

and the .vimrc is:
let g:vimwiki_list = [ {'path': '~/Documents/vimwiki', 'syntax': 'markdown', 'ext': '.md.wiki'}, {'path': '~/Documents/vimWiki/curro.wiki'}

[2019-06-04 13:03] jmpicaza commented on #720
The command ":echo g:vimwiki_wikilocal_vars" resolves to:

[code]

All paths are fixed to "/". This is the problem.

[2019-06-04 13:19] ranebrown commented on #717
Glad you figured it out!

[2019-06-05 11:27] ranebrown commented on #716
@brijgogogo any update here?

[2019-06-05 11:29] ranebrown commented on #719
@techhazard would you be interested in creating a PR?

[2019-06-05 11:34] ranebrown commented on #720
The path should default to `$HOME/vimwiki` unless you are changing it in your vimrc. Can you try the minimal vimrc steps [here](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html#Troubleshooting-Minimal%20Vimrc)?

[2019-06-05 22:44] li-ruijie opened #721 "Vimwiki Error: You can generate diary links only in a diary index page!'"
Trying to generate diary index causes the error:

    "Vimwiki Error: You can generate diary links only in a diary index page!'"

Potential fix:
change line 389 from:

    let diary_file = vimwiki#path#path_norm(s:diary_index())

to

    let diary_file = vimwiki#path#path_norm(s:diary_index(0))

Does it ever make sense not to set diary_index to current diary when generating index?

[2019-06-06 10:33] brijgogogo commented on #716
`verboase nmap <CR>' gave output : no mapping found.
I added explicit mapping `noremap <CR> :VimwikiFollowLink<cr>`, and it is working now.

[2019-06-07 15:00] jmpicaza commented on #720
Thanks. After uninstalling, installing dev-macvim and other test, I began to test with minimal .vimrc.
At the end, it seems that the problem is in the lines:
[code]
I commented the lines and all works fine. Thanks for the help.

[2019-06-07 15:00] #720 closed

[2019-06-10 22:11] #716 closed

[2019-06-11 13:29] techhazard commented on #719
I am.
But I'm not really good in vimscript (yet), and I'm not sure when I'll have time.
Nevertheless, I'll give it a go when I can.

[2019-06-15 19:41] joejobber opened #722 "Patch to add cell alignment to tables"
The last couple of years I've used a patched version of tbl.vim in vimwiki 2.3 to add left/center/right alignment functionality to table cells by adding semi-colons to the separator lines. I did not write the original code. I don't know who did. I do know it works flawlessly for me.

Recently I noticed development of vimwiki has been reanimated again and thought it would be a good idea to request

[2019-06-16 12:44] joejobber commented on #722
One possible issue I can see is that semi-colons are used as anchor markers. Would that be a problem?

[2019-06-16 12:48] ranebrown commented on #722
Is your proposal different than what was merged into the dev branch in #377 (other than using colons)?

[2019-06-16 12:49] ranebrown commented on #721
What is your use case for generating the diary index when you aren't actually on the diary index page?

[2019-06-16 13:02] joejobber commented on #722
On 16/06/2019 14.48, Rane Brown wrote:

Aha, there it is! Sorry, I didn't see this when I searched for similar
suggestions yesterday. It seems that does precisely what I had in mind.

As a matter of fact, I do use colons, as you can see in the diff. No idea why I
named them semi-colons. I probably was too sleepy when I wrote that.

Sorry for wasting your time with this.

Any idea when this will be

[2019-06-16 13:14] ranebrown commented on #722
There will likely be another release within a few months. The dev branch is fairly stable and should be good for daily use. It is always good to have extra help finding and reporting bugs on the dev branch prior to a release!

[2019-06-16 13:20] joejobber commented on #722
On 16/06/2019 15.14, Rane Brown wrote:

I that case I think I will try the dev branch. If I encounter an issue I'll
communicate it.

By the way: I am really glad to see that vimiwiki development has been revived!
Thank you and all the other contributors for that. Much appreciated.

Grx HdV

[2019-06-17 07:50] techhazard commented on #719
I dived into the code a bit, but I was unable to find where I need to make changes.

I found `vimwiki#base#resolve_link` and `vimwiki#base#open_link` in `vimwiki/autoload/vimwiki/base.vim` but I'm still not sure if that's where I need to be.

Can somebody please give me some pointers to where I need to be? I should be able to take it from there :-)

[2019-06-17 19:47] ranebrown commented on #719
I think you are going to want to look at [vimwiki#base#replacestr_at_cursor](https://github.com/vimwiki/vimwiki/blob/b997e687c3e34c1451d8573a23d91dfe6b4122c5/autoload/vimwiki/base.vim#L895-L915).

[2019-06-19 22:59] shihabdider opened #723 "How to search by multiple tags?"
How do you use :VimwikiSearchTags to search by multiple tags? e.g If I have the tags :programming:python:oop and I want to search on both :programming: and :python:, irrespective of order (i.e show me all files that have both those tags)

[2019-06-20 15:18] evantravers opened #724 "Generate an index for a particular tag"
This is just an idea… I sometimes manage "hub" pages in my wiki, and it'd be nice to be able to have a live updating list of pages with just specific tags rather than all tags… something like

[code]

And that would pull only that tag… sorry if this is a duplicate, I didn't see one.

[2019-06-20 22:03] matt-snider commented on #723
Hi @shihabdider

I had the same question several months ago and found that it isn't possible. Vimwiki uses a [CTAGS](http://docs.ctags.io/en/latest/) file to store tag information, and I wasn't able to find _any_ tool that can query with multiple tags.

I wrote [vim-tagquery](https://github.com/matt-snider/vim-tagquery) for myself because I do these kinds of queries often. It works for my needs, b

[2019-06-20 23:23] evantravers commented on #724
I'm an idiot. `:VimwikiGenerateTags` does take arguments. For those who find this via google…  it seems that on the `dev` branch, the `auto_tags` and `auto_generate_tags` options will cause them to auto update. Pretty close to ideal for my uses.

[2019-06-21 11:45] evantravers commented on #724
Well… `auto_generate_tags` causes the magic header for a single set of tags that you wish to track to automatically expand to _all_ tags.

We may want a magic header like the one I described in the first comment.

[2019-06-25 09:19] cosmicraga commented on #119
Thanks for the above answer. How to implement the above solution for multiple diaries?

[2019-06-28 20:10] soctar opened #725 "Vimwiki Header Folding highlight groups"
Do the `VimwikiH1Folding`, `VimwikiH2Folding`, etc. highlight groups actually get used? If they aren't (they don't seem to be), could they be used? It'd be nice to be able to differentiate between fold levels.

I'm using markdown syntax, my settings are below:
[code]

Branch: dev
Revision: b997e68
Date: 2019-06-05 06:04:41 -0600

[2019-07-03 13:33] ranebrown commented on #725
Where are you seeing `VimwikiH1Folding` defined? I don't think those are present in the `dev` (or `master`) branch. You can set custom colors for each header level as described in the [documentation](https://github.com/vimwiki/vimwiki/blob/b997e687c3e34c1451d8573a23d91dfe6b4122c5/doc/vimwiki.txt#L1185-L1192) but I'm not sure what you will see with folding enabled.

[2019-07-03 13:35] ranebrown commented on #724
I agree that could be useful. Not sure when anyone will have time to look into it though. If you want to create a PR that would definitely speed things up.

[2019-07-03 15:47] soctar commented on #725
I didn't see it defined in a cursory peek through the code base -- I saw it as an autocomplete option for `:hi Vimwiki`

[2019-07-04 21:40] seagoj opened #726 "feature request: custom filename formatter"
Hello,

I would like to add the ability to customize the created filename when making a link.

In my case, I'd like the highlighted string to be cast to lowercase, remove all symbols, add hyphens for the spaces and retain the '.md' in the link, so the markdown files are more portable.

For example if you were to create a link highlighting the string 'Here's my link', I'd like the following code to

[2019-07-05 02:36] ranebrown commented on #726
Take a look at #707. If you are interested in creating a PR I will review.

[2019-07-06 01:31] Pcrab opened #727 "Writing with tradition markdown grammar"
I have some problem when I want to creat a title by typing

# title

but vimwiki seems do not support change it to proper form when I use vimwiki2html.
anything I can do to make vimwiki support that?

[2019-07-06 01:41] Pcrab commented on #727
by typing
\# title

[2019-07-06 13:19] ranebrown commented on #727
I think you are talking about using markdown syntax? See the help file [here](https://github.com/vimwiki/vimwiki/blob/be793e28bea4ac30c19c15c4db3fd42d26a5debe/doc/vimwiki.txt#L855-L858) and [here](https://github.com/vimwiki/vimwiki/blob/be793e28bea4ac30c19c15c4db3fd42d26a5debe/doc/vimwiki.txt#L1996-L2009).

Does that answer your question?

[2019-07-07 01:32] Pcrab commented on #727
yeah , thanks

[2019-07-07 01:32] #727 closed

[2019-07-08 11:45] ranebrown commented on #725
Those highlight groups are actually defined [here](https://github.com/vimwiki/vimwiki/blob/b997e687c3e34c1451d8573a23d91dfe6b4122c5/syntax/vimwiki.vim#L147-L150). I'm not entirely sure how they are used without digging into things a bit more but they are defined as `transparent`. (See `:h transparent`).

Were you able to get different color highlighting for different fold levels? Can you attach a

[2019-07-08 15:34] soctar commented on #725
I wasn't able to get different color highlighting -- I can define a broad highlight group for all folded items, but I can't seem to get a finer granularity than that.

[2019-07-08 16:16] ranebrown commented on #725
Yeah, I'm not sure if it is possible to do what you want. I think the `VimwikiH1Folding` etc. groups are just used to define where a fold should occur (`:h syn-fold`). If you can figure out a way to color the different groups it shouldn't be a problem to add the option.

[2019-07-09 02:41] yzlnew opened #728 "IME switched every time creating new lines"
Vimwiki 2.4.1, Neovim 0.4.0-dev, default Vimwiki settings. MacOS 10.14.5.

I'm getting my IME switched every time trying to `Enter` a new line into wiki files, which is quite slow.
Using default English and Rime as IMEs, Rime gets switched to English and switched back to it when I press `Enter` in Insert Mode.

![屏幕录制 2019-07-09 下午12 59 17 2019-07-09 13_04_45](https://user-images.githubusercontent

[2019-07-09 09:07] yzlnew commented on #728
It seems it has nothing to do with Vimwiki.
I'm using [fcitx-vim-osx](https://github.com/xcodebuild/fcitx-vim-osx) to switch IME on `InsertLeave`, which causing this problem.

### Solution

Using [coc-imselect](https://github.com/neoclide/coc-imselect) instead.

Thanks @chemzqm for the kindly help.

[2019-07-09 09:07] #728 closed

[2019-07-09 10:08] shibshankar commented on #154
Its a nice feature. Wondering why has it not been taken into the master yet.

[2019-07-10 04:12] sushovannits commented on #674
I downloaded macvim but still not sure how to make this work. I still see [[]] in links and __ in italics.
What should the conceallevel be?

[2019-07-10 20:09] jmorim opened #729 "Normalize links in diary with markdown syntax"
my vimrc settings for vimwiki:
[code]

Related to
#66
#77
Link normalization in the diary works for default syntax but not for markdown. E.g. I need to manually change the default link generated in a diary from ```[page_1](page_1)``` to ```[page_1](../page_1)``` to go up one directory. Lervag implemented an in_diary() function for base.vim but there is no equivalent in markdown_base.vim

If you ma

[2019-07-11 03:08] ranebrown commented on #729
@jmorim can you try out the change I pushed to the dev branch?

[2019-07-11 03:10] ranebrown commented on #726
Closing since there is more detail in #707.

[2019-07-11 03:10] #726 closed

[2019-07-11 03:12] ranebrown commented on #725
@soctar If you find a way to get this working or have any additional information feel free to reopen.

[2019-07-11 03:12] #725 closed

[2019-07-11 03:21] ranebrown commented on #723
I added a link to vim-tagquery in the [Vimwikiwik](https://vimwiki.github.io/vimwikiwiki/Related%20Tools.html).

[2019-07-11 03:38] ranebrown commented on #722
See discussion in #377. There was some odd behavior that is probably related to the fast table formatting changes.

[2019-07-11 11:52] #667 closed

[2019-07-11 11:54] ranebrown commented on #676
@monkinco any updates?

[2019-07-11 14:00] jmorim commented on #729
I tested both syntaxes and they're working now. Thanks

[2019-07-11 14:00] #729 closed

[2019-07-12 19:54] ranebrown commented on #715
@jacobseiler if you can try the latest dev branch this should be fixed. Version of Vim prior to 7.4.1546 did not allow a variables type to change (sticky type checking) which was causing this problem. You might run into similar issues elsewhere but it should be quick to fix in most cases.

[2019-07-12 20:00] ranebrown commented on #413
Reopen if this still isn't working.

[2019-07-12 20:00] #413 closed

[2019-07-15 14:10] harrisonthorne opened #730 "Markdown files open as filetype=vimwiki"
[code]

My minimum nvim config:

[code]

I've seen a number of issues with Markdown, but none of them have helped me out with this issue, so I'm posting a new issue.

I expect .md files to open with markdown syntax, but instead, all markdown files *inside* my wiki open with vimwiki syntax. Outside of my `~/notebook/`, .md files open with markdown syntax as expected.

How do I have markdown files w

[2019-07-15 14:44] jacobseiler commented on #715
Thank you very much @ranebrown , works perfectly!

(Also, in the past month, productivity has skyrocketed <3)

[2019-07-15 14:44] #715 closed

[2019-07-15 14:54] ranebrown commented on #730
Vimwiki sets the filetype to `vimwiki` which is needed for some of the functionality to work correctly. You can try out the branch and settings from [this comment](https://github.com/vimwiki/vimwiki/issues/461#issuecomment-482583541) but there was only minimal testing done so I'm not sure that it won't break something.

What is your use case for wanting the filetype set to `markdown` instead of `v

[2019-07-15 14:59] harrisonthorne commented on #730
Correct syntax highlighting/formatting, really. Vimwiki bolds text with single asterisks while Markdown italicizes, and I expect single asterisks to italicize in Markdown. I also have custom settings I use for Markdown filetypes. I mean, overall i'm just accustomed to Markdown and find it much simpler to use.

[2019-07-15 15:16] ranebrown commented on #730
The bold/italics issues have been fixed on the `dev` branch. If you can try out that experimental branch and provide any feedback I'll look into merging it to `dev` and it will eventually make it to a release.

[2019-07-15 15:28] harrisonthorne commented on #730
Oh dang, I didn't notice that haha. The only other (minor) problem then is that headers aren't syntax highlighted. I'll reopen this issue if I come across any other Markdown problems, but for now I've gotten  enough helpful information for me to understand better. Thanks!

[2019-07-15 15:28] #730 closed

[2019-07-16 02:33] ranebrown commented on #714
I just ran into this same problem. Pressing enter on in a list was taking > 0.5 sec to insert the next bullet in the list. Disabling `g:vimwiki_folding` eliminates the problem and I noticed it only occurs with larger files. This needs looked into more to determine if a recent commit introduced the problem.

[2019-07-16 02:34] #702 closed

[2019-07-16 10:47] ranebrown commented on #19
Using a custom VimwikiLinkHandler is the best option for this functionality.

[2019-07-16 10:47] #19 closed

[2019-07-16 10:54] #88 closed

[2019-07-16 11:03] ranebrown commented on #117
This looks like more of an enhancement than a bug and the desired results should be possible by using `g:vimwiki_folding = 'custom'`.

[2019-07-16 11:03] #117 closed

[2019-07-16 18:00] diego898 opened #731 "Feature Request - Transclude Page Content"
Currently, we can transclude images by using `{{imagename}}`. I think it would be great if we can also include the entire content of other pages. My use case: a `Research Diary` that just displays the **content** of all posts/pages that are Diary entries tagged with Research.

A corollary (and perhaps another feature request) is to be able to have _filtered_ transclusion - something like `{{tag[Re

[2019-07-17 12:47] ranebrown commented on #284
I added a link on the [vimwiki wiki page](https://vimwiki.github.io/vimwikiwiki/Related%20Tools.html#Related%20Tools-External%20Tools)

[2019-07-17 12:47] #284 closed

[2019-07-18 11:36] ranebrown commented on #436
I think this is a duplicate of #88 which has been fixed. Please reopen if you are still seeing the issue.

[2019-07-18 11:36] #436 closed

[2019-07-18 11:41] ranebrown commented on #598
@Nudin this should be fixed now. If you have a chance can you take a look and see if I missed any and make sure everything still works as expected?

[2019-07-19 12:31] artkpv opened #732 "E484: Can't open file with non-latin chars"
Hello, thanks all contributors for this great tool!

The bug I have with `markdown` syntax on `dev` branch, revision fbec80b, 2019-07-17, NVIM 0.3.8 (nvim-qt), Win8.

0) I modified "vimwiki\autoload\vimwiki\tags.vim". Added at 54 line: `echo file`.
1) Having files:

[code]

2) Open index.md
3) Run `:VimwikiRebuildTags!`
4) Result:

[code]

How to rebuild tags for non-latin files?

The `vimrc` file

[2019-07-19 13:46] Nudin commented on #598
Cool, thanks for taking care of this issue! Having this fixed will make it way easier to contribute to this part of the code. Sadly my computer broke and I therefore can't test it until I got a new one…
The diff looks good. If your confident that it's fixed, feel free to close.

[2019-07-19 14:43] artkpv commented on #732
After rebooting the system this is not reproduced. Strange...

[2019-07-23 13:17] artkpv commented on #732
Moved to neovim: https://github.com/neovim/neovim/issues/10586

[2019-07-23 13:17] #732 closed

[2019-07-24 08:40] thecontinium opened #733 "Question: Can you auto create [[wikilink]] in a syntax:markdown vimwiki"
Hi

Is it possible to configure vimwiki to add a `[[wikilink]]` on `<CR>` rather than a `[markdown](markdown)` link in a vimwiki with `'syntax': 'markdown'`

Cheers

[2019-07-24 12:10] ranebrown commented on #733
There isn't an option to allow that but you could probably `call vimwiki#base#replacestr_at_cursor` directly and bind that to a custom mapping.

[2019-07-25 12:15] #733 closed

[2019-07-25 12:34] #708 closed

[2019-07-26 20:37] YaLTeR opened #734 "Links with `monospace` blocks don't render properly in HTML"
[code]
renders as
![image](https://user-images.githubusercontent.com/1794388/61980033-5234bd80-afaa-11e9-95c4-0062855ba077.png)

[code]

Default vimwiki settings.

[2019-07-26 21:19] #598 closed

[2019-07-26 21:35] ranebrown commented on #309
[Here](https://gitlab.com/dbeniamine/todo.txt-vim/blob/master/syntax/todo.vim#L57) is an example of changing the highlighting for past due dates.

[2019-07-30 19:33] simias commented on #407
Just stumbled upon this myself, still a problem with the latest dev version https://github.com/vimwiki/vimwiki/commit/0c561e53414707544d3ffcb38301eb2b30c49493

[2019-07-30 19:35] simias commented on #407
I should add that both github and pandoc are happy with the markdown so I think it's vimwiki's compatibility that's at fault:

[code]
    + [ ] Bar
    + [ ] Baz
[code]
    + [ ] Bar
    + [ ] Baz

[2019-07-31 13:41] simias opened #736 "Error while trying to build test Docker environment"
I'm trying to set up the docker environment to run the tests. I don't know much about docker so I'm dumbly following the instructions in `test/Readme.md`.

I installed docker, then from the root  of the vimwiki repository (dev branch) I try to run:

[code]
However it seems that the syntax isn't accepted by my version of docker:

[code]
`docker build -h` says that the syntax of the `-t` option is:

[2019-07-31 14:04] ranebrown commented on #736
Try `docker build -t vimwiki .` I think it is missing the required path which is the current directory. I'll update the readme if that works. I plan on uploading a prebuilt image to dockerhub eventually which should simplify and speed this up some. Thanks for giving it a try!

[2019-07-31 14:08] ranebrown commented on #736
You should call the script to run the tests from within the test directory with `./run_tests.sh -t vader`

[2019-07-31 16:00] simias commented on #736
Yes that did it, it's working now. Thanks!

[2019-08-01 11:20] #736 closed

[2019-08-03 08:42] FocusedWolf commented on #283
I haven't got around to setting up deoplete so with just standard omnicompletion this worked for me:

`" Prevent remapping <CR> so i can interact with an open OmniCompletion popup:
" SOURCE: https://github.com/vimwiki/vimwiki/blob/master/doc/vimwiki.txt#L1491
" SOURCE: https://github.com/vimwiki/vimwiki/issues/283
inoremap <expr> <CR>   pumvisible() ? "\<CR>"   : "<Esc>:VimwikiReturn 1 5<CR>"
inor

[2019-08-03 11:54] ranebrown commented on #283
Another option is to use the new feature on the `dev` branch which allows for disabling all or certain groups of vimwiki key mappings. See the [documentation](https://github.com/vimwiki/vimwiki/blob/45025fa4f066eccca2f78607cae3b64ff5f2c3c7/doc/vimwiki.txt#L3306-L3373)

[2019-08-07 03:54] cs-pchsu opened #737 "URL shortening"
Use let g:vimwiki_url_maxsave=0 to disable shortening the URL

Will get the errors as below:

Error detected while processing function vimwiki#vars#init..<SNR>48_populate_global_variables..<SNR>48_read_global_settings_from_user:
line   59:
E706: Variable type mismatch for: users_value
line   61:
E715: Dictionary required
Vimwiki Error: The provided value '0' of the option 'g:vimwiki_diary_months'

[2019-08-07 11:15] ranebrown commented on #737
I can't reproduce those errors only by setting `let g:vimwiki_url_maxsave=0`.

- What is the output of `:VimwikiShowVersion`?
- What version of Vim are you using?
- Have you tried a minimal vimrc as described [here](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html)?

[2019-08-07 11:28] cs-pchsu commented on #737
What is the output of :VimwikiShowVersion?
=> Stable version: '2.4.1'

What version of Vim are you using?
=> vim --version
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Nov 24 2016 16:42:52)
Included patches: 1-52
Extra patches: 8.0.0056

Have you tried a minimal vimrc as described here?
=> No error ... wow

thank you a lot

[2019-08-07 11:37] ranebrown commented on #737
=> No error ... wow

If you isolate the issue in your vimrc post it here. It could help other people and I'll double check if anything can be done on the vimwiki side.

[2019-08-07 11:49] cs-pchsu commented on #737
It seems to be in conflict with other plugins, but I haven't found which plugin.

[2019-08-07 14:33] cs-pchsu commented on #737
conflict with Vundle.vim ?
https://github.com/VundleVim/Vundle.vim

only the following settings in my .vimrc

===============================================

set nocompatible              " be iMproved, required
filetype off                  " required

set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
Plugin 'VundleVim/Vundle.vim'
Plugin 'vimwiki/vimwiki.git'

call vundle#end()            "

[2019-08-08 09:50] cs-pchsu commented on #737
Hi @ranebrown

ask a question:
By the way, how to disable shortcut of <Leader>ww.

[2019-08-08 11:20] ranebrown commented on #737
Take a look at `:h g:vimwiki_map_prefix`.

Do you still see the error if you put `filetype plugin indent on    " required` after `vundle#end` accourding to the Vundle Readme that is required. Vimwiki also requires you to set:
[code]

[2019-08-08 12:57] cs-pchsu commented on #737
1. You put filetype plugin indent on " required after vundle#end
=> yes, also have error

2.  there are three settings as below in my vimrc.
set nocompatible
filetype plugin on
syntax on

3. put let g:vimwiki_map_prefix = '<Leader>e'，have same error previously
=>
Error detected while processing function vimwiki#vars#init..<SNR>49_populate_global_variables..<SNR>49_read_global_settings_from_user:
l

[2019-08-11 13:48] yifongau opened #738 "Can't create newline when editing wiki"
Hi, I installed vimwiki yesterday, and I set it up with the follow settings in .vimrc (see below).

For some reason I can't create a newline when the filetype is 'vimwiki' and when the line is not empty.

Pressing enter or shift+enter in insert-mode does nothing.
Pressing o or O also does nothing.

When the line is empty those keys work as expected.
Please let me know if you have any idea's.

[cod

[2019-08-11 13:59] yifongau commented on #738
Correction:

Pressing o or O does not do nothing, it enters insert-mode, but on the same line.
Pressing enter or shift+enter while in insert-mode creates a white space at the end of line; repeatedly pressing enter or shift+enter in insert-mode does not create additional spaces if they have already been pressed once.

[2019-08-11 14:17] yifongau commented on #738
I actually found the problem. The vim-pencil plugin conflicts with vimwiki, but I am not sure why.
I changed

`if !exists('#pencil')
		Pencil
	endif	`

into

`if !exists('#pencil')
		SoftPencil
	endif	`

And everything worked out fine, because the hard-line break mode, which I think is what my previous setting defaulted to, creates problems. While the soft-line break mode does not. Not sure why.

[2019-08-11 14:17] #738 closed

[2019-08-11 14:59] ranebrown commented on #738
Vimwiki remaps `CR` and some other keys for lists and tables to work correctly. You can run `verbose imap <CR>` from a vimwiki page to see what the conflict might be.

[2019-08-12 11:22] ranebrown commented on #737
Can you try the dev branch? I think this is probably related to #681 and should be fixed an that branch.

[2019-08-15 03:05] stormyweathers opened #740 "Diary index not compatible with gollum rendering"
I'm using markdown syntax, and version 2.4.1

When I use <Leader>W<Leader>I to autogenerate the diary index, there is a bunch of unnecessary whitespace before each entry.  This whitespace causes rendering issues with gollum.  I have to manually delete the whitespace each time I re-render the index.

I couldn't find where to edit the source to adjust this macro.

[2019-08-15 19:18] ranebrown commented on #740
Does `:h vimwiki-option-list_margin` do what you want if you set it to 0? Otherwise can you provide actual and desired output?

[2019-08-19 18:52] sangaline opened #741 "The current wiki resets when leaving the diary"
Many of the vimwiki commands are documented as operating within the current wiki unless a number is specified to indicate a specific wiki. This works when staying within only the diary or only the rest of a wiki, but the "current wiki" seems to reset to the first wiki when exiting the diary. This sequence of commands demonstrates the issue:

- `2<Leader>ww` - Opens the index of the second wiki.
-

[2019-08-21 03:52] ranebrown commented on #741
Pretty sure that behavior was intentional at the time but it might make more sense to have the behavior be consistent. It is a pretty simple change - on [these lines](https://github.com/vimwiki/vimwiki/blob/28d78b0d3906449b4a653b41066b98f6f8c0d838/plugin/vimwiki.vim#L376-L379) the `v:count1` should just need changed to `v:count`.

[2019-08-21 03:53] ranebrown commented on #737
I'm going to close this because I'm pretty sure it has been resolved. Reopen or comment here if you are still seeing issues.

[2019-08-21 03:53] #737 closed

[2019-08-22 01:58] somospocos opened #743 "Tag management commands not available"
I am running the dev branch:

    Branch: dev
    Revision: 28d78b0
    Date: 2019-08-19 21:59:08 -0700

I lack the tag management commands :VimwikiRebuildTags, :VimwikiGenerateTags and :VimwikiSearchTags when I type :Vimwiki&lt;TAB&gt;

I have read about them in the vimwiki help file but for some reason they don't work for me. Is it because they were documented but not implemented yet or should I

[2019-08-22 02:59] ranebrown commented on #743
Those commands are only available when you are in a vimwiki buffer. Open the index page to your wiki and then try those commands.

[2019-08-22 03:39] somospocos commented on #743
Thank you.

[2019-08-22 03:39] #743 closed

[2019-08-24 15:08] sangaline commented on #741
It's just one anecdote, but my vote as a user would be to do that because I flip between the diary and wiki much more frequently than I flip between the different wikis.

[2019-08-25 20:19] ranebrown commented on #212
Commit a17a9826bdebb4d12fdeeccda3d9b10dfdbab9f7 can probably be used to fix this.

[2019-08-25 20:20] ranebrown commented on #740
Reopen if you can provide more info.

[2019-08-25 20:20] #740 closed

[2019-08-25 20:22] ranebrown commented on #443
@waxlamp I made a change that should allow `VimwikiReturn 3 5` to work when mapped to `CR`. Try something like:
[code]

[2019-08-25 20:22] #443 closed

[2019-08-25 20:28] ranebrown commented on #741
I implemented this change (`<leader>ww` opens index of active wiki). Let me know if you see any issues.

[2019-08-25 20:28] #741 closed

[2019-08-28 23:10] Nudin opened #745 "vimwiki throws errors on listcreation with mediawiki syntax."
Bug-report from IRC/Matrix-Channel.

[2019-08-29 18:49] rjshrjndrn opened #746 "[Question] Markdown: point a file with absolute path"
Hi,
Thank you for this awesome plugin.
I'm trying to figure out one thing but in vain.
`  * [Ansible refactor](/home/rajeshr/Documents/projects/public-devops/README.md)`
How to open the file, in markdown mode ?

[2019-08-30 12:41] ranebrown commented on #746
Seems to be a bug, I'll try and look into it but I'm a bit short on time right now.

[2019-08-30 15:06] ranebrown commented on #746
As a workaround you could put the below function in your `vimrc` and then open the absolute links with `[link](vfile:/absolute/path/here)`

[code]

[2019-08-30 15:53] frrobert2 opened #747 "Error in Documentation regarding new lines in MathJax lines 1272 & 1273"
The statement:
Note: no matter how many lines are used in the text file, the HTML will
compress it to one line only.
on lines 1272 and 1273 is incomplete.
MathJax will compress to one line unless you use \\ for a new line at the end of each line.
Example of 2 equations on their own lines within a block:
{{$%align%
x+3&=y\\
y&=x+5
}}$
will write each equation on its own line with the equal signs al

[2019-08-30 19:17] rjshrjndrn commented on #746
It's working. Thank you.

[2019-09-02 04:39] rehaby commented on #721
@ranebrown I am having trouble with this. I have no idea where the diary index file should be. I've got a file ~/vimwiki/diary/index.wiki and that doesn't seem to work. If this command created the file it would be easier to use

[2019-09-02 05:51] ANGkeith commented on #200
Hey, you can add this configuration for your `mzlogin/vim-markdown-toc` configurations in the vimrc

`let g:vmt_list_item_char = '1.'` so that the toc will be numbered if that is what you want

[2019-09-02 12:46] llinfeng commented on #200
@ANGkeith I got a list of TOC with all items enumerated as `1.`  :( I think the documentation said the following:
[code]

[2019-09-02 12:58] ANGkeith commented on #200
@llinfeng Hey, yeah its the markdown syntax for [ordered listing](https://guides.github.com/features/mastering-markdown/). If you read it on github, it will show the ordered list as you wished

[code]

[2019-09-02 17:28] llinfeng commented on #200
I see I see. This is helpful! Thanks a lot!

[2019-09-04 13:13] ranebrown commented on #721
If you use the command `VimwikiDiaryIndex` (default key map of `<leader>wi`) it will open the diary index for the open wiki and create it if it doesn't exist. From that page you can then generate the links to all diary pages with `VimwikiDiaryGenerateLinks`. You can also use the option `vimwiki-option-auto_diary_index` to automatically keep the links up to date. Does that help?

[2019-09-04 13:15] ranebrown commented on #747
Statement in documentation [here](https://github.com/vimwiki/vimwiki/blob/ba84981b5ae54af32e320cd04b583dd7e9fe1c6c/doc/vimwiki.txt#L1379-L1380)

[2019-09-05 14:49] isaiahfisher opened #748 "Sending wiki as a static webpage to others"
Vimwiki gurus,

I am using Vimwiki to document a development project and I need to regularly send the resulting wiki to our project supervisor. I would like it if my css could be found in the same directory as my vimwiki .html files. I send the files in a tar/zip archive with style.css and each .html file inside. The wiki pages themselves all work, but the css does not work when sent to another ma

[2019-09-07 14:21] ranebrown commented on #748
I think you can use the `css_name` option and just set it to a relative path. (`:h vimwiki-option-css_name`). If you open one of the generated html files in a text editor you can check the path being used for the css. You can also manually edit the path in the html file for testing purposes.

[2019-09-07 18:52] hq6 commented on #688
@sdondley Do you want to make a PR for this?

[2019-09-07 18:53] sdondley commented on #688
I’ve been out of the loop on this for a while. I might have some time to
revisit this this week and roll a PR.

On Sat, Sep 7, 2019 at 2:52 PM hq6 <notifications@github.com> wrote:

--
Prometheus Labor Communications, Inc.
http://prometheuslabor.com
413-572-1300

Communicate or Die: American Labor Unions and the Internet
http://communicateordie.com

[2019-09-07 18:54] hq6 commented on #676
Closing this issue due to lack of response in several months. Please reopen if this project is resumed.

[2019-09-07 18:54] #676 closed

[2019-09-08 03:42] isaiahfisher commented on #748
@ranebrown will that allow it to be transferrable between machines as a zipped directory of .html files or will the HTML generator script build the relative path as a full path based on the machine?

[2019-09-08 18:41] ranebrown commented on #748
That is my thought but I haven't tested it. If you run into problems post back here with the settings you were using in your vimrc and what occurred.

[2019-09-12 00:32] ratfactor commented on #420
I'd like to contribute to VimWiki.  If no one else has started on this issue, it seems like a nice one for me to tackle.

[2019-09-12 00:54] ranebrown commented on #420
That would be great! Make sure to take a look at the test framework and include new tests as part of your PR. Let me know if you have any questions on that front.

[2019-09-14 03:18] ratfactor commented on #420
I have the fix completed.  Starting on tests.  I was very happy to see (and run) the test framework in the dev branch.  Good things are happening in this project.

[2019-09-15 21:24] ratfactor commented on #420
While I'm in here, I've noticed two other improvements to usability for VimwikiSearch:

### Unenclosed search patterns

If the user types a search pattern containing spaces without `/enclosing/` it, they'll get an error very similar to the original cause of this issue:

[code]

The same search with an enclosed pattern works as expected:

[code]

To solve this, I'm going to enclose any search patte

[2019-09-17 01:02] mickmcq opened #749 "wikilinks don't work when vim-pandoc is loaded"
I have set

[code]

in my .vimrc so that my vimwiki files are markdown. Sometime between May and September 2019, wikilinks stopped working when I have the vim-pandoc plugin loaded. I believe that it worked before that. When I press enter on a wikilink the behavior is to go to the beginning of the next line, which is the default behavior of the enter key.

VimwikiShowVersion outputs Stable version:

[2019-09-17 09:09] n0tHappy commented on #150
hi,man. I find a way to solve this problem. we can modify the source code of vimwiki.
we can find in vimwiki/syntax/vimwiki_default.vim:
[code]
and we change to:
[code]
we can use a uncommon character to replace '$'.

[2019-09-17 10:05] protist commented on #150
Thanks @n0tHappy! Good find! That works pretty well, although mine was slightly different.

Firstly, my original file and the [current version](https://github.com/vimwiki/vimwiki/blob/master/syntax/vimwiki_default.vim#L16) don't have a `"` near the end of the second line. Secondly, you don't need to escape `✹` the same way you escape `$`, so for it to replace the literal `$` in function, I used th

[2019-09-17 11:27] ranebrown commented on #420
I think both of those changes make sense and would make the command more user friendly.

[2019-09-17 11:30] ranebrown commented on #749
I would guess vim-pandoc is remapping your enter key. Vimwiki remaps enter to properly work with lists and to follow links. If the mapping is overwritten things won't work as expected. Try running `:verbose imap <CR>` from within one of you wiki pages.

[2019-09-17 12:59] n0tHappy commented on #150
Thanks @protist
 `let s:default_syntax.char_eqin = '\✹"'`  actually it does not has the `"`,that my fault.
And you can use `$_`, like
[code]
it works fine. and I don't know why `$m` didn't work.
I tried to config in .vimrc also, but failed too.
`let s:default_syntax = g:vimwiki_syntax_variables['default']`
and even `g:vimwiki_syntax_variables['default']` can not be configed.
It looks like develope

[2019-09-17 18:47] Nudin opened #750 "Strikethrough in neovim 0.4.0+"
So far Vims syntax highlight didn't supported strikethroughed text, therefore VimWiki displays it in brown color.
Neovim 0.4.0 has support for strikethrough text.
It can be tested with:
`:highlight Constant ctermfg=none cterm=strikethrough`

We should think about how we want to integrate this in Vimwiki.

[2019-09-17 19:27] Nudin commented on #750
`has('nvim-0.4')` can be used to check for support.

[2019-09-17 22:43] mickmcq commented on #749
I get "No mapping found"

I then tried to manually remap it, copying line 570 of vimwiki.vim as follows

[code]

but with no immediate effect. I may be in over my head here.

[2019-09-17 23:39] ratfactor commented on #150
That `$` syntax is one of my biggest VimWiki irritations as well.  I wonder if the right answer would be to make a wiki-local option?  Perhaps something like `use_inline_math`, enabled by default, of course.

Then to turn off The Curse of the $ Double Dollars $ for the wiki at `~/my_wiki` you could do this:
[code]

If this seems like a good solution, maybe I could get started on it after I'm done

[2019-09-18 00:05] protist commented on #150
Huh, I actually thought this should fail, because the `[...]` part is just a character class, i.e. it breaks the regex on the `$` in the middle of `$_foo$bar$_`. However, it seems to work, kinda. Maybe because of the second line. (I haven't delved into the code.)

However, there's a minor problem; instead of hiding the full `$_` when you are not on the line, it only hides the `_` part.

[2019-09-18 01:45] n0tHappy commented on #150
hi @protist , on my side, it doesn't have that problem.
![Untitled](https://user-images.githubusercontent.com/31355958/65096536-e42fd400-d9f7-11e9-8d6f-d22b93450c30.gif)

[2019-09-18 02:01] protist commented on #150
@n0tHappy Hm… That does seem to work for me too. I've deleted the test that failed, so I can't replicate it. FWIW `$_foo$bar$_` also fails, and is displayed as italics/emphasis between the `_`.

Anyway, no big deal. I don't think I've ever used the math highlights, so just removing them is fine! Thanks again for the tip. (I'd love to see one of these alternatives in the vanilla code though.)

[2019-09-18 07:03] n0tHappy commented on #150
@protist hi, friend, you can try this one:
[code]
this regex can match `$_foo$bar$_`

[2019-09-18 07:19] protist commented on #150
That works, but the `[^$]` part is because the regex is greedy. So this will fail with multiple tags on a single line, e.g. `$_foo$_ and $_bar$_`, where it will highlight both. The following works instead, although it also matches zero-width expressions (between the `$_`), unlike `\+`.

    let s:default_syntax.rxEqIn = '\$_[^`]\{-}\$_'

[2019-09-20 01:21] ratfactor commented on #420
Okay, I've pushed a commit to a feature branch on my fork here:

https://github.com/ratfactor/vimwiki/tree/issue-420

(I'm a GitHub noob, so let me know if this looks right so far.)

However, I have _not_ made a pull request for one reason:  my Vader tests don't work in the automated environment.  I was afraid of that.  Testing `lvimgrep` in Vader turned out to be challenging, but I did get a seri

[2019-09-21 07:16] edrex opened #751 "Feature req: Link updates when moving pages between directories"
**Use case:** I have a fairly heirarchical markdown wiki I imported from Zim via pandoc export to markdown. I have some pages that are in the wrong directory (often created accidentally in a journal dir like /Journal/2015/03/MyTopic) since dangling links go to sibling pages by default. I want to be able to move these pages to the root, automatically updating links.

## UI ideas
1. Could support pa

[2019-09-21 14:01] ratfactor commented on #751
Alternatively:

3. Support relative paths when prompted for the new page name:

[code]

(Would move the page up a directory. `Enter new name: ../panda/foo` would move it to a different directory on the same level.)

The challenge is _probably_ to get VimWiki to update relative links in the rest of the wiki.

I'm not sure how well it currently "understands" that these are both the same link:

[code

[2019-09-21 16:02] edrex commented on #751
On Sat, Sep 21, 2019, 7:01 AM Dave Gauer <notifications@github.com> wrote:

That's what i tried first, so i guess one data point for 3 being least
surprising.

Seems like a naive impl could normalize all links to abs to test, then
normalize to minimal relative path to update (says the person just figuring
out how variables work in vimscript)

[2019-09-21 21:59] ratfactor commented on #751
That is _exactly_ what I was thinking.  It feels like a robust and generally applicable method, but somebody with a deeper understanding of VimWiki internals might be able to point to a flaw or nasty edge case.  On the other hand, the best way to test it out is probably just to try it.

Ha ha, that's where I was about three weeks ago.  I'm finding it to be arcane, but not nearly as bad as I'd been

[2019-09-21 22:19] ranebrown commented on #749
I put the wrong command for you to test. It should be `:verbose nmap <CR>` since you are looking for the behavior to follow links. You should see something like `n  <CR>         @<Plug>VimwikiFollowLink`. If not then it is being overwritten. Sorry for the confusion.

[2019-09-21 22:37] mickmcq commented on #749
I also get "No mapping found" for :verbose nmap <CR>

[2019-09-22 19:57] isaiahfisher opened #752 "Embedding videos into wiki"
I would like to be able to embed video into my wiki pages. I want to have a single wiki file with several embedded videos as sub wiki pages. These videos will be used to track game demos as part of an incremental development process. I so far have been unable to find a video embedding feature and wanted to know if this was possible to implement in Vimwiki.

[2019-09-22 19:58] #748 closed

[2019-09-24 10:54] ranebrown commented on #420
@ratfactor I don't have time to look into the Vader tests right now to see what might be causing the tests to fail after getting an error message. I would suggest two things:
1. Create an [issue](https://github.com/junegunn/vader.vim/issues) in the Vader project and see if you can get an answer there.
2. See if it would be possible to write a bash script to automate the remaining tests that you ra

[2019-09-24 11:01] ranebrown commented on #752
I think your best option is to use a `file:` link which would just open the video with an external program. I'm not sure how complicated it would be to support embedded videos; I don't think GitHub supports that even.

If you really want support for this I would recommend creating a PR. You can also do some research on how it might be accomplished and post info here if you aren't familiar with vim

[2019-09-24 11:07] ranebrown commented on #749
Does it work if you manually add the mapping `:nmap <CR> <Plug>VImwikiFollowLink`? You are going to have to find what is causing the mapping to be cleared or overwritten. I would recommend starting with a minimal vimrc as described [here](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html#Troubleshooting-Minimal%20Vimrc) (you can change it to use the master branch instead of dev) and then

[2019-09-24 18:39] mickmcq commented on #749
No, it doesn't work if I manually add that mapping. Moreover, VimwikiFollowLink does not appear in a list of completions for :Vimwiki although other Vimwiki commands do.

[2019-09-24 19:18] ranebrown commented on #749
Ah, him pandoc is probably changing the file type. The file type must be vimwiki. See #461

[2019-09-24 19:20] mickmcq commented on #749
The response to :set filetype is "filetype=vimwiki"

[2019-09-26 02:24] ratfactor commented on #420
@ranebrown Sounds good.  I've done Suggestion One and made a test case and written a plea for help with the Vader folk:

https://github.com/junegunn/vader.vim/issues/199

The tests I've written do run fine from the command line, so Suggestion Two should be a fine fallback if I can't get past this corner case testing as part of the rest of the suite.

[2019-09-26 12:16] cjue commented on #737
Switching to dev fixed this for me.

[2019-09-30 20:56] mdm508 opened #753 "automatic nested syntax highlighting not working for me"
I am not sure what I am doing wrong but for some reason automatic_nested_syntaxes higlighting feature is not working for me. Here are the vimwiki settings in my .vimrc
[code]

when I try  the following block inside of vim wiki nothing is highlighted.
[code]

Am i supposed to have included in the vimrc:

`let wiki.automatic_nested_syntaxes = 0 `

[2019-10-01 23:10] ratfactor commented on #753
I'd never tried that feature before. And at first, I didn't think it was working either.

Turns out, I needed to restart Vim and/or re-load my wiki page to see it!

Here's how it works (from what I can tell):

1. Any syntax specified in the `nested_syntaxes = { ... }` list is available immediately. (Don't forget to re-source the setup file or restart Vim.)  Any code blocks with that syntax will st

[2019-10-03 00:29] stormyweathers commented on #740
how do I actually change the option?   When I try to edit the buffer shown in  `:h vimwiki-option-list_margin` it says that modifications are not allowed.

[2019-10-03 03:43] ratfactor commented on #740
@stormyweathers It sounds like you were trying to edit the Help window itself.

`list_margin` is a per-wiki ("local") setting.  If you haven't already, you'll need to create an entry for your wiki (typically in `~/.vimrc`) in the `g:vimwiki_list` global variable.

You can set as many or few options for your wiki as you would like. This could be your entire entry:

[code]

This would use defaults f

[2019-10-07 14:01] tinmarino commented on #691
I did a pull request transforming the prev_link by a list of prev_links.
I changed the minimum possible.
Can you get an eye on it : #754

[2019-10-07 21:14] tinmarino commented on #746
In `function! vimwiki#base#resolve_link(link_text, ...)` to many changes are made to the `link_text` even if this one is absolute (in which case it should not change).
I tried as clean as I could for easy integration : PR #755

[2019-10-09 11:02] tinmarino commented on #478
Dividing your notes:
1/ path separators can be `/` or `\` or both, depending on usage and platform
   - Windows still recognizes /. But windowsians may put their links with \ separators. There comes the problem
    - My solution would be  to unixify path before working internally in vimwiki#path and osxify its when giving it back.
        - Function definition : https://github.com/tinmarino/vimwik

[2019-10-10 22:32] mdm508 commented on #753
Thank you for your reply. I went back and followed the instructions you mentioned. Unfortunately, still not getting any highlighting even after reloading vim wiki page and sourcing vimcr. I wonder if I have some sort of problem with my settings in vimrc that are conflicting.

[my_vimrc.txt](https://github.com/vimwiki/vimwiki/files/3714872/my_vimrc.txt)

[2019-10-11 16:10] stormyweathers commented on #740
Thanks!

On Wed, Oct 2, 2019, 8:43 PM Dave Gauer <notifications@github.com> wrote:

[2019-10-12 13:50] ratfactor commented on #753
Hmmm... yeah, I don't see anything that stands out as being problem in your `.vimrc`.

What happens if you manually set the filetype while viewing the wiki page containing your Python sample?

[code]

Does the highlighting change for the whole page as expected?

[2019-10-12 14:48] OliverKnights opened #756 "Folding with markdown syntax and a python code block comments is broken"
Branch: dev
Revision: ba84981
Date: 2019-08-28 03:51:51 -0600

With the following code using markdown syntax and trying to fold headings, vimwiki interprets the python comments as headers and doesn't fold correctly.

    # Python test

[code]

    ## other heading
    other heading text

I would expect folding on the first line using foldmethod=expr to fold the entire file, but it only folds up un

[2019-10-13 14:04] Julian opened #758 "VimWiki should have an option to disable all mappings"
Hi.

VimWiki sets quite a few mappings. I'm the kind of user that does not want any plugin setting any mapping, so in general I disable all mappings, and add only the ones I want and will use. It would be extremely helpful if vimwiki offered such an option.

I've seen #282, but that only covers a subset of VimWiki's mappings, and is quite indirect.

Is that something there'd be appetite to add at

[2019-10-13 19:29] brennen commented on #624
Howdy all - I'd be happy to at least help triage issues and such from time to time...

[2019-10-14 17:39] ranebrown commented on #758
This has already been done on the `dev` branch. Can you give that a try? The documentation is [here](https://github.com/vimwiki/vimwiki/blob/ba84981b5ae54af32e320cd04b583dd7e9fe1c6c/doc/vimwiki.txt#L3311-L3325)

[2019-10-14 19:24] Julian commented on #758
Thanks! That does do it.

[2019-10-14 19:24] #758 closed

[2019-10-14 19:54] waxlamp commented on #443
Seems to work like a charm! Thanks!

If you feel like it, could you explain how that `autocmd` works?

[2019-10-14 22:04] ranebrown commented on #443
It just remaps the keys only when the filetype is vimwiki in case plugins for other filetypes want to also remap `<CR>`. See the comment [here](https://github.com/vimwiki/vimwiki/issues/415#issuecomment-482919609) for a description of the `C-]` part.

[2019-10-14 22:09] waxlamp commented on #443
Ah, thanks for the explanation. Not sure I knew about `iabbrev` before now.

[2019-10-15 05:01] GregoryShields opened #759 "Highlight Markdown Line Breaks"
A couple of days ago I started using vimwiki and so far I like it really well.

However, I quickly noticed that the highlighting I had gotten used to seeing at the end of Markdown lines was no longer present.

What I'm referring to is how two spaces at the end of a line in Markdown produce a line break in the rendered HTML output.  The plasticboy/vim-markdown plugin highlights two or more spaces a

[2019-10-16 13:40] l29ah opened #760 "Support image display in console (sixel, DCRS)"
It would be really nice if vimwiki could display images directly in vim, like ranger does:
![](https://ucarecdn.com/41371a8f-76c8-40b4-9ea3-4d8f981bfb26/)
https://github.com/ranger/ranger/wiki/Image-Previews

[2019-10-16 16:54] mdm508 commented on #753
yes highlighting changes for the whole page.

[2019-10-17 04:33] ranebrown commented on #756
@OliverKnights can you give the dev branch a try?

Duplicate of #212

[2019-10-17 04:33] ranebrown commented on #212
Should be fixed now.

[2019-10-17 04:33] #212 closed

[2019-10-17 04:35] ranebrown commented on #753
Maybe give the [minimal vimrc steps](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html#Troubleshooting-Minimal%20Vimrc) a try?

[2019-10-17 04:37] ranebrown commented on #760
That would be neat but my guess is that it would be rather complicated. If you want to give it a shot feel free to open a PR.

[2019-10-17 04:41] ranebrown commented on #759
You should be able to put something in `.vim/after/syntax/vimwiki.vim` to modify the highlighting how you want. Can you give that a try and see if it works?

The custom folding option is more for you to write your own folding function (or use a plugin that doesn't depend on filetype detection). The issue with the vim-markdown plugin is that it expects the filetype to be markdown but vimwiki sets t

[2019-10-17 11:30] ashwinvis commented on #713
GladTeX could be a lightweight option to convert math elements in an html. https://github.com/humenda/GladTeX/blob/master/manpage.md#examples

[2019-10-17 11:58] OliverKnights commented on #756
Works perfectly, thanks!

[2019-10-17 12:21] ranebrown commented on #756
No problem!

[2019-10-17 12:21] #756 closed

[2019-10-17 20:36] mdm508 commented on #753
Thank you, I should have tried this to begin with. I got rid of the airline plugin as well as rainbow higlighting parens and removed some junk from the vimrc and that did the trick

[2019-10-18 13:32] llinfeng commented on #119
@cosmicraga It is doable for multiple diaries, or, to be more precise: for
creating diary entries in multiple **wikis**.

Suppose that you store your non-default Wiki in directory
`/path/to/your/wiki2/` and that you would like to create a new diary for that
specific Wiki (for example: `/path/to/your/wiki2/2019-10-18.wiki`). The following
one-liner shall do the trick:
[code]
The bottom line is that

[2019-10-18 14:04] llinfeng opened #761 "Restricting `<leader>w<leader>w` to only create/switch-to the diary in the default Wiki?"
I chose to use `markdown` as the syntax for my Wiki and have been accidentally creating a new directory (`/diary`) and new diary files in project folders where I was actually editing the readme files. (These readme files are also ending in `*.md`.) It was musle memory for me to press `<leader>w<leader>w` to get to the diary of the day, and it always surprises me when I got a blank buffer opened in

[2019-10-18 14:27] ranebrown commented on #761
You should be able to add something like this to you `.vimrc`. Replace `1` with whatever wiki you want it to always use.

[code]

[2019-10-18 14:50] llinfeng commented on #761
@ranebrown I am with Version: 2.4.1 and I assume `:VimwikiMakeDiaryNote ` command does not take a trailing argument at all? Here is what I see without the mapping (the mapping above failed as well).

![TryingMakDiary_with_arg](https://user-images.githubusercontent.com/5890407/67104491-0bafc300-f195-11e9-8b2e-8e8df7012b40.gif)

[2019-10-18 15:08] ranebrown commented on #761
Yeah, you will need to use the dev branch for that to work

[2019-10-18 15:51] llinfeng commented on #761
@ranebrown Thank you for pointing me to the dev-branch. It does both things correctly:
1. `:VimwikiMakeDiaryNote` does take arguments, and
2. Dropping the following line anywhere in the `~/.vimrc` shall work
[code]
Lastly, will the dev-branch be merged to master in the near future? I have a number of machine that I work with daily.

----

In `Version 2.4.1`, the following error shall occur when I

[2019-10-18 15:55] ranebrown commented on #761
No problem. I was hoping to get the changes merged to master before Christmas. Hopefully sooner but everyone that works on this project has been pretty busy lately.

[2019-10-18 21:03] krisezra87 opened #762 "Weird index behavior with lazy-loading UltiSnips"
Not a bug, but I'm getting weird behavior I'm not sure how to troubleshoot.

I use ultisnips to create new index entries by date.  When I load my index with <leader>ww and try to expand a lazy-loaded ultisnips snippet, my snippet doesn't work for one, and the index goes to the "normal" view where links are not collapsed, almost like vimwiki is off somehow, but it's loaded in :scriptnames.  If I op

[2019-10-18 22:08] krisezra87 commented on #762
I also notice if I leave a buffer and come back that this problem resolves itself, but I'd like to fix it in the lazy load or vimwiki to resolve all at once.

[2019-10-19 20:19] ashprice commented on #361
Can I ask what the status is of this enhancement? Has it been worked on in the dev branch at all (I am on master)?

My $0.02 is that it should essentially recognise that, say, [@citation, pp. 57-58] is a citation, and not escape the characters upon either :VImWiki2html or pandoc -f vimwiki --biblatex/--filter pandoc-citeproc. Sure, one can reasonably attempt to script this themselves, and edit vim

[2019-10-20 18:37] ranebrown commented on #361
The conflict occurs because Vimwiki sets the filetype to `vimwiki`. See [this issue](https://github.com/vimwiki/vimwiki/issues/461) for a more detailed discussion and possible workaround.

[2019-10-20 18:38] ranebrown commented on #361
I don't think this has been worked at all. If you want to create a pull request that would be the quickest way to get citations supported.

[2019-10-20 19:57] ranebrown commented on #762
I would guess it is related to the filetype setting. Maybe try this:

[code]

[2019-10-21 00:54] ranebrown commented on #150
Might be worth adding `\[ \]` as an option for math since that would probably have less conflicts (in addition to the disable option).

[2019-10-21 02:55] #420 closed

[2019-10-21 02:57] ranebrown commented on #761
@llinfeng are you ok with closing this since you can get things to work as expected with the dev branch?

[2019-10-21 02:58] ranebrown commented on #759
@GregoryShields were you able to get something working?

[2019-10-21 03:18] llinfeng commented on #761
Closing this ticket as switching to the `dev` branch helped.

[2019-10-21 03:18] #761 closed

[2019-10-21 14:13] nagy135 opened #763 "multiple url link opening"
When opening url link (in format `[[http://google.com |google]]` ) with `<CR>` it opens 3 tabs (copies) in my browser. My xdg-open is set to qutebrowser, but simple `xdg-open "https://google.com"` opens just one. I can only conclude that it is not issue of xdg-open as well as my browser. I assume that if this was a bug it would be reported instantly so I guess i m doing something wrong...if anyone

[2019-10-21 20:15] ranebrown commented on #763
1. What is the output of `:verbose imap <CR>`?
2. Does the same the happen if you place the cursor on a link and call `:VimwikiFollowLink`?
3. Does the same think occur if you use the `dev` branch?
4. Does changing the browser make any difference?

[2019-10-22 01:52] krisezra87 commented on #762
Thanks that solved the issue!  I'm a little new to vimscript but I'm going to try to build a more robust solution.  This breaks ultisnips if the original class is not actually a vimwiki file type (obviously) so I think I need to read the class first, save it local, then load ultisnips, and set the filetype back to whatever it was originally.

If I get it done I'll re-post it here, but if you happe

[2019-10-22 06:21] nagy135 commented on #763
1. `i  <CR>        *@<Esc>:VimwikiReturn 1 5<CR>
        Last set from ~/.vim/plugged/vimwiki/ftplugin/vimwiki.vim`
2. Yes
3. Yes
4. Yes, chromium works as expected. The interface between the two has to be a problem, but i would pressume that what vimwiki does in its guts is simple `xdg-open link` and while one of those works, it would have to be called more than once right ?

[2019-10-24 12:51] ranebrown opened #764 "Markdown fenced code blocks"
We should update the support for Markdown style fenced code blocks. Tildes should be supported as well as more than 3 backticks or tildes. See [this link](https://github.github.com/gfm/#fenced-code-blocks) for reference.

[2019-10-24 13:31] tessarin commented on #747
@frrobert2 I don't think this documentation is incorrect. That note refers to the `{{$...}}$` block which does always produce a one line equation. It is equivalent to LaTeX display math.

To produce an equation in more than one line, you do need an environment such as _align_. This is what you used in your example and is also what the documentation describes right after that note:

https://github.

[2019-10-24 13:31] tessarin commented on #747
@ranebrown While looking into this I noticed the instructions for remote loading MathJax don't work:

https://github.com/vimwiki/vimwiki/blob/ba84981b5ae54af32e320cd04b583dd7e9fe1c6c/doc/vimwiki.txt#L1414-L1417

The [official documentation](https://www.mathjax.org/#gettingstarted) recommends these instead:

[code]

Can I make a small PR to change that?

[2019-10-25 03:46] krisezra87 commented on #762
Ok for anybody that bothers to find this, here's the answer:

[code]
To make ultisnips play nice with vimwiki (and also other file types), simply cache the filetype to a variable, then set it again after ultisnips loads.  This is NOT a vimwiki issue but maybe someone will find it here.

[2019-10-25 03:46] #762 closed

[2019-10-28 07:25] edrex commented on #514
I'm not sure this should be closed. Vimwiki should try to interoperate with the rest of the vim ecosystem, and there's clearly some bug with the '<CR>' mapping.

[2019-10-28 07:53] edrex commented on #514
I realized my conflict was actually with another plugin, and I just needed to redo the binding in my config.

[2019-10-28 11:14] ranebrown commented on #763
It is strange that it works for a different browser. `xdg-open` is being called from [this function](https://github.com/vimwiki/vimwiki/blob/241126631dd902e3efde34060bb4d2f8c6cda4ab/autoload/vimwiki/base.vim#L292-L306).

If you can try do do some debugging and add any more info here that would be helpful. You can take a look at [this link](http://inlehmansterms.net/2014/10/31/debugging-vim/) about

[2019-10-28 11:15] #753 closed

[2019-10-28 12:16] nagy135 commented on #763
I tried looking into it and I myself found that function as well...after doing so I concluded it has to be qutebrowser issue that somehow randomly happens only here :D ...I will definitelly search deeper and give an update, but for now I simply press X (close) twice ...thanks for tutorial, will check it out

[2019-10-28 20:15] ashwinvis opened #769 "Markdown syntax not working if outside vimwiki path"
### Problem

While syntax highlighting of markdown works for vimwiki files, files like README.md outside these directories are not highlighted properly.

### Reproduce the issue
1. Clone
[code]
2. Configure `testwikis/minimal_vimrc` as follows
[code]

[code]

3. Open
[code]
Compare it with opening `vim` followed by `2<leader>ww` for vimwiki_markdown.

[2019-10-29 08:13] ashwinvis commented on #769
A good workaround for now is described [here](https://vimwiki.github.io/vimwikiwiki/Tips%20and%20Snips.html):

[code]

Which sets `filetype=markdown` in directories other than vimwiki. Related: #730

[2019-10-29 11:52] haranrk opened #770 "How do I uninstall vimwiki completely?"
I installed via `Vim-plug` by adding the following to the config
[code]
I uninstalled it by removing the line above and calling `PlugClean`

However, even after that the `.md` files (which were associated with vimwiki) continue to have the `vimwiki` filetype and keymappings

[2019-10-31 11:39] ranebrown commented on #770
You must have an additional copy of Vimwiki installed somewhere. You should be able to run `:verbose nmap <leader>ww` to see where a keymapping is being defined from.

[2019-10-31 11:48] ranebrown commented on #769
Vimwiki is using the default vimwiki syntax which won't look correct for markdown files. You need to register the extensions with something like `let g:vimwiki_ext2syntax = {'.md': 'markdown', '.markdown': 'markdown'}`. Does that fix the syntax highlighting?

From the help file:
[code]

[2019-11-04 18:36] ashwinvis commented on #769
That is again a workaround. I don't really mind if vimwiki forces `.md` files to be of `filetype=vimwiki`. However what I don't understand is why *syntax highlighting* does not work in other directories.

[2019-11-07 19:04] squito opened #771 "Better links with spaces in markdown mode"
I use vimwiki in markdown mode, and overall it works wonderfully.  I especially love being able to push my wiki to github, and now I've got a fully browsable version of my wiki for folks that don't use vimwiki.

However, I've run into one wrinkle.  If I create a link in vimwiki, the created file and the link itself have a space in them.  Vimwiki itself understands this fine, but when I push to git

[2019-11-08 10:27] ranebrown commented on #771
Does [this option](https://github.com/vimwiki/vimwiki/blob/241126631dd902e3efde34060bb4d2f8c6cda4ab/doc/vimwiki.txt#L2195-L2209) on the `dev` branch work for you?

[2019-11-08 10:28] #759 closed

[2019-11-08 10:32] ranebrown commented on #769
It does work, it just defaults to the 'vimwiki default syntax' which doesn't look correct for files that are written in markdown instead of the vimwiki specific syntax. We should probably set some default extension mappings for markdown files so the behavior is more what users would expect.

[2019-11-08 14:39] squito commented on #771
yes that looks perfect!  Sorry I missed it.

(A quick test of the dev branch led to some other errors, so I haven't actually tried this, but the feature looks perfect.)

[2019-11-08 14:39] #771 closed

[2019-11-10 05:28] haranrk commented on #770
When I run
[code]
I get this
[code]

[2019-11-10 21:25] ranebrown commented on #770
That path is strange looking, not sure what is going on with that.
You can also do `:set runtimepath?` to see all the locations that vim is loading from. You have some spare files somewhere that you need to remove. This isn't really a Vimwiki issuse but something related to how you installed/uninstalled it.

[2019-11-10 21:27] ranebrown commented on #770
Maybe just trying moving `~/.local/share/nvim` to a backup location and start from scratch with your plugins.

[2019-11-11 11:01] ChenWeird opened #772 "Bug: can't follow the txt with "vim: 稳""
**1. Checkout the `dev` branch and confirm the issue is present there as well.
   The `dev` branch contains fixes that may not have been merged to `master` yet.**

```Plug 'vimwiki/vimwiki', { 'branch': 'dev' }```

**2. Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`**

syntax: default
vimrc:
[code]
**3. Provide a detailed description of

[2019-11-11 11:10] ChenWeird commented on #772
And if I change the txt "v" to capital "V"， Vimwiki haven't error, returns to normal.
![New special txt](https://i.imgur.com/gK6x3nu.png)

[2019-11-11 15:21] fancypantalons opened #773 "Optionally convert whitespace to non-white in visual mode link creation"
I've implemented a cheap hack for this in my local copy of the vimwiki module, but before I spend time learning the codebase, I figured I'd describe the idea and see if it has merit for mainline.

Basically, today, if you run a visual mode selection over multiple words and press <CR> you get a link to a new page that includes spaces in the file name.  But not everyone wants to put spaces (for exam

[2019-11-11 15:46] kaphula opened #774 "[html conversion] Ignoring certain lines and pasting them to the html file as they are"
Hey,

I was wondering how would it be possible to add custom `<div>` tags from the vimwiki file so that the tags would show up in the html conversion. With `<div>` tags,  I could decide case by case how certain elements are being displayed on the web page. As it is, I have to use uniform styling for all of the same kind of html elements.

Having said that, writing `<div>` tags straight into the vi

[2019-11-12 02:48] sangaline commented on #741
Thank you!

[2019-11-13 03:43] ranebrown commented on #773
See #771

[2019-11-13 03:44] ranebrown commented on #773
Also #707

[2019-11-13 20:02] ipstone commented on #365
Is there a way to use vimwiki based on folder? Instead of base on the configurations? - such as looking for the default files/setup/path in a folder?

[2019-11-14 04:43] VimWei opened #775 "[bug] VimwikiGenerateLinks can't generate subfolder files correctly."
**1. Checkout the `dev` branch and confirm the issue is present there as well.
   The `dev` branch contains fixes that may not have been merged to `master` yet.**

```Plug 'vimwiki/vimwiki', { 'branch': 'dev' }```

**2. Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`**

syntax: default
vimrc:
[code]
**3. Provide a detailed description of

[2019-11-15 00:00] fancypantalons commented on #773
You must really get tired of pointing people to those issue keys... *sigh*  Thank you. :)

[2019-11-15 00:08] fancypantalons commented on #771
Just tested in the dev branch and it definitely does what I'm looking for!  I also see 4458216, which makes me a very happy camper, as that was another nuisance that was troubling me but I was too lazy to investigate fixing...

[2019-11-15 00:08] #773 closed

[2019-11-15 00:17] ranebrown commented on #773
Haha, no worries :)

[2019-11-15 17:13] imbilltucker commented on #398
Here is a link with plantuml using ditaa:  http://plantuml.com/ditaa
Maybe plantuml itself would be a viable alternative?

I'm not that attached to ditaa.  But I would like to see ascii graphs, because text seems the most durable format.   And, I would like to have the option for making them pretty by translating them into an image.

Dot (graphviz) has some merit, but it can be hard to see, interp

[2019-11-17 06:55] ChenWeird opened #776 "Command [count]o can't repeat in vimwiki."
**1. Checkout the `dev` branch and confirm the issue is present there as well.
   The `dev` branch contains fixes that may not have been merged to `master` yet.**

```Plug 'vimwiki/vimwiki', { 'branch': 'dev' }```

**2. Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`**

syntax: default
vimrc:
[code]
**3. Provide a detailed description of

[2019-11-17 13:27] ranebrown commented on #776
This occurs because vimwiki remaps `o` and `O` to properly insert list markers when within a list. I think it should be easy to fix.

[2019-11-18 11:58] illus0r commented on #589
My take on the logo

![Frame 18](https://user-images.githubusercontent.com/797993/69050804-32734a80-0a1c-11ea-9668-e7e739711522.png)

[2019-11-20 03:51] #691 closed

[2019-11-20 03:56] ranebrown commented on #774
I haven't done any work with the html conversion but you are welcome to take a look at it and submit a PR if you get something working.

[2019-11-20 04:00] ranebrown commented on #775
What page are you on when you run `VimwikiGenerateLinks`?

Are you on Windows?

[2019-11-20 04:05] ranebrown commented on #772
Vim is interpreting that as a `modeline` and trying to process commands. If you `set nomodeline` you shouldn't see any errors. Does that resolve your problem?

[2019-11-20 04:24] ranebrown commented on #365
Not currently, feel free to open a new issue.

[2019-11-20 18:32] #770 closed

[2019-11-21 03:41] ChenWeird commented on #772
It has resolve my problem! Thanks!

[2019-11-21 03:41] #772 closed

[2019-11-21 03:50] ChenWeird commented on #775
The page is under vimwiki root, just any new page followed from index.
The target page is vimwiki diary.

I use gvim in Windows 10.

- vim or neovim?
    - [x] vim
    - [ ] neovim
- Output of `vim --version` or `nvim --version`:  vim 8.1 (2018 May 18) MS-windows 32位图形界面版本，带OLE支持 包含补丁1  巨型版本
- Output of `:echo has("python")`: 0
- Output of `:echo has("python3")`: 1
- Output of `:echo &pythondll`(o

[2019-11-22 09:11] dgrabla opened #777 "Help debugging very down slow vimwiki#base#open_link"
Hello,

I used vimwiki for a couple of years now and have a big collection of journal files. Lately I noticed vim blocks for a relatively long time every time I open *for the first time* a vimwiki buffer. That means, it happens when I first open vim wiki with
<leader>wi or when I travel from a journal file to the previous / next.

I profiled vim and found the culprit on this call `execute a:comman

[2019-11-22 10:01] dgrabla commented on #777
Something similar was reported in 2017 by @llinfeng. The interesting thing is that he experienced a huge slowdown with his Thinkpad X230 with a slow SSD and I am also using a X230, with an old SSD.

Therefore it could be the problem are too many I/O calls - even for an SSD. But if thats the problem it should make vimwiki unusable on old harddrives and AFAIK nobody complained yet.

Maybe it is a fi

[2019-11-23 00:03] ranebrown commented on #777
How many files and avg line count per file so I can see if I can duplicate this?

[2019-11-24 02:56] kaphula commented on #774
Cool. I already got it to work with custom modification, but there's still an issue when "the line to be ignored" is not surrounded by empty lines, because otherwise it will be considered part of the preceding paragraph and the nested order of html elements break.

Here's the modification that enables line ignoring when the line starts with **%plainhtml** prefix.

This snipper can be inserted as t

[2019-11-27 13:33] ChenWeird opened #779 "Why doesn't the tag file meet Ctags' standards?"
**Standards tags file has six lines:**
[code]
**But Vimwiki's tags file has only one line:**
[code]
So, another great vim plugin `Leaderf` can't read the vimwiki tags file accurately.
https://github.com/Yggdroot/LeaderF/issues/381

[2019-12-03 15:32] ranebrown commented on #779
Take a look at #85 for the discussion regarding the usage of tags. Using the ctags standard probably just wasn't thought of since it is a pretty specific use case. Feel free to open a PR that modifies the behavior to meet the standard.

[2019-12-03 15:35] ranebrown opened #781 "Generated sections not compatible with older versions of Vim"
PR #634, PR #635, and PR #636 introduced new features that broke compatibility with older version of Vim.

v7.4.1989 modified filter() to accept a Funcref
v7.4.2120 Added function "closure" argument
v7.4.2137 add funcref()

[2019-12-03 20:30] Ginner opened #782 "Feature request: Cycle todo-item check-marks"
First off, thanks for your amazing work on this project. I use it a lot!

Seems like @Nudin has been doing a lot of work on somewhat similar functionalities in #557. However I'd love some additional functionality.

I was wondering if it would be possible to implement a 'check-mark cycle feature'?
What I'd like is that when I'm on a todo-item and hit `<C-Space>`, I'll firstly check it (`- [X] Whate

[2019-12-03 23:52] tinmarino commented on #781
I tested your patch on `vim_7.4.1099`. It does not work (that's why you removed it maybe). I think this retro compatibility issue is a good initiative. What I noted so far :

1. E729: using Funcref as a String
2. VimwikiTOC not working on readonly or diff -> We should make a check earlier and return error : `echoerr "E21: Cannot make changes, 'modifiable' is off" | return` https://github.com/vimwi

[2019-12-04 03:14] tinmarino commented on #781
# 2/2 A solution (not so dirty)

@ranebrown : I leave you the critic of my critic of your patch

I replace your dict container by script scoped variable (script container). Because some vim version cannot find the dict holder of the function. Hence the `E725` errormsg.

I pushed an updated version of command.vader. Before the patch 5/10 tests work, after 10/10

### PS : The patch description :

[c

[2019-12-04 03:36] ranebrown commented on #781
Sorry about the confusion with that other patch I added. I realized it wasn't quite there so I deleted it. I think these should be better. I won't have a chance to look at this anymore for a week so but I can take a look at your option then.

[01_patch.txt](https://github.com/vimwiki/vimwiki/files/3919860/01_patch.txt)
[02_patch.txt](https://github.com/vimwiki/vimwiki/files/3919861/02_patch.txt)

[2019-12-04 03:40] ranebrown commented on #781
We should make sure to test `VimwikiTOC`, `VimwikiGenerateLinks`, `VimwikiGenerateTags` (make sure to `VimwikiRebuildTags` first) and `VimwikiDiaryGenerateLinks` to make sure this is all working correctly.

[2019-12-04 17:29] Nudin commented on #782
Basically you can do this already, by "misusing" one of the features I've built in:

With `g:vimwiki_listsyms` you can specify different states with different chars. For example I use unicode signs for different progress from not yet started to finished:
[code]
You could set it to ' XDS'.

You can then cycle through the different states by VimwikiIncrementListItem or VimwikiDecrementListItm. You c

[2019-12-04 18:44] Ginner commented on #782
Yeah, you're right. However I've also grown quite fond of the progress indicator :)

My current workflow is also totally acceptable. I can toggle pending/done (` `/`X`) with `<C-Space>`, toggle start (`S`) with the TaskWiki binding `<leader>t+` and delete with `<leader>tD`. So I'm just being difficult.

I'll close the issue, as I'm sure there's plenty more pressing stuff to be done. However, I hop

[2019-12-04 18:44] #782 closed

[2019-12-07 18:45] tinmarino commented on #624
@EinfachToll : I'd also like to be maintainer. To edit developers pull request, rebase my test branch incrementally when stable without harassing current few maintainers (i.e ranebrown). And to add some workforce for issue fixing.

[2019-12-09 15:37] kevinkowalew opened #783 "Built-in markup doesn't support character escapes"
# Issue
I was taking some notes this morning and noticed that the built-in markup doesn't seem to support character escapes (assumed backslash escapes were supported as in Markdown).  I thought this would be a useful addition to the plugin so I figured I'd post an issue.  Hoping this is lightweight to add, thanks in advance!

# Markdown Syntax
[code]
# .vimrc  settings
[code]

# `:VimwikiShowVersi

[2019-12-09 22:09] pwsiegel opened #784 "Create an inverse to VimwikiNormalizeLink"
Apologies if I'm missing something trivial, but I read the documentation pretty thoroughly and couldn't find an answer.

It is quite straightforward to turn a word into a Vimwiki link: `<CR>` and `+` both do the job, the latter being a wrapper around the command `VimwikiNormalizeLink`.  But I can't seem to find an inverse for this operation - that is, remove the link annotation once it has been ad

[2019-12-11 03:34] ranebrown commented on #784
I don't think there is command to do this currently. If I remember there was another issue with a similar question. You might try digging around some because I think there was some more info there.

Adding this isn't out of the question but is pretty low on my priority list. If you want to create a PR and some tests to go along with the changes that would be the best way to get it added.

[2019-12-11 03:39] ranebrown commented on #783
Did you try the dev branch? I think I took care of this in #619.

[2019-12-11 04:58] kevinkowalew commented on #783
@ranebrown Yep, unfortunately it seems to be an issue on dev and master.

Just to clarify, I'm referring to the [built-in markup](https://github.com/vimwiki/vimwiki#basic-markup) rather than traditional Markdown which [#619](https://github.com/vimwiki/vimwiki/issues/619) appears to be addressing.

Apologies for any ambiguity in my issue post.

[2019-12-11 05:15] ranebrown commented on #783
I see. I didn't take a look at the default syntax when I made that change. It should be a pretty similar fix.

[2019-12-11 05:26] ranebrown commented on #781
Seems like both patches are performing the same right now. I kinda like my version but that's probably because I spent a bit of time figuring out how to get the dictionary functions to work how I wanted ;)

[2019-12-11 10:02] Snaptags commented on #139
@Nudin when using vim-fugitive you may want to modify your plugin to use Gwrite:

(.vim/after/ftplugin/vimwiki.vim)
[code]

Your solution will never commit or push NEW files, because they are untracked…

[2019-12-11 13:49] kevinkowalew commented on #783
@ranebrown For sure, I'm pretty new to Vimscript, but I'll take a swing at it.
Appreciate the tip!

[2019-12-11 14:02] tinmarino commented on #781
Don't you get `E725: Calling dict function without Dictionary: 3` with `vim_7.4.1099` and your dict solution ?
That is why I worked on that on the first place. Your solution is elegant. But it seems (to me) that the dict is disappearing from the scope for early vim's version. Declaring the dict as global can solve that too.
In my opinion, on `vim_7.4.1099`, we need to leave the scope of the callin

[2019-12-13 10:43] S73ph4n opened #786 "Links generated by `:VimwikiGenerateLinks` always use vimwiki syntax"
When I use` :VimwikiGenerateLinks `on my markdown wiki, it generates links in vimwiki syntax. Example :
[code]
Where I would instead want :
[code]
This does not happen when creating a link in any other way, including with `:VimwikiDiaryGenerateLinks` or `:VimwikiTOC` : those follow correct markdown syntax.
I believe the problem to be similar to #499 , but I have so far not been able to fix it.

I'

[2019-12-15 05:00] #781 closed

[2019-12-15 05:01] ranebrown commented on #769
@ashwinvis Do you want to test if the defaults give you more expected behavior?

[2019-12-15 05:04] ranebrown commented on #749
@mickmcq were you able to discover what was causing the issue? Did you find anything useful in #461?

[2019-12-16 02:49] ranebrown commented on #786
Can you confirm you still see this behavior with a [minimal vimrc](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html#Troubleshooting-Minimal%20Vimrc)?

[2019-12-16 10:01] S73ph4n commented on #786
It does indeed get fixed with this procedure. I'll find what I did wrong, sorry for the inconvenience.

[2019-12-16 10:01] #786 closed

[2019-12-16 13:43] ranebrown commented on #786
No worries. Good luck!

[2019-12-17 22:12] jzbor commented on #749
I have the same/a similar problem although I have no pandoc plugin or similar (though I have pandoc installed if that matters). None of the mappings that contain <Enter> are working.

All of the verbose commands above say that there is no binding. The .md files are recognized as vimwiki.

Here is my [.vimrc](https://github.com/jzbor/dotfiles/blob/master/.vimrc)

[2019-12-18 00:09] mickmcq commented on #749
Yes, I was successful using a combination of lines from #461 as follows. I haven't tested this extensively, though:

[code]

[2019-12-18 17:44] jzbor commented on #749
If I try
`:<Plug>VimwikiFollowLink`
I just get
`E488: Trailing characters`

[2019-12-18 22:27] wngrtn commented on #749
Potentially, the same issue here. I don't have `vim-pandoc` installed and none of the local mappings (including <CR> for following links) get set after a recent update of my plugins. Global mappings work and `filetype=vimwiki`.

I also tried `execute "normal \<Plug>VimwikiFollowLink"` with my cursor on a link but I get no effect. Is there a way to trace why execute fails to produce any result?

[2019-12-19 11:06] just-a-nick opened #788 "Enter key not working on Ubuntu 19.10"
I have a problem similar to [issue 716](https://github.com/vimwiki/vimwiki/issues/716) (and probably [issue 749](https://github.com/vimwiki/vimwiki/issues/749)): When pressing **enter**, the cursor just moves to the line below.

`noremap <CR> :VimwikiFollowLink<cr>` does not work, it gives the following error message:

I also cannot tab complete _VimwikiF_. There are also other Vimwiki commands th

[2019-12-19 13:52] wngrtn commented on #788
Same symptoms here on up-to-date Void Linux and Win10.

The mappings that work are the global ones. Local mappings don't work.

[2019-12-19 14:06] pwsiegel commented on #784
OK, that makes sense.  Maybe I'll give it a shot!

[2019-12-19 14:09] just-a-nick commented on #788
I have done some more testing by de-installing plugins one by one: In my case, [vim-polyglot](https://github.com/sheerun/vim-polyglot) is the culprit: Without it, Vimwiki works again.

@wngrtn: Same problem/solution for you?

[2019-12-19 19:53] ranebrown commented on #788
Another plugin must be taking over the filetype so none of the buffer local mappings or commands get set. For vim-polyglot you should be able to do `let g:polyglot_disabled = ['markdown']`. Other than that you will need to go through your `.vimrc` and find out what is causing the conflict.

[2019-12-19 21:11] wngrtn commented on #788
`vim-polyglot` was indeed the culprit and `let g:polyglot_disabled = ['markdown']` fixed it for me. Many thanks!

[2019-12-19 21:14] wngrtn commented on #749
For me, it was `vim-polyglot` taking over the `markdown` filetype.

@ranebrown, pointed out a simple solution in #788:

[code]

[2019-12-19 22:28] just-a-nick commented on #788
Thanks,  ranebrown!

[2019-12-21 03:42] #788 closed

[2019-12-21 03:42] #749 closed

[2019-12-21 03:43] #769 closed

[2019-12-21 03:44] #747 closed

[2019-12-21 03:45] #721 closed

[2019-12-21 03:48] ranebrown commented on #638
@Nudin what are your thoughts on doing a release? There are a lot of changes piled up on `dev` and I think it's time.

[2019-12-23 11:27] ChenWeird opened #789 "vimwiki-option-list_margin can't work"
**1. Checkout the `dev` branch and confirm the issue is present there as well.   The `dev` branch contains fixes that may not have been merged to `master` yet.**

[code]

**2. Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`**

[code]

**3. Provide a detailed description of the problem including**

[code]
**Whatever let wiki.list_margin =

[2019-12-23 11:37] ChenWeird commented on #779
Thanks! But I'm not a programmer, do not know how to fix and PR. It would be great if you fix it.

[2019-12-23 14:20] ranebrown commented on #789
Thanks for reporting this. A recent change is overwriting user settings for that option. I'll fix it by the end of the day.

[2019-12-23 20:42] ranebrown commented on #789
@ChenWeird Can you give it a try now?

[2019-12-23 23:47] ChenWeird commented on #789
Thanks! User setting of list_margin can work.

[2019-12-23 23:47] #789 closed

[2019-12-28 16:31] ChenWeird opened #790 "VimwikiGenerateTags got Vimwikierror: Tags must appear after a header."
**1. Checkout the `dev` branch and confirm the issue is present there as well.   The `dev` branch contains fixes that may not have been merged to `master` yet.**

[code]

**2. Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`**

[code]

**3. Provide a detailed description of the problem including**

[code]

**It only Generate a header: # Ge

[2019-12-29 05:45] Unip0rn opened #791 "Feature idea: git support"
I just noticed vimwiki doesn't offer managing wikis with git and thought that would be a neat feature, e.g. for having version control on it. (And I happen to usually use git, so that would be a nice fit :))

[2019-12-29 15:07] ranebrown commented on #790
The vimwiki error message was added to prevent a bunch of other error messages. Currently the markdown syntax doesn't handle placing a tag that doesn't fall under a header. I'm working on fixing this and making some new test cases.

[2019-12-29 15:14] ChenWeird commented on #790
Thanks! I'm transfering from default syntax to markdown syntax today.

[2019-12-29 19:53] ThomasFeher commented on #791
See #139 for a previous discussion on that topic.

[2019-12-30 06:38] Unip0rn commented on #791
Oh thanks! Guess I forgot to look at closed issues. Have a nice time then :)

[2019-12-30 06:38] #791 closed

[2019-12-30 07:02] Archangel33 commented on #664
Not sure if this is included in this issue or not but the auto generated diary index page seems to generate the diary entries indented by 4 spaces which for at least for a few markdown converters interpret this to mean a  direct quote of the markdown instead of a list. So instead of generating a list it is interpreted as being wrapped in a code tag.

If this is intended behavior then I'll let this

[2019-12-30 17:10] ranebrown commented on #779
@ChenWeird can you try this update? I'm not sure jumping to the file will work correctly with how the Vimwiki tags are formatted but they should be readable at least.

[2019-12-30 17:11] ranebrown commented on #790
@ChenWeird Can you pull the latest and check if it works for you?

[2019-12-30 17:38] ChenWeird commented on #790
Cool! It's working! Thanks!

[2019-12-30 17:38] #790 closed

[2019-12-30 17:42] ChenWeird commented on #779
It works correctly! Thanks!

[2019-12-30 17:42] #779 closed

[2019-12-31 02:42] ChenWeird opened #792 ":VimwikiGenerateTags can't generate correct link to non .md file."
[The commit Allow markdown syntax to have tags at top of file](https://github.com/vimwiki/vimwiki/commit/b4e0f738a32e0dbfdad6c74e22721d1872932ef8)

But there is an issue, when a tag included by a non .md file in the vimwiki folder, then `:VimwikiGenerateTags` can't generate correct link to this file.

For example:  tag ‘abc’  in the xyz.vim
`:VimwikiGenerateTags` would generate link to `xyz#abc`
b

[2019-12-31 02:52] ChenWeird commented on #775
Now I have transfer from default syntax to markdown. This problem still exists:

`:VimwikiGenerateLinks` generate links as: ` [diary\diary](diary\diary)` and `[diary\2019-12-31](diary\2019-12-31)`, and it can't be follow.

The correct links should be ` [diary/diary](diary\diary)` and `[diary/2019-12-31](diary\2019-12-31)`

[2019-12-31 02:55] ChenWeird commented on #792
Maybe retaining the file extension would resolves this problem.

[2019-12-31 03:21] ChenWeird commented on #413
I've transfered vimwiki syntax from default to markdown, but haven't changed the links syntax from default `[[Link]]` to markdown `[Link](Link)`.

And now `:VimwikiBacklinks` only recognize the new markdown syntax links, but not the default syntax links.

OS: win 10 pro
gVim version: 8.2 x64

[2019-12-31 04:34] ChenWeird commented on #413
Transform links syntax of Vimwiki default to Markdown:

[code]

[2020-01-01 18:16] #764 closed

[2020-01-01 19:30] #688 closed

[2020-01-02 10:30] jean commented on #731
There's a similar feature that I've wanted for years: a way to include backlinks to a page, either just a list of titles or with some context, or the full content. Like a cross between `:VimwikiBacklinks` and `:VimwikiGenerateTags`.
My use case: a `Research` page that lists all pages that link to it using e.g. `{{backlinks}}`.

This allows you to use compendium pages (such as `Research`) similarly

[2020-01-02 12:01] jean commented on #684
This has been merged to `dev` but I'm running into this issue now --- could it be merged to `master`?
In fact, I see `master` is getting commits that aren't in `dev`!

[2020-01-02 15:09] jean opened #793 "Pages created from a diary page aren't diary pages"
With default `diary_rel_path`, create a new page in a diary page. I.e type `TestPage` in `diary/2020-01-02.wiki`, and press enter on it twice.

- This results in `diary/TestPage.wiki` being created. **This is wrong**: `TestPage` is not a diary page.

----

Syntax: default.

## From `.vimrc`:

[code]

## The output of `:VimwikiShowVersion`.

Branch: dev
Revision: 5cdeb9a
Date: 2020-01-01 10:58:56 -

[2020-01-02 15:45] jean opened #794 "VimwikiGenerateTags links don't handle file hierarchy correctly"
Create a tag (e.g. `:SomeTag:`), rebuild tags, and in `diary/2020-01-02.wiki` issue the command `:VimwikiGenerateTags`.

- This results in links like `[[diary/2020-01-02#SomeTag]]`. When that link is followed, vim tries to create `diary/diary/2020-01-02.wiki`. **This is wrong**:
  - _either_ links should be generated based on the main wiki directory (like `[[/diary/2020-01-02#SomeTag]]`),
  - _or_

[2020-01-02 15:52] jean commented on #85
Maybe the remaining work could be split out to separate issues .. that might make it easier for others to pick them up, or to pick them off one by one.

[2020-01-02 16:13] jean opened #795 "VimwikiRebuildTags doesn't always work"
`.vimwiki_tags` contained lines referring to pages that had been deleted.
`:VimwikiRebuildTags` did not remove these lines. This results in `:VimwikiGenerateTags` generating spurious links.

I had to delete `.vimwiki_tags` to get rid of the spurious links.

----

Syntax: default.

## From `.vimrc`:

[code]

## The output of `:VimwikiShowVersion`.

Branch: dev
Revision: 5cdeb9a
Date: 2020-01-01 10:

[2020-01-02 16:17] jean opened #796 "Suggested tweak: rename VimwikiGenerateTags (it doesn't generate tags)"
It should really be called e.g. `VimwikiGenerateTagLinks` or `VimwikiGenerateTagIndex`.

[2020-01-02 16:33] jean opened #797 "Suggested enhancement: allow VimwikiGenerateTags to include context."
Currently, `:VimwikiGenerateTags` can tag a whole file, a header in a file, or a standalone tag. That's pretty cool.
It would be even nicer if the generated tag index could optionally include some context, e.g.

    - The tagged header: [[SomePage#SomeTag]]
    - "... let's tag this passage as [[OtherPage#SomeTag]] bla bla ..."
    - "... this is another aspect of [[ThisPage#SomeTag]] bla bla ..."

[2020-01-03 03:47] ranebrown commented on #793
If you are creating the link from an existing diary page the newly created page will be relative to that page i.e. in the diary folder. If you want it somewhere else just edit the relative path prior to pressing enter the second time.

[2020-01-03 03:54] ranebrown commented on #796
Agreed

[2020-01-03 03:54] #796 closed

[2020-01-03 03:57] ranebrown commented on #795
What was the page structure to repeat this? When I remove a tag from a page it is still present in `.vimwiki_tags` but `:VimwikiGenerateTagLinks` removes the link.

[2020-01-03 04:08] ranebrown commented on #792
In my test `:VimwikiRebuildTags` doesn't even create a tag in a file with `.vim` extension. What is the use case here? And what settings are you using to make it generate the tags?

[2020-01-03 04:27] ranebrown commented on #794
Might be able to use `vimwiki#path#relpath(dir, file)` to fix this.

[2020-01-03 05:02] jean commented on #795
The page containing the tag was deleted before tags were rebuilt.

[2020-01-03 05:05] jean commented on #793
Fair enough :ok_hand:

[2020-01-03 05:05] #793 closed

[2020-01-03 05:09] ChenWeird commented on #792
I use auto_tags and auto_generate_tags.

This is the GIF what I do, please check:

![VimwikiGenerateTags](https://s2.ax1x.com/2020/01/03/lUDjWn.gif)

[2020-01-03 05:30] ChenWeird commented on #792
**How to open .vim page may make different:**

If open .vim page from a .md wiki page, then the .vim page's filetype is vimwiki. And auto_tags and auto_generate_tags work.

If open .vim page directly such as `:find wiki2md.vim`, then the .vim page's filetype is vim. And auto_tags and auto_generate_tags can't work.

[2020-01-04 02:59] ranebrown commented on #795
Thanks, confirmed the same behavior.

[2020-01-04 03:08] ranebrown opened #798 "Repeated tags generate the same link"
If a file contains multiple occurrences of the same tag then `:VimwikiGenerateTagLinks` will create identical links and each link will only jump to the first occurrence of the tag in that file.

A better implementation would be to use the line number that is already stored in the tags metadata to jump to the correct location.

[2020-01-04 03:20] ranebrown opened #799 "Multiple insertion in tables does not work"
Using `Ctrl-V I` to insert the same characters on multiple lines does not work correctly within tables.

[code]
`Ctrl-V I` -> `a-` -> `<Esc>`  beginning on 'one' should result in this:
[code]

Actual result is:
[code]

And typing `a- ` (space at the end) results in the below table but only after pressing another movement character in command mode i.e. `j`.

[code]

[2020-01-04 03:27] ranebrown opened #800 "Regex used with g:vimwiki_hl_cb_checked=2 is extremely slow"
Setting `let g:vimwiki_hl_cb_checked = 2` results in a significant delay when navigating lists with completed items. This seems to be related to the regex pattern used for the syntax highlighting.

`echo vimwiki#vars#get_syntaxlocal('rxListItemAndChildren')` can be used to retrieve the regex pattern.

[2020-01-04 03:30] ranebrown opened #801 "Allow generation commands to place content at cursor location"
It would be nice if commands like `:VimwikiTOC`, `:VimwikiGenerateLinks`, `:VimwikiGenerateTagLinks` had the option to generate the content at the current cursor position (or passed line number?) instead of only predefined locations.

[2020-01-04 03:35] ranebrown commented on #666
I'm reopening this as an enhancement. I would eventually like to transition to GitHub style anchor links.

[2020-01-04 12:34] artkpv commented on #638
Hi, thanks for developing this great tool! Waiting for the 2.5 release. Meanwhile, could we checkout and use 'dev' branch to test the changes? Or it is not in a running state?

[2020-01-04 13:56] ranebrown commented on #638
The dev branch is generally pretty stable so feel free to use it. Take a look at the changelog in `doc/vimwiki.txt` for a list of features and fixes.

[2020-01-05 04:22] #90 closed

[2020-01-05 21:13] carugnom opened #802 "vimwiki_auto_chdir not working"
Hi there
I'm setting this in my vimrc
[code]
The output of `:VimwikiShowVersion` is `2.4.1`

I enter vimwiki (,ww) and I follow a linked subdir like [[comp/]] where I have wiki notes.
Then I type `:pwd`
The current dir is not `~/vimwiki/comp` (as I expect) but just `~/vimwiki`
Looks like `vimwiki_auto_chdir` has no effect

[2020-01-06 11:02] illus0r commented on #625
How to donate to the project or to its founder?

[2020-01-07 10:00] giddie commented on #57
I've found the following thread hugely helpful in getting a good automatic markdown->html export set up:

https://gist.github.com/maikeldotuk/54a91c21ed9623705fdce7bab2989742

[2020-01-07 15:03] Nudin commented on #638
I'm currently writing my thesis and therefore can't invest time into looking into the patches. I would therefore propose to plan to release 2.5 in mid-march. Is that fine for you?

[2020-01-07 15:05] ranebrown commented on #638
That works. I definitely want to get a second set of eyes on everything. Good luck with the thesis!

[2020-01-07 17:34] danielb2 commented on #57
I'm doing `pip3 install vimwiki_markdown` and in my config: `'custom_wiki2html': 'vimwiki_markdown'` + `'syntax': 'markdown', 'ext': '.md'`

would be nice if vimwiki would handle it natively tho.

[2020-01-08 09:05] ChenWeird commented on #802
`vimwiki_auto_chdir` always cd to current vimwiki path of `g:vimwiki_list`

You can use: `:cd %:p:h`

[2020-01-08 12:19] beuerle opened #803 "`:VimwikiGenerateLinks` for subdirectory only?"
- branch: `dev`
- revision: `d94122`
- syntax: markdown

Running `:VimwikiGenerateLinks` currently produces a list of links to **all** wiki files relative to the location of the file the command is run from.

Did I miss something in the documentation and it is possible to run `:VimwikiGenerateLinks` to only produce a list of links to files in the current directory?

----

Example:

- wiki structur

[2020-01-08 15:35] carugnom commented on #802
Well, according to the documentation that's not the behavior
[code]

[2020-01-09 11:37] ranebrown commented on #802
I think this means the root wiki folder set in `g:vimwiki_list` as mentioned by @ChenWeird. The call is `exe 'lcd' vimwiki#vars#get_wikilocal('path')` which confirms that behavior.

The documentation could more clearly state the behavior.

[2020-01-09 12:09] ranebrown commented on #803
I don't think it is possible currently but it could be a useful addition. If you are interested in creating a PR that would be the best way to get the feature added.

[2020-01-10 08:44] jumbosushi commented on #622
Also a daily user :raised_hands: Did some googling and found that you can use vim's `r` command to copy a file content into the currently opened file

[code]

Added a quick shortcut in my `.vimrc` to make this easier with `Space + L`

[code]

[2020-01-10 10:07] carugnom commented on #802
Well, I still think it is an issue.
From its name (auto_chdir) the expected behavior is vimwiki to change into the directory of the current file, so the use can search from that directory, for instance.
If that's not the intended behavior, then the command name and its documentation are the issues.

[2020-01-10 14:45] FrostyX commented on #622
For the record, I've described my solution to diary templates in this post http://frostyx.cz/posts/vimwiki-diary-template

[2020-01-12 15:00] mowgli opened #804 "VimwikiGet does not work anymore since update"
Prior to submitting a new issue make sure to complete these steps:

- [x] Checkout the `dev` branch and confirm the issue is present there as well.
- [ ] The `dev` branch contains fixes that may not have been merged to `master` yet.
- [ ] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
- [x] Provide a detailed description of the problem i

[2020-01-13 04:12] ranebrown commented on #804
There has been some refactoring of how the internal variables are handled. You should be able to achieve the same thing using `vimwiki#vars#get_wikilocal('path')`

[2020-01-13 06:43] electronblue opened #805 "Custom Vimwiki template with sidebar"
I looked into the template functions of vimwiki, and while I am quite intrigued by it in general, I have one particular need that requires some more flexibility. The most important part of the templates is where you put the %content% tag of course. In my template, I have already created a bar at the top with manual links to 3 important sites in my wiki. However, what I would really like to have is

[2020-01-16 14:40] wallyreport opened #806 "Installed plugin with pathogen, but cannot start"
I am okay with standard vim, but I usually avoid plugins. One reason is that there are several different plugin managers, and they all tend to be quirky.

I am trying to use pathogen.

If I enter :Helptags then :help vimwiki -  I get the docs. But when I pub the cursor on a word, and hit enter, nothing happens.

I am using Parrot Linux - based on Debian AMD-64
[code]

My .vimrc

[code]
~/.vim/

[c

[2020-01-19 15:58] stevesteve opened #807 "linking to existing diary pages results in only the first word of the page name being used"
Creating a link to a page in the diary path with multiple words in its title, from a page in the diary path, results in a link with only the first word of the page title.

To Reproduce:
* go to a diary page (e.g. `diary/2020-01-01.wiki`)
* write and, in visual mode, select text equal to an *existing* page, which is *in the diary path* and has *multiple words* in its name (e.g. `New Years Celebrati

[2020-01-20 21:08] electronblue opened #809 "Vimwiki slow markdown table editing"
Vimwiki Version: Stable 2.4.1

Even though the table has only 200 rows and 3 columns, editing is it really slow (both switching between modes as well as tabbing through the fields, particularly creating new rows). I don't think this should be the case when the file has only 200 lines, maybe with 200000 but not with 200. I profiled the problem, here is the output.

https://pastebin.com/raw/DHJkFuJ6

[2020-01-21 12:37] ranebrown commented on #809
Give the `dev` branch a try. There were a couple of PRs (#658, #47) that made some updates to tables to speed things up. They will be part of the next release, hopefully around March timeframe.

[2020-01-21 12:40] ranebrown commented on #804
@mowgli did using the new function work?

[2020-01-21 17:31] mowgli commented on #804
Sure, that work, thanks.

Sorry for answering that late. I am somewhat busy currently.

[2020-01-21 17:31] #804 closed

[2020-01-21 17:32] mowgli commented on #804
Short note, could you please document the new behavior in the otherwise great help page?

[2020-01-23 00:39] Nazeehe opened #810 "UI: Links I create don't look like in your screenshots"
VimwikiVersion: 2.4.1

Hi all,

Love the plugin! For some reason though, I can't figure out why my UI doesn't look like it does in your screenshots. When I create a link by typing some text, highlight it, press Enter, I see [[Page_1]] and the link works. It just always looks like that, never like an underlined link as it does in your screenshots. I watched this youtube video about VimWiki, and I s

[2020-01-23 05:15] #810 closed

[2020-01-23 05:16] Nazeehe commented on #810
Two plugins I had were messing with it. Indentline and Rainbowparanthesis

[2020-01-24 14:07] elhenro commented on #353
i have this issue, with youcompleteme and vim 8.2.100

[2020-01-27 10:41] rpietro opened #812 "slow to open links"
I have the dev branch installed through:

Plug 'https://github.com/vimwiki/vimwiki', { 'branch': 'dev' }
set nocompatible
filetype plugin on
syntax on
let wiki = {}
let g:vimwikidir = $HOME . "/Dropbox/vimwiki"
let wiki.path = g:vimwikidir
let g:vimwiki_list=[wiki]
let g:vimwiki_list = [{
  \ 'path': '~/misc/vimwiki/',
  \ 'path_html': '~/web/otherware.org/vimwiki/',
  \ 'template_path': '~/misc/v

[2020-01-27 20:17] igorline commented on #763
Same issue here

[2020-01-27 20:31] nagy135 commented on #763
Lets recapitulate what we know. There are 3 pieces that might be faulty here:
* VimWiki - it just calls external program, might be somehow calling it 3 times ? Can any maintainer verify this?
* `xdg-open` - cant see how this could be issue, its called from one program and seems to be doing its job. Unlikely to be acting differently being called by another program.
* Qutebrowser - This doesnt seem

[2020-01-27 23:47] ratfactor commented on #763
It works fine for me (opens a single tab in Firefox), but `xdg-open` *does* produce the following STDERR output:

[code]

I sprinkled a copy of the script with `echo` statements to get to the bottom of it:

[code]

For me, line **719** is attempting to run the `Exec` entry from the "Desktop Entry" file for Firefox (which appears to be wrong and is being turned into a blank string when the script a

[2020-01-28 12:57] ranebrown commented on #812
My first guess is it is related to using Dropbox. Your settings also look a bit muddled, you should try to clean those up and make sure you aren't overwriting you desired settings.

You can do it like this:
[code]

Or like this:
[code]

[2020-01-28 13:49] justrajdeep commented on #746
I attempted to make `[//absolute_path]` modification to the plugin and created a PR#811.

[2020-01-28 20:13] Rich-YoYo opened #813 "<CR> mapping change"
I found that a mapping defined in vimwiki was interfering with use of the popup/completion menu. The following change fixes it for the completion menu, but as I'm not quite sure what it's supposed to do in vimwiki, I can't be sure I've not broken the existing mapping. Anyway, it's at line 570 in ./ftplugin/vimwiki.vim;-

[code]

[2020-01-29 17:01] justrajdeep opened #814 "Question: How do I add modline to VimWiki text?"
Hi

How can i add `modline` to vimwiki text?

I see the following for google search but does not work for vimwiki

[[modeline]: # ( vim: set fenc=utf-8 spell spl=en: )](https://davidjb.com/blog/2016/10/adding-a-vim-modeline-in-a-markdown-document/)

[2020-01-30 03:01] ranebrown commented on #814
Try `%%` or ``. I think those are markdown comment characters that might work.

[2020-01-30 03:07] ranebrown commented on #624
@Nudin do you have the ability to add maintainers?

[2020-01-30 03:10] ranebrown commented on #353
Vimwiki remaps tab for the `vimwiki` filetype for use with tables. You can disable that mapping with a new option (available on the `dev` branch) or create a new mapping that combines the vimwiki and completion mapping. I think the supertab plugin might be an easy way to go about that.

[2020-01-30 21:38] jrop opened #815 "Add highlighting for @user in todo-lists"
I just wanted to start discussion around a potential feature addition: it would be nice to have syntax highlighting in TODO-lists for user assignment.  Say I have the following list:

[code]

Currently, the `- [ ]` is highlighted, but the `@john` and `@jane` snippets are the same color as plain text.

(Obligatory: Thank you for developing such a great VIM plugin!)

[2020-02-01 16:11] rpietro commented on #812
@ranebrown thanks, I tried both. Unfortunately, none worked. Again, I have another laptop, nearly identical, under the same wifi connection and setup, where there is no delay.

[2020-02-01 17:06] lucasdf commented on #413
hey @ChenWeird ! Have you managed to fix this by using this regex you provided? what did you change exactly?

[2020-02-01 17:49] Nudin commented on #624
Yes, I can. I added @tinmarino and @brennen. At the same time I protected the `master` branch so that only @EinfachToll @ranebrown and me can push to that branch – that allows to hand out rights more relaxed.

[2020-02-01 18:03] ChenWeird commented on #413
Yes, I have applied the regex. Everything is ok.

[2020-02-01 19:26] lucasdf commented on #413
Oh, I see. You used the regex to transform Vimwiki link to Markdown link. I would like to use the Vimwiki link style with the Markdown config. The command `VimwikiBacklinks` is working in the master branch with Vimwiki links in a markdown wiki.

[2020-02-02 01:24] nkakouros opened #817 "Yet another question about setting the filetype for markdown"
Prior to submitting a new issue make sure to complete these steps:

- [x] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.
- [x] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
- [x] Provide a detailed description of the problem i

[2020-02-03 07:56] Rich-YoYo commented on #813
While I understand what you're saying (and it's not my project, so who am I to complain?), the problem I found is interfering with base vim functionality - ie, popup auto-complete menus like spellcheck. It's not that it's clashing with some other plugin or my my own random stuff. As such, it looks to me that the mapping should try and avoid the problem. As it stands, this mapping breaks every sing

[2020-02-03 18:24] llinfeng opened #818 "Opening OneNote links from Vimwiki"
Thanks to [severoraz's post](https://github.com/vimwiki/vimwiki/issues/71#issuecomment-494395082) in Issue #71, I added one more condition to help with opening OneNote links on Windows 10 machines.

[code]

The function above helps Vimwiki to recognize links with `onenote:` prefix, produced by OneNote (or OneNote 2016) when one right-click a page for its link.

One caveat is that the following war

[2020-02-03 21:30] justrajdeep commented on #814
Perfect ... used `%%` and it worked.

[2020-02-03 22:36] #814 closed

[2020-02-05 09:58] mykytak commented on #427
Would be nice to explicitly specify somewhere that `<C-Space>` command (and others like `glx`) works on lists only. I expected it to create both list and checkbox (i.e. ` * [ ] `).
For anyone who faces same problem:
[code]

[2020-02-08 19:13] Shandun commented on #427
glx works for me. ctrl + space does not work. ubuntu 18.04 + vim 8.0

[2020-02-09 02:48] zzhirong commented on #817
Have you try to add `autocmd filetype vimwiki :set filetype=markdown.vimwiki` to your .vimrc?

[2020-02-09 04:40] ChenWeird commented on #795
When pages were moved to  any subfolder, `VimwikiRebuildTags!` did not remove these pages' old tag lines.

[2020-02-10 11:00] #792 closed

[2020-02-10 13:32] ranebrown commented on #813
I was thinking it was related to another completion plugin. I agree we shouldn't break default vim behavior if possible.

[2020-02-10 13:36] ranebrown commented on #817
Take a look at #461. I experimented with adding this capability but it never went anywhere. If you can test out the changes in the linked branch and let me know how it works that would be a good first step to getting it merged.

[2020-02-10 13:39] ranebrown commented on #815
Related to #309

[2020-02-10 15:22] jrop commented on #815
Ah.  No need to duplicate.  I'll close this issue and subscribe to that one.

[2020-02-10 15:22] #815 closed

[2020-02-10 15:53] llinfeng commented on #818
Setting the newer OneNote app as default for `onenote:` protocol gets rid of this warning message.

[2020-02-10 15:53] #818 closed

[2020-02-11 14:30] P4ndemic opened #820 "FeatureRequest - Progress indication for lists"
Similar to what org mode provides in emacs providing a progress indication for a list

As an example:

* TODO some title [3/4]
 - [X] first
 - [X] second
 - [X] third
 - [ ] forth

In org mode by adding [/] to a header it automatically updates with the progress of your list items

Would be great to have a similar functionality.

It's especially useful using folds to get an overview of still open t

[2020-02-11 20:13] ionescu77 commented on #623
I am also using markdown, and diary (and `:VimwikiDiaryGenerateLinks`).
For anyone landing here and experiences the same issue as above

It works as expected. In the vimwiki help there is a section about `list_margin` parameter.

After I have set it to zero (as recommended in the help), then the indentation for the links dissapeared and I can render the links in gollum and github wiki.

In my case

[2020-02-11 20:14] ionescu77 commented on #623
Thank you all for this great tool! 🙌🏼

[2020-02-16 14:43] agaAdams opened #821 "is it possible to change the way vim-wiki names linked files?"
The file name created via :VimwikiFollowLink is usually equal to the word under the cursor or the word(s) currently marked.
I would like to change the name of the target wiki page to sth like: "%Y%m%d%H%M%S.md"
Is this possible?

[2020-02-16 21:06] rpietro commented on #812
found the problem in my init:

[code]
although I still don't understand the reason why this line  was causing the delay

[2020-02-16 21:06] #812 closed

[2020-02-17 06:46] #809 closed

[2020-02-17 06:47] electronblue opened #822 "Disable need for two spaces for linebreak in vimwiki"
Version: 2.4.1

Vimwiki requires you to insert two spaces at the end of each line if you want it to be interpreted as a break for HTML conversion. Is it possible to deactivate this feature so that no extra spaces at the end of each line are needed?

[2020-02-17 13:57] ranebrown commented on #821
Maybe try something like [Ultisnips](https://github.com/SirVer/ultisnips)?

[2020-02-17 13:58] #806 closed

[2020-02-19 03:15] hq6 commented on #802
@carugnom You are welcome to update the documentation through a PR if you think there is more clear wording.
I suspect changing the command name may break other people's workflows, but more clear documentation is always a plus.

[2020-02-23 17:57] hedich opened #823 "Archive todo lists"
Would be nice to have for Vimwiki, was using it back when i was on Sublime text with [PlainTask](https://packagecontrol.io/packages/PlainTasks) they had it so you could put the archive under the list or in a separate file, really great way to keep track on what has been done and to keep your current list from getting to big with things you already completed.

![up](https://user-images.githubuserco

[2020-02-24 12:30] ranebrown commented on #823
#391 was an attempt to do something similar but it hasn't been worked on in a while.

[2020-02-24 13:12] bousch commented on #818
Thanks, when running vimwiki in the WSL bash terminal the command above does not work because then you have to escape the ampersands. I use the following command in this case:

    !cmd.exe /c start "" "' . substitute(onenote_link,"&","^&",'g') . '" 2> /dev/null

When running vimwiki in termux on Android you can use termux-open:

    !termux-open '" . onenote_link . "'

[2020-02-24 13:27] llinfeng commented on #818
@bousch Looks good! Would you mind sharing the full function as defined for WSL bash and/or termux? I tried for 10 minutes and did not get it to work.

[2020-02-24 13:34] f-dj commented on #237
Can confirm that it works in most cases, but still does not work with whitespaces. Is this expected behaviour?

I mean, I was surprised that whitespaces in links work in the first place. But shouldn't the renaming work also for consistency if you are allowed to generate them automatically (by going to visual mode, select multiple words, hit enter)? Feels like a minor bug.

[2020-02-24 14:06] bousch commented on #818
This is the complete function I use atm. Note I currently only use vim in WSL or Termux so I removed the original command. For WSL I had to add the error redirection to /dev/null to suppress some output in vim.

    function! VimwikiLinkHandler(link)
        let link = a:link
        let islink = 0
        if link =~ '^local:.*'
            let islink = 1
            let local_dir = matchstr(link,

[2020-02-24 14:11] bousch commented on #818
BTW I define uname in the beginning of my vimrc (looks a little messy, this could be improved I guess):

    let OS=substitute(system('uname -s'),"\n","","")
    let uname=substitute(system('uname -o'),"\n","","")
    let unamea=substitute(system('uname -a'),"\n","","")

    function! RunsInWSL ()
      return g:unamea =~ "Linux" && g:unamea =~ "Microsoft"
    endfunction

[2020-02-24 14:17] f-dj commented on #306
Are there any plans to implement this? Or is it already implemented by now?

[2020-02-24 14:37] bousch commented on #818
Links need to be surrounded by square brackets but I just noticed that not all links work. Not sure why yet.

[2020-02-24 14:57] llinfeng commented on #818
@bousch Thanks a lot! Which emulator do you use for WSL? I use [`wsltty`](https://github.com/mintty/wsltty) as it permits mouse-clicks. However, when triggering a `[link-tag-text](onenote:xxx)` link from WSL-Vim, the terminal Vim is rendered poorly: whatever that did not change (including background color) will be fully black. Moving lines up and down will reveal each line at a time, and resizing

[2020-02-24 14:57] f-dj commented on #237
I opened PR #824 to make the `find_files` function work for filenames with whitespaces. However, on master the `split` method already took `'\n'` as  2nd parameter. So it should only affect the dev branch.

Would be good to merge this PR anyway IMO, so that the dev branch is as functional as master. Also, this prevents a bug from being introduced if dev is eventually merged into master.

[2020-02-24 19:07] luroc opened #825 "Autogenerated anchor link produces 'invisible' link"
_syntax: markdown - no other config - V 2.4.1_

I have a long markdown file of notes that are indexed by number and I want to cross reference them by anchor links. If I just type the index number and let vimwiki autogenerate the anchor link it produces a "invisible" link, a link without link text that disappears when not hovering above it:

`#123 <Esc> <CR>` produces `[](#123)`

 I know I could pr

[2020-02-26 05:14] ranebrown commented on #306
Not to my knowledge. I'll reopen for now so this doesn't get lost.

[2020-02-28 11:29] mowgli opened #826 "URL link in description with added </dd>"
Prior to submitting a new issue make sure to complete these steps:

- [x] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.
- [x] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
- [x] Provide a detailed description of the problem i

[2020-02-28 17:39] ibnishak commented on #773
For those who want to make the links compatible with **markor** but not want to install **dev** branch.

- Open the location where vimwiki plugin is installed. If you are using [vim-plug](https://github.com/junegunn/vim-plug), the location would be `~/.cache/nvim/plugged/vimwiki/`
- In the location, open the file `autoload/vimwiki/markdown_base.vim`
- In the function `s:normalize_link_syntax_v()`,

[2020-03-06 12:34] nkakouros commented on #817
I just tried the multi_ft branch and it works great so far! The only markdown plugin that I couldn't get to work is [this](https://github.com/ncm2/ncm2-markdown-subscope), but I think its own issue.

It would be great (I think) to have that branch merged. The concern that there will be a lot of conflicts with other filetype plugins that was mentioned in #461 is, I think, up to the user to decide w

[2020-03-10 02:02] BSDxxxx opened #827 "<TAB> conflict issue in insert mode"
.vimrc:
[code]
`:VimwikiShowVersion`: Stable version:'2.4.1'

I wish ```<TAB>``` do auto-complete in markdown files in insert mode (just like it worked on other filetypes), but vimwiki somehow affected it.

![123](https://user-images.githubusercontent.com/59258592/76487172-8d61ff00-645c-11ea-9ce2-51cc43bb75dc.gif)

If I Inactivate vimwiki plug, the auto-complete function will work fine.

So, how d

[2020-03-11 19:37] hackabletype opened #829 ":VimwikiCheckLinks not tracking Markdown style links."
Prior to submitting a new issue make sure to complete these steps:

- [x] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.

~I'm not a vim script developer. I wanna help, so here's a bug report. On cursory glance, it doesn't look like `dev` has this issue fixed.~

Edit: figured out how to

[2020-03-11 19:57] eltrufas commented on #422
Hey, I want to work on this feature, but I wanted to ask about behavior first. Should I:
* Simply merge any adjacent block quotes: The disadvantage here is it'll break existing documents and it would make cases where you actually want multiple block quotes tricky.
* Make sure the lines inbetween have at least 4 spaces. This is iffy because some people (such as me) have their editor set to trim tra

[2020-03-11 20:14] waxlamp commented on #422
I like this idea. The email style syntax makes more sense to me. FWIW, this is how Markdown Here enables both single-line and multi-line blockquotes.

[2020-03-12 06:01] BSDxxxx opened #830 "Changing .md filetype to vimwiki cause other markdown plugin not working."
.vimrc:
[code]
`:VimwikiShowVersion`: Stable version:'2.4.1'

How to make markdown plugin (such as [masukomi/vim-markdown-folding](https://github.com/masukomi/vim-markdown-folding)) works in vimwiki filetype?

[2020-03-12 14:46] f-dj commented on #367
Yes, I am also very desperate for that feature! Made everything work for my use case by tweaking configs, writing custom converter scripts etc. This is the ONLY feature I can not get to work the way I want!!

[2020-03-12 15:16] bratekarate opened #831 "Feature Request: Support GFM anchor links inside wiki files"
Prior to submitting a new issue make sure to complete these steps:

- [x] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.
- [x] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
- [x] Provide a detailed description of the problem i

[2020-03-12 21:29] hackabletype commented on #829
Sorry, after figuring out how to install the dev branch and testing with vimplug, it appears that this issue has been sorted.

[2020-03-12 21:29] #829 closed

[2020-03-13 02:50] #830 closed

[2020-03-15 09:59] #827 closed

[2020-03-15 21:30] waxlamp opened #832 "Spaces in filenames trip up VimwikiRebuildTags command"
Default syntax. No special options set. `:VimwikiShowVersion` says "Unknown version"; I'm building mine off of the `dev` branch as suggested in the docs.

I have many wiki files with spaces in the names. When I run `:VimwikiRebuildTags` I get an error `Can't open file /home/roni/vimwiki/personal/A` (referring to the file `A Wizard of Earthsea, by Ursula Le Guin.wiki`).

I believe I could fix this

[2020-03-17 18:14] tankorsmash opened #833 "gl# is not mapped, while gl* and gl- are"
- [x] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.
- [x] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
I'm using the markdown format.

[code]

I've also disabled all other plugins (commented out all the `Plug ...` lines save

[2020-03-18 01:01] yonathanF commented on #353
Any idea when this will be in master?

[2020-03-21 15:46] thevan96 opened #834 "How to insert file(link) exist ?"

[2020-03-21 17:09] ubitux opened #835 "Pressing enter on the dash of a markdown list causes an error"
How to reproduce:
- create a new markdown file
- write `- hello` in it
- press `<enter>` on the `-`

This causes the following error:
[code]

Content of `~/.vimrc`:
[code]

`:VimwikiShowVersion`:
[code]

The issue is also reproducible with `master`.

[2020-03-21 17:24] ubitux opened #836 "Default Vim packages install does not deploy the documentation"
The documentation states the following for a "Vim packages" install:

[code]

While this does actually work to enable VimWiki, `:help vimwiki` and similar commands do not work: `E149: Sorry, no help for vimwiki`

This is specific to the "Vim packages" install: installing VimWiki through `vim-plug` does enable access to the doc.

`~/.vimrc`:
[code]

`:VimwikiShowVersion`:
[code]

The issue is also

[2020-03-23 00:07] Andreilys commented on #836
+1, I have the same issue although my vim version is

[2020-03-23 08:32] ubitux opened #837 "Add a command to extract <title> from external links"
A feature I miss in Vimwiki is the ability to name external links in a more meaningful way by basically remotely query the URL to extract the `<title>`.

One typical use-case is that I tend to aggregate many external links into my notes. Unfortunately, many URLs have no meaning whatsoever. Pick for example Youtube, where I sometime come across a music I want to downl^Wbuy. I need to manually write

[2020-03-23 09:19] ubitux opened #838 "Introduce a sub-header for every sub-directory in VimwikiGenerateLinks"
`VimwikiGenerateLinks` is a nice starting tool for maintaining automatically an index based on the file tree. Unfortunately, the proposed layout is pretty unusable. Introducing a sub-header for every sub-directory would helps the readability a lot.

Here is an example (with Markdown markup):

[code]

[2020-03-23 11:26] ranebrown commented on #836
See `:h helptags`. Most third party plugin managers run that automatically but I don't think the built in vim packages does.

[2020-03-23 11:31] ranebrown commented on #836
I added a note to the readme. Reopen or comment if there is something else going on.

[2020-03-23 11:31] #836 closed

[2020-03-23 11:33] ranebrown commented on #835
I've noticed the same behavior.

[2020-03-23 11:43] ubitux commented on #836
Why not document to execute something like `vim -c 'helptags ~/.vim/pack/plugins/start/vimwiki/doc' -c quit` (not sure if there is something simpler) since the documentation already hardcode that pack path?

The proposed patch is a bit like, "You did half the installation, now here is a doc you need to figure out the rest by yourself", while the command has nothing specific to the user setup.

[2020-03-23 11:46] ranebrown commented on #833
Those mappings are [defined in a loop](https://github.com/vimwiki/vimwiki/blob/53301fdf4df65b308a6f3e8c77b567121456d1e1/ftplugin/vimwiki.vim#L486-L494) using only valid list characters. For markdown syntax `#` isn't a valid list character. You could change the definition of the `bullet_types` variable or the definition in `syntax/vimwiki_markdown.vim` and it should add that mapping if you want.

[2020-03-23 11:46] #833 closed

[2020-03-23 11:53] ranebrown commented on #836
Sure

[2020-03-23 11:55] ranebrown commented on #834
No idea what you are asking here. Please add more information.

[2020-03-23 11:56] ranebrown commented on #831
This is something I've been wanting to fix as well, just haven't had the time. If you want to open a PR that would be great.

[2020-03-23 12:01] #821 closed

[2020-03-23 12:04] #777 closed

[2020-03-23 14:19] hulmakerik opened #839 "AsciiDoc syntax support"
VimWiki currently ships with 3 syntaxes: VimWiki, Markdown, and MediaWiki. Would it be possible to add an AsciiDoc (adoc) support?

[2020-03-23 14:27] tankorsmash commented on #833
Ah that makes sense. I didn't look past seeing `#` in bullet_types. Thank you for explaining this to me!

[2020-03-23 14:29] ranebrown commented on #839
I would say it is highly unlikely unless someone like yourself adds and maintains it.

[2020-03-23 14:46] hulmakerik commented on #839
Ok, let's hope some hero appears. But still, I very much appreciate your work.

[2020-03-23 14:46] #839 closed

[2020-03-23 16:00] ratfactor commented on #839
@hulmakerik - I started adding AsciiDoc support, but it's a pretty big effort due to the way the syntax is so integral to the way VimWiki works.

I'm hesitant to point anyone to this (particularly on VimWiki's own issue tracker), but I did take the plunge and write my own AsciiDoc wiki plugin for home use (which I use daily): https://github.com/ratfactor/vviki

The above is obviously nowhere near

[2020-03-23 16:28] hulmakerik commented on #839
Oh cool! I will sure check it out! This small thing I wanted, thank you :grin:

[2020-03-23 16:35] tinmarino commented on #624
@Nudin It seems I am not collaborator (I cannot add tags nor accept PR on dev)

[2020-03-24 00:07] bratekarate commented on #831
If I find the time I may be able to. Haven't checked out the responsible code yet though and don't know how complex this change would be.

[2020-03-24 07:36] #834 closed

[2020-03-24 19:06] JazzyPierrot commented on #361
Hi, here is a small workaround to work with, which might be of interest to some people.
Using pandoc's vimwiki reader, it is possible to convert vimwiki files to html (or whatever format supported by pandoc) with a lua-script intercepting and modifying pandoc's native format in-between.

Below is a lua script that detects @citation and [@citation] (in-text and normal citation with author) and -@ci

[2020-03-24 20:19] brennen commented on #837
This might be a better fit for something in [utils](https://github.com/vimwiki/utils).

[2020-03-25 02:29] bratekarate commented on #831
Done, #840. Not sure if that's the way to go, but it works. Tell me if it should be improved, don't know if I find any more time soon.

Also (although unrelated), #828 is still open and ready to merge.

[2020-03-26 04:27] yaohunzhanyue opened #841 "Please support another standard markdown h1 syntax for diary generate links"
vimrc:
[code]
example diary file 2020-03-25.md:
[code]
expect diary generate links:
[code]
actually get these:
[code]

[2020-03-26 08:31] ubitux commented on #837
I managed to hack something:

[code]

So If i have the following under my cursor:

[code]

And I press `<Leader>u`, I get:

[code]

It doesn't support the vimwiki language, nor escape properly titles, but it's already very useful for me as I paste a lot of URLs in my wiki.

[2020-03-26 09:15] spuny commented on #745
Ok this is still there.
For more info here are those errors:
`Error detected while processing function vimwiki#lst#kbd_o[7]..<SNR>92_get_last_line_of_item[2]..<SNR>92_get_level:
line    7:
E121: Undefined variable: rx_bullet_chars
E116: Invalid arguments for function vimwiki#vars#get_syntaxlocal(rx_bullet_chars)))-1
E116: Invalid arguments for function matchstr(getline(a:lnum), vimwiki#vars#get_sy

[2020-03-29 08:32] tiev opened #842 "Long time no release"
As of today, the diff between `master` and `dev` is huge.

[code]

And I have faced the issue of `:VimwikiBacklinks` not working for markdown syntax, which is fixed with this PR https://github.com/vimwiki/vimwiki/pull/529

Can we release the new version?

[2020-03-29 19:25] agilmor opened #843 "Is it possible to register a wiki editing g:vimwiki_list?"
I know that I can create/register wiki on the fly, but I would rather disable that option but to create/register wikis with this kind o command:
[code]
My final goal is trying to use vimwiki to edit the github wikis of my projects that I clone as submodules of my project always in the same subdir.

So far the command worked in vimrc, but not if I run it from elsewhere.
That is, the command worked

[2020-03-31 12:13] chinwobble opened #844 "Duplicate toc of contents with markdown and prettier"
I described the issue in this issues.

https://github.com/prettier/prettier/issues/7909

Solution:
Make the toc already exists smarter.

[2020-03-31 13:32] bratekarate commented on #831
@ranebrown have you checked out my PR yet?

[2020-04-02 10:26] ranebrown commented on #831
This is actually a duplicate of #666. [This comment](https://github.com/vimwiki/vimwiki/issues/666#issuecomment-570753457) has some useful info.

[2020-04-02 19:48] mgdreamingstar opened #845 "Disable <Tab> in insert mode, which confilct with coc-nvim"
in insert mode, <tab> is mapped to `vimwiki#tbl#kbd_tab()`, however I'm using coc-nvim to complete words which using <tab>.
How to unmap <tab> to the func? I tried to map another keymap to it but doesn't work.

[2020-04-02 20:42] ranebrown commented on #845
If you switch to the dev branch there is an option to disable groups of key mappings.

[2020-04-03 06:50] mgdreamingstar commented on #845
Thank you @ranebrown , this solves the issue.

[2020-04-03 18:00] dathinaios commented on #830
Did you find a solution for this? I am having issues with folding when using the `vim-markdown` plugin.

[2020-04-03 18:50] ranebrown commented on #841
Do you see the same thing on the `dev` branch? There is also an option on the `dev` branch `diary_caption_level` that controls how the headers are generated.

[2020-04-03 18:54] ranebrown commented on #822
Without using an explicit indicator (spaces, blank line, `<br>`) people can't limit their line length with something like `textwidth` and still get the correct html output.

[2020-04-03 18:56] dathinaios commented on #830
Did you need to do anything to enable it? Cause in my case there are no folds.. 🤔

[2020-04-03 19:37] ranebrown commented on #817
I went ahead and merged this so let me know if you run into any issues.

[2020-04-03 19:37] #817 closed

[2020-04-03 20:55] chinwobble commented on #844
For prettier, it wants the blank line after the headings.

However for vimwiki, it expects no blank line after the `#Contents` heading.

This causes a bug where duplicate table of contents are created.

If my document looks like this. I don't want vimwiki to create a duplicate. I want it to update the existing contents section.

[code]

[2020-04-03 22:34] ranebrown commented on #844
I think this behavior has changed on the dev branch. Have you tried that?

[2020-04-03 22:39] chinwobble commented on #844
yea I tried on dev branch yesterday and still got this issue.

[2020-04-04 12:02] ranebrown commented on #844
Using the latest dev branch and a minimal vimrc I get the following output from `VimwikiTOC` which includes a blank line after `Contents`

[code]

[2020-04-05 03:40] yaohunzhanyue commented on #461
@ranebrown How to set multiple filetypes?

[2020-04-05 04:18] yaohunzhanyue commented on #841
@ranebrown The problem is that vimwiki can't detect `===============` as caption, it will detect '#' symbol, but in markdown syntax, these two are the same.

[2020-04-05 04:31] yaohunzhanyue commented on #830
@dathinaios I suggest you use vimwiki dev branch, and set filetype to `markdown.vimwiki`. Then follow vimwiki help doc set custom folding syntax.
Then you can load other markdown folding plugin. I'm using vim-pandoc by the way.

[2020-04-05 08:58] yaohunzhanyue opened #846 "Wrap bug"
Branch: dev
Revision: 78a41b7
Date: 2020-04-03 13:31:36 -0600
syntax: markdown

---

set nowrap in vimrc --> open vimwiki file --> file is wrapped --> exec ':source $MYVIMRC' --> nowrap

[2020-04-05 11:52] ranebrown commented on #841
I see. This is a duplicate of #209. Sorry to say it isn't really a priority though.

[2020-04-05 11:52] #841 closed

[2020-04-05 11:54] ranebrown commented on #846
Have you tried this with a minimal vimrc as described [here](https://vimwiki.github.io/vimwikiwiki/Troubleshooting.html)?

[2020-04-05 12:31] ubitux opened #847 "Support markdown multi-line highlight for constructs with inline-content"
According to latest CommonMark spec as of `0.29` (https://spec.commonmark.org/0.29/#example-635), the following example should be highlighted:

[code]

With Vimwiki, the `conceal` is not effective here, which hints me that the highlight is not set (would be nice to have a different color for this markup by default).

Similarly, the following doesn't work (which is the one I use since it displays i

[2020-04-05 14:36] ubitux commented on #36
I've been using Vimwiki for a few weeks now, and the lack of the sidebar is definitely my biggest issue so far. I tried most of the stuff mentioned in this thread and did some thinking on what an optimal workflow would look like. My naive initial thoughts were around a [better automated index](https://github.com/vimwiki/vimwiki/issues/838) but with hindsight, this is not really addressing the core

[2020-04-05 15:11] yaohunzhanyue commented on #846
@ranebrown You are right, this is not vimwiki's problem.

[2020-04-05 15:11] #846 closed

[2020-04-05 15:47] yaohunzhanyue commented on #209
@ranebrown Sorry to bother you again. I find that vim default syntax highlighting can recognize `====` type, combine to the lastest merge `multi_filetype`, if I set
[code]
.md will be set to `vimwiki.markdown`, but this would not use vim' default syntax highlighting.

if I change that to
[code]
.md will be set to `markdown.vimwiki`, and `====` would be highlighted by vim default syntax hl. However

[2020-04-05 18:40] brennen commented on #822
@electronblue see `:help g:vimwiki_text_ignore_newline`.  I believe this should do what you want.

[2020-04-05 18:40] #822 closed

[2020-04-05 18:58] ranebrown commented on #209
Vimwiki doesn't know about the regex pattern used to highlight the setex header so there is no way it can jump back to a header defined by another plugin or syntax file.

[2020-04-05 18:59] brennen commented on #731
This seems like a reasonable feature request, though I'm not quite sure about the proposed syntax for the filtered transclusion.

The backlinks thing would also be nice...

(It seems like this feature could currently be implemented with `VimwikiWikiIncludeHandler`, but probably not trivially for most users.)

[2020-04-05 19:13] dathinaios commented on #830
@yaohunzhanyue Thank you for your answer 🙂

I followed the instructions but it is not working and I am not even sure what I am trying to achieve. Why am I using `pandoc`? 🤔

Here is what I have in my `vimrc`:

[code]
I had it working with the built in folding of `vimwiki` but the folding behaviour was really hit and miss so I am looking for an alternative.

[2020-04-05 23:58] dathinaios opened #848 "Folding not functioning properly in `list` mode"
Branch: dev
Revision: 78a41b7
syntax: `markdown`

my `.vimrc` settings:

[code]

Folding is not functioning properly in `list` mode (I believe I had similar issues with `expr` but I haven't test it). To reproduce:
[code]
    "this is some code".postln;
[code]

Folding behaves like so:

![example](https://user-images.githubusercontent.com/481589/78513104-3e7c6080-77a1-11ea-8f44-85c2419c37ab.gif)

[2020-04-06 01:57] yaohunzhanyue commented on #830
@dathinaios I use pandoc for it's folding function. Theoretically, You can replace that to any other folding plugin you want (maybe you want vim-markdown).
My vimrc:
[code]

[2020-04-06 13:00] BSDxxxx opened #849 "<Enter> create link bug with Chinese characters"
neovim-qt, windows10
syntax: markdown
Branch: dev
Revision: 78a41b7
Date: 2020-04-03 13:31:36 -0600

---

original text:
[code]
press `<Enter>` on each word:
[code]
As you can see, pure four or more Chinese characters have missing front part.

[2020-04-06 18:06] dathinaios commented on #830
Thank you @yaohunzhanyue 🙂

It is almost working! The folding etc. is working fine (with even added fancy formatting from `pandoc`). Unfortunately the link display functionality of `vimwiki` is gone.

So I get this:

![1](https://user-images.githubusercontent.com/481589/78590354-9e264a80-7839-11ea-9433-e5cbb9373ce5.png)

Instead of the usual:

![2](https://user-images.githubusercontent.com/481589/

[2020-04-06 18:13] dathinaios commented on #830
Ah nevermind. It works fine as long as I remove the `vim-pandoc-syntax` in this line:

[code]
Shame cause I really liked the formatting from pandoc... But that's good enough for now. Thanks! 👍

[2020-04-07 04:24] yaohunzhanyue commented on #830
@dathinaios Thanks for the vim-pandoc-syntax tip, really useful.

[2020-04-07 16:59] agilmor commented on #843
Thanks for the hints!

[2020-04-08 08:22] chinwobble commented on #844
I have ale and prettier installed and I get issues.
Here's my vimrc
https://github.com/chinwobble/dotfiles/blob/master/.vimrc

[2020-04-08 10:33] benibilme commented on #839
Hello,
I really would like to use asciidoc, I keep my personal notes in asciidoc. I write in vim. Can vimwiki use an external helper such as asciidoctor..It is very mature product. Many static site generators are using it. It will be tremendeus effort to implemet for vim viki, but external tool may help if possible..

[2020-04-09 09:28] BSDxxxx opened #851 "What's the best way to export releated markdown/wiki files?"
Is there a convient way to exort notes under these circumstance?
1. notes tagged with `tagA`
2. notes under header `headA`

[2020-04-09 15:48] ratfactor commented on #839
The problem isn't in the exporting from AsciiDoc to HTML or other formats (which is what Asciidoctor provides), it's the internal parsing and detection of the wiki syntax within VimWiki.  There is a lot of vimscript in the plugin that does nothing but handle the chosen wiki syntax.  Sadly, there is really no way to get around this.

[2020-04-11 17:48] guntari commented on #624
I've been using vimwiki work-daily I'd say about 7, 8 or more years now. Ever since CamelCase was the default for links. I actually was so fond of camel case and so distressed by its loss that  I forked your code for my own purposes a long while back. I'm interested in trying my hand at maintainer.  I absolutely love vimwiki, it has been an invaluable daily core tool for me. I've been a vi and vim

[2020-04-11 20:09] phaazon opened #852 "Provide customization to remove keybindings"
Hello,

Is it possible to disable some keybindings? The `<leader>ww` clashes with my `<leader>w` (Easymotion word), and then make my keybinding slow.

[2020-04-12 00:52] BSDxxxx commented on #852
Try the dev branch , there's a variable for this:
[code]

[2020-04-12 03:28] BSDxxxx opened #853 "Markdown links can't be concealed"
vimwiki version:
Branch: dev
Revision: 78a41b7
Date: 2020-04-03 13:31:36 -0600
syntax: markdown
![image](https://user-images.githubusercontent.com/59258592/79059610-83772a00-7cae-11ea-8cb6-f3aa61e6a58b.png)

[2020-04-12 09:20] yaohunzhanyue commented on #827
#845

[2020-04-12 13:46] phaazon commented on #852
Cool, thanks!

[2020-04-12 17:59] wolterhv opened #854 "Support for wikis without adding path to g:vimwiki_list"
This is a request to support wikis without needing to add them to `g:vimwiki_list`. Instead the information could be

- contained in the vimwiki index file
- pointed at by the index file
- stored in a hidden file (e.g. `.vimwiki`)

Information such as the wiki syntax could also be stored in file extensions, like so:

- page.wiki (default format)
- page.md.wiki (Markdown format)
- page.media.wiki (

[2020-04-13 10:15] phaazon commented on #852
Hm, looks like there’s some bugs… I want to disable the global mapping but I still want the local ones… No way to do that?

[2020-04-13 11:05] BSDxxxx commented on #852
@phaazon What’s “the local ones” mean? Specify your request pls.

[2020-04-13 15:18] phaazon commented on #852
For instance, `+`, `h`, etc. while in a `vimwiki` buffer.

[2020-04-14 01:13] mgarort opened #855 "Fenced code block in vimwiki syntax"
Hi,

I use both inline code and fenced code blocks in my notes. In vimwiki syntax, the inline code is represented with a couple of back ticks (as in    \`my code\`   ) and code blocks with three brackets

[code]

Even though they both represent code, they end up being displayed quite differently in the HTML. Inline code is rendered with a `<code> </code>` element,  with very nice font and a gray b

[2020-04-14 01:22] mgarort commented on #855
In relation to the previous question, is there a way to indicate to vimwiki that some text should be written to the HTML file directly?

I am thinking that this would be a nice way to fine-tune the display of the HTML when the vimwiki syntax is not detailed enough to make it look as I would like.

Of course this is not something I would do for every note, as it would make note-taking harder, but i

[2020-04-14 01:47] mgarort commented on #640
Hi, one question on this topic: what would be the problem with using `<b> </b>` to define exactly where you want the bold to happen? I am able to bold only parts of words like this.

[2020-04-14 05:28] shihabdider opened #856 "CDN MathJax isn't working on HTML pages"
Can't seem to get MathJax to work on my vimwiki installation (I'm using the online version of MathJax on CDN)

Here's my default.html:

[code]

But the output is not rendered: `$\frac {1} {1 + \alpha} $` shows up as `\(\frac {1} {1 + \alpha} \)`

[2020-04-14 23:00] Datamance opened #858 "[Question] Prevent link conceal in insert mode, while concealing in normal mode?"
Hi there,

This is a question and not so much a bug report (though... it could be depending on your answer...).

Right now, when I create links manually with this kind of syntax
`[[https://www.example.com/|The Link Text]]`
in insert mode, vimwiki starts trying to create the link "right away" and eats the special characters as I'm typing them; formatting the text as I go.

This is not preferable be

[2020-04-15 04:51] Datamance commented on #858
Update: After [combing through the docs](https://github.com/vimwiki/vimwiki/blob/master/doc/vimwiki.txt) I've found that the word I was looking for was "conceal", and I indeed found the global flag responsible for link concealment.

I'm rather new to vim - is this something I can hack on top of the plugin with vimscript, or would I need to change how the plugin itself works to get the desired beha

[2020-04-15 05:35] Datamance commented on #858
Nevermind, I figured out what was going on - it turns out the indentLine plugin breaks vimwiki's intended behavior here by forcing `concealcursor=inc`; the workaround is noted [here](https://github.com/plasticboy/vim-markdown/issues/395#issuecomment-436719952). Sad!

[2020-04-15 14:10] graywolf commented on #640
Mainly that the tags are still visible there and not hidden:

![2020-04-15-160755_222x62_scrot](https://user-images.githubusercontent.com/790463/79346980-91cd7c00-7f22-11ea-8208-3f2a32edea94.png)

Compare

[code]

with cursor being on line `_CURSOR_`.

[2020-04-15 14:44] Nudin commented on #624
@tinmarino I added you on Feb 1st. But you still haven't "accepted the invite". You should have gotten an email or similar with a link to accept the invite.
You can also try this link: https://github.com/vimwiki/vimwiki/invitations

[2020-04-15 15:13] tinmarino commented on #624
@Nudin, I just did not see it, it expired. Could you invite me again, so I don't have to make PR, sorry for the annoyance ?

[2020-04-17 01:35] mgarort commented on #855
Not sure if this is the best solution but I found a hack that works for me.

The reason why fenced code blocks were not displayed the same as inline code is that the former were rendered as a `pre` element, whereas the latter was rendered as a `code` element. Therefore, I just copied the style of the `code` element in the HTML template and made it the style of the `pre` element as well.

So I chan

[2020-04-17 01:35] #855 closed

[2020-04-17 16:02] y1rah opened #860 "Will the VimWiki Support Preview?"
Awesome work the vimwiki. While searching in doc, I found that vimwiki seems to lack a support of preview in pum (popup-menu).

Was this functionality an intentional action with design?

Or I really hope this feature lands.

[2020-04-17 20:22] thecliguy commented on #638
@Nudin I'm almost reluctant to ask this question... Given what's going on in the world at the moment, this could either be a great time to do a release (people stuck at home with not much to do) or the worst possible time (people have bigger concerns occupying them right now). What are your thoughts on a doing a release?

[2020-04-17 23:17] tinmarino commented on #852
Have you tried putting `0` to `all_maps` and `global` ?

[code]

[2020-04-17 23:20] tinmarino commented on #853
It is concealed for me. Sure you don't have a `modeline` in your file and your `:set filetype=vimwiki` ?

[2020-04-17 23:26] phaazon commented on #852
Yeah, it seems to disable the markup keybindings, and looking at the `:help`, it seems to be legit. I think those keybindings are actually in `global`. :(

[2020-04-18 00:19] tinmarino commented on #858
@Datamance did you fix it ?

[2020-04-18 00:30] tinmarino commented on #752
__Html:__  Add the [video](https://www.w3schools.com/html/html5_video.asp) html tag
__Markdown:__ It is not currently supported in markdown, there is a image link trick in [Stackoverflow](https://stackoverflow.com/questions/11804820)
__Wiki:__ [Need extension](https://www.mediawiki.org/wiki/Extension:EmbedVideo) and just add a link to the mp4
__Pdf:__ No standard support: Only acrobat reader suppo

[2020-04-18 00:30] #752 closed

[2020-04-18 00:37] Nudin commented on #638
@thecliguy Yes, I would very much love to make a release. I just finished a release for one of my other project and will hopefully finish the mostly done release of yet another project in the next few days. After that I will devote time to vimwiki. I already started reviewing all the patches that came into `dev` since the last release – only 12 commits still to review. I will then take a look if a

[2020-04-18 01:28] BSDxxxx commented on #853
@tinmarino You are right. This is caused by the following settings in my vimrc:
[code]
The markdown syntax conceal should be handled by pandoc.vim plugin rather than vimwiki.

[2020-04-18 01:28] #853 closed

[2020-04-18 17:10] tinmarino opened #861 "Add travis tests"
To automatize testing on github.

Using the great test framework done by @ranebrown.

__Permits:__ faster accepting pull requests

[2020-04-18 18:13] tinmarino commented on #774
Closed by your PR 778. Nice share @kaphula.

[2020-04-18 18:13] #774 closed

[2020-04-18 18:14] tallguyjenks opened #862 "RMarkdown files being treated as markdown even with `let g:vimwiki_global_ext = 0`"
Prior to submitting a new issue make sure to complete these steps:

- [X] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.
- [X] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
- [X] Provide a detailed description of the problem i

[2020-04-19 17:22] tetrodoxin opened #863 "Markdown again: italic/bold issue"
I'm facing again the problems of #318, nut I'm using version 2.4.1.

My config is like this:
[code]

Now, when I try `:echo vimwiki#vars#get_wikilocal('syntax')` I correctly get `markdown'.

But `**bold text**` is displayed as **`*bold text*`**, same with underscore.
I expect the behavior as described in #318 but can't get it to work. Even trying to change `vimwiki/syntax/vimwiki_markdown.vim` wit

[2020-04-19 19:33] ranebrown commented on #861
Great idea! I've been meaning to do this for a while but haven't had the time.

[2020-04-19 19:39] ranebrown commented on #863
This has been fixed on the dev branch which hasn't been merged to master yet (which is the 2.4.1 release currently). See #638

[2020-04-19 19:39] #863 closed

[2020-04-21 21:00] landge opened #865 "Navigation between markdown files not working"
Prior to submitting a new issue make sure to complete these steps:

- [x] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.
- [x] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
- [x] Provide a detailed description of the problem i

[2020-04-21 21:21] kaphula commented on #856
Have you tried different version [like this one](https://docs.mathjax.org/en/latest/web/start.html):
[code]

[2020-04-21 23:05] kaphula commented on #805
So you want a sidebar that has a list of all of the vimwiki articles from your current folder (or wiki?)? This sounds pretty tough. I think it could be achieved if there were an internal vimwiki command to generate the list of links to the articles of the current directory for the html output. You could then use it in combination with `%plainhtml` feature like this:

[code]
The generated links of

[2020-04-22 09:07] landge commented on #865
After commenting out

`" let g:vimwiki_ext2syntax`

from init.vim everything worked fine again. Once it worked, it was even possible to set

`let g:vimwiki_ext2syntax`

again without any negative effects. So, the issue is solved, while I still don't understand why.

[2020-04-22 13:31] mgarort commented on #856
Hi @shihabdider

I have never used the online version, but have you considered running MathJax locally? It's super simple. You just need to clone the MathJax repository:

`git clone https://github.com/mathjax/MathJax.git MathJax`

and then add the following within the `<body>  </body>` section of your HTML template/file.

`<script type="text/javascript" src="/path/to/repos/folder/mathjax/tex-chtml

[2020-04-22 13:50] mgarort opened #866 "Error in code display in ordered lists"
When I write code elements in unordered lists (i.e. bulletpoints), it works fine. However, when I try to write code elements in numbered lists,  I obtain the followin very weird output:

![code_element_error](https://user-images.githubusercontent.com/26173140/79989417-1cc4ee00-84b0-11ea-85f2-723718555349.png)

Does anybody know why this happens and how to avoid it?

Info:

I am using the `vimwiki`

[2020-04-22 14:33] Datamance commented on #858
@tinmarino I didn't fix it so much as work around it, and then promptly abandoned vimwiki for joplin after encountering many frustrating issues like this.

[2020-04-22 14:49] shihabdider commented on #856
Adjusting the default.html didn't help, so I took a peek into the wiki-generated HTML file using chrome's developer tools. Turns out that the HTML files weren't being generated from the template because of a naming issue (`default.html**~** -> default.html` did the trick).

[2020-04-22 14:49] #856 closed

[2020-04-22 15:08] tinmarino commented on #858
Pretty bad new.
__I don't advice you to use Vim__ over Emacs or Visual Studio code. But yes, __I advice you to have only one text editor__ for all the different languages (md, cpp, python). Joplin seems to treat only markdown.
You can try Emacs and orgmode the first and great. It may take years but at the end will pay.

[2020-04-22 15:08] #858 closed

[2020-04-22 15:24] #807 closed

[2020-04-23 14:26] teto opened #867 "No menu 'Vimwiki' triggered on setup_buffer_leave"
Prior to submitting a new issue make sure to complete these steps:

- [x] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.
- [x] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
[code]
- [x] Provide a detailed description of the pr

[2020-04-24 11:39] ScheiklP opened #868 "UltiSnips stops working for extensions set with VimWiki"
Hi,
I have SirVer/ultisnips and honza/vim-snippets in my init.vim (NVIM v0.5.0-nightly-1-gdc0e534).
The snippets work perfectly for both .md and .markdown (CTRL-B for snippet expanding).

Once I include vimwiki and set the extension to .md or .markdown, the one stops working for ultisnips (.md does not work when 'ext':'.md', but .markdown works, and vice versa).
[code]

:verbose imap <c-b> is heal

[2020-04-24 13:23] thezeroalpha opened #869 "Different file extensions for temporary and registered wikis"
It would be nice to allow the user to register wikis in `g:vimwiki_list` with specific extensions, but then only allow creation of temporary wikis with different extensions.

For example, I like my 'main' wiki to have the extension `.txt`, because this makes it automatically and easily readable on any device, so I have it defined as such in `g:vimwiki_list`:

[code]

However, this has the effect o

[2020-04-24 22:30] ranebrown commented on #862
So if you open a file such as `file.rmd` the Vimwiki key mappings are still defined?

[2020-04-24 22:32] ranebrown commented on #865
No sure. I'm going to close this for now but feel free to reopen if you can provide any more info.

[2020-04-24 22:32] #865 closed

[2020-04-24 23:49] jbgriesner opened #870 "Open local pdf files with Zathura"
Vimwiki seems to fail to open links towards local pdf files with my default pdf reader: zathura. Instead it opens pdf files into my browser...
Though I thought to add these lines to my vimrc was enough:

[code]
I observe no error message or anything suspicious.
It just opens my browser even for pdf files.
I know it's a minor problem, but what do you think could be wrong ?

Thanks:)

[2020-04-25 00:08] mgarort commented on #870
Hi,

I'm just a Vim beginner so there's syntax in your code that I don't understand.

However, I created this simple function that opens the HTML file that corresponds to the current buffer, and created a mapping to `<C-h>`  to it:

[code]

It seems similar to what you want to do, so if you change "html" for "pdf" and `firefox` by `zathura` it should work.

Good luck!

[2020-04-25 00:54] tallguyjenks commented on #862
weird, now the Vimwiki key mapping are not working in the file and airline says "rmarkdown" instead of "Vimwiki" now, and im not sure what i changed, and still neither my `Rmd` or `rmarkdown`.snippets files work with the file type... and when im in insert mode it kicks me out to normal mode with this error displayed:

![pic-selected-200424-1753-01](https://user-images.githubusercontent.com/2987282

[2020-04-26 23:56] jkroes commented on #389
I'm glad I found this thread. For anyone who doesn't consistently have an issue with files exceeding their window size but do encounter the line breaking over link's display text, `:set nowrap` is perfect. It doesn't help people like @nambitable, but it's better than nothing.

[2020-04-27 13:03] gerardbm opened #871 "Wrong filetype in markdown files from a Jekyll project"
I updated the plugin and now, when I work with my Jekyll files (posts in markdown), Vim is not setting the filetype that should be: `liquid`.

- I was using the branch `dev`. It is where the issue happens.
- Then I installed the branch `master`, where the issue disappears.
- My vimwiki settings: https://github.com/gerardbm/vimrc/blob/master/vim/.vimrc#L509-L524

Steps to reproduce the issue:
- Usi

[2020-04-27 17:35] jbgriesner commented on #870
Hi,
Thanks for your great answer! It was very helpful!
I didn't investigate more the problem, so I will consider to use your solution.
Cheers,

[2020-04-27 17:35] #870 closed

[2020-04-29 20:18] lpanebr commented on #669
I managed to fix my vimwiki ultisnippets by changing the vimwiki file extension to `.mdvimwiki` and registering it with @ranebrown the `UltisnipsAddFiletypes` tip.

**I did not need** the `let g:vimwiki_table_mappings = 0`.

This is what I added to my vim.init:

[code]

[2020-04-29 20:19] lpanebr commented on #357
I managed to fix my vimwiki ultisnippets by changing the vimwiki file extension to `.mdvimwiki` and registering it with @ranebrown the `UltisnipsAddFiletypes` tip.

**I did not need** the `let g:vimwiki_table_mappings = 0`.

This is what I added to my vim.init:

[code]

[2020-04-30 15:14] x1101 opened #872 "Unable to tab to or follow links in msys2 shell"
- Confirmed issue exists on `dev` as well as on `master`
- Using default syntax, with only this in the config:
let g:vimwiki_list = [{
        \ 'path': '~/vimwiki',
        \ 'diary_rel_path': 'diary',
        \ 'template_path': '~/vimwiki/templates',
        \ 'template_default': 'default',
        \ 'template_ext': '.html' }]

- While running vimwiki in a terminal provided by msys2, tabbing to

[2020-05-01 17:28] x1101 commented on #872
I wish I could post a reasonable solution, but after spending entirely too many hours mucking around, I do have it fixed.

My working theory is that something with msys2 and installing vimwiki from the zip download didn't play nice (I am using pathogen as a manager, and dropping the contents of the zip `.vim/bundles/vimwiki-master`) but when installing using vim-plug, I am back to functional.

[2020-05-01 17:28] #872 closed

[2020-05-03 06:38] brennen commented on #866
I tried reproducing this with a close approximation of the given config and didn't have any luck:

[code]

![Screenshot-2020-05-03-00:32:49](https://user-images.githubusercontent.com/74990/80907611-b45ae580-8cd5-11ea-97d1-ac6e01844680.png)

At a glance though it kind of looks like the culprit might be somewhere in CSS.  Would probably need stylesheet, HTML, and source of test page to be sure.

[2020-05-03 07:02] brennen commented on #515
For whatever it's worth, I use the following page:

[code]

Combined with:

  - [an autocommand to fire a WikiBufReadPostOverrides function](https://code.p1k3.com/gitea/brennen/bpb-kit/src/commit/7597baec2b3f85d148bf7d6a780bf99ffd997fa6/home/.vimrc#L345)
- [this WikiBufReadPostOverrides function to call a script called filter-exec-raw for any page containing a particular string](https://code.p1k3.

[2020-05-03 10:00] madranet commented on #339
---
OSX 10,14,4
nvim v0,4,3
---

I've just run into this same problem today.  For example, when trying to link to a file named `#wanderbury - Wanderbury's Chief.md`, when I highlight the `#wanderbury - Wanderbury's Chief` text and hit RETURN I get:

[code]

[The wiki filenames all begin with _#\<sometag>_ because they were exported from [NValt](https://brettterpstra.com/projects/nvalt/) where the

[2020-05-03 22:58] mgarort commented on #866
Indeed, it was related to my CSS stylesheet. Sorry about that...

Thanks!

[2020-05-03 22:58] #866 closed

[2020-05-06 13:25] davy79 opened #874 "don't conceal markup on current line"
More of a question than an issue...

In my instance of vimWiki running neoVim all markup is concealed... also the current line which is sometimes difficult while editing because you don't see your link brackets, url's are shortened etc.
Then recently I saw a video of vimwiki where the active line disabled the concealing which would be very helpfull.

I read the doc's but can't seem to find an opti

[2020-05-06 18:17] strogiyotec opened #875 "Vimwiki disable vim-surround custom bindings"
Good day, thank you for this awesome plugin. I have a problem with custom mappings for vim-surround plugin. I do use markdown syntax for vimwiki files. Here is my config
[code]
And this is my custom binding for vim-surround
[code]
The idea is : when I press `ysiw*` then this word is surrounded by double starts(*) , it works when I open any file, however as soon as open any  vimwiki's file (by typi

[2020-05-07 16:33] erich0123 opened #876 "E684: list index out of range: 0, when creating a link containing a `.`"
Hello, I'm using the `dev` branch and tried to create a wiki link that contains a `.`.
The link does get created but the `.md` suffix is missing.
I used the following vimrc and get the following error, when creating a link such as `foo.bar` in my index file. I'm using markdown syntax.

Steps to reproduce:
1. Create an `index.md` index file with `<leader>ww`
2. Write `foo.bar`
3. Visually select `f

[2020-05-08 13:02] mgarort opened #877 "Centering images in native syntax"
What is the easiest way to tell Vimwiki, in the native Vimwiki syntax,  to center an image in the HTML display?

Is it to create your custom HTML class of images, and center that class?

Thanks!

[2020-05-08 17:14] napcs commented on #871
I am having this issue too after an upgrade. vimwiki seems to completely take over any markdown file on my system. Unfortunately I tried using the master branch and the behavior still happens.

On the dev branch I traced it to temporary wikis.

In `plugin/vimwiki.vim line 70 you'll find this code:

[code]

The line

[code]

returns true so a temporary wiki gets created, which is why your file happ

[2020-05-08 17:16] napcs commented on #871
I should note that on `dev` branch, adding this to `.vimrc` disables the temporary wiki feature:

[code]

I hope a proper fix comes in.

[2020-05-08 23:54] thchha opened #878 "imap <cr> is prohibiting usage of vimwiki"
Prior to submitting a new issue make sure to complete these steps:

- [X] Checkout the `dev` branch and confirm the issue is present there as well.
      The `dev` branch contains fixes that may not have been merged to `master` yet.
- [X] Post the syntax you are using (default/mediawiki/markdown) **and** your vimwiki settings from your `.vimrc`
Im using the .wiki syntax.
[code]
- [X] Provide a det

[2020-05-09 00:02] thchha commented on #878
I closed the issue, because completely removing my plugin resolves the issue -
In any case, if you have a hint about the missbehaviour I introduced with [myplugin](https://github.com/thchha/sticky_suggestions-vim/tree/94286c01d29e2dfe308f68d5210e11396e49b581) I would greatly appreciate it. Sorry for flooding your issue-tracker.

[2020-05-09 06:24] tinmarino commented on #848
Nice report. Is is a bug, you cannot do much, maybe you best chance make a PR or help other do one by commenting here because it is well defined and isolated.
That for the feedback

[2020-05-09 06:27] tinmarino commented on #848
Actually, some I ewperience some inconsistencies with list too, autonumering after ident ... yours is a good place to start

[2020-05-09 22:56] ranebrown commented on #878
Not really sure what the issue is from your description. Vimwiki maps `<CR>` to handle lists properly. You can disable or remap that behavior if it is a conflict.

[2020-05-09 23:00] ranebrown commented on #876
Probably related to #835. Haven't had a chance to look at this but I'm guessing the regex needs adjusted.

[2020-05-11 20:09] Just-A-Visitor commented on #642
If you are using @gpanders 's `convert.py` (on **Linux**), make sure to mark the script executable by running `chmod +x convert.py` from the directory where `convert.py` resides. (Or include the full path of the script after `chmod +x`.

[2020-05-12 02:25] tinmarino commented on #874
1. __Screenshot:__ Can you add a screenshot. I don't understand: I mean I cannot reproduce it: the line I am editing is not concealed at all ?
2. __Change conceallevel:__ Can you play with `set conceallevel` because vimwiki's one is just an autocommand that set it on buffer open ?

From `:h conceallevel`:
[code]
That is why I am surprised.

[2020-05-12 02:32] tinmarino commented on #875
Well, This is a very hard issue. Apparently a vimwiki bug linked to automating.
Sorry to tell you that it may not be solved soon. At least I don't know how to fix it.

[2020-05-12 02:53] tinmarino commented on #844
Hi @chinwobble. Thanks for the issue.
After a look at the code that this feature (the new line) is deeply hard-coded in :
[code]

So we will __not change that code nor add an option__ to customize this: it would change too much.

But __you can customize:__
I advise you to add the following to your __vimrc:__

[code]
And then use your custom command `ChinTOC`.

PS : I am closing the issue to help d

[2020-05-12 02:53] #844 closed

[2020-05-12 11:26] davy79 commented on #874
Hi thanks for the great pointer!

When I `:set concealcursor=nc` it works as expected... showing all markup in insert/visual mode; but hiding it in normal mode. which is what I desire.

also `set conceallevel` seems to work now...

I wasn't aware these were vim options instead of vimWiki options.

Now just one more thing...
I can't seem to manage to make these settings permanent?

adding `set conc

[2020-05-12 14:33] tinmarino commented on #874
Keep trying methodically.
Then you'll discover some magic. Note it in a vimwiki file for vim's magic.
Note each time your conceal level before and after changing buffer.

from `:h g:vimwiki_conceallevel`:

[code]

[2020-05-12 15:49] tinmarino commented on #849
**Fixed:** d94b966c4626c6

__Short:__
[code]

__Long:__

Pressing `<Cr>` (i.e. Enter) is calling the following code):

1. vimwiki#base#follow_link('nosplit', 0, 1)
2. function! vimwiki#base#normalize_link(is_visual_mode)
3. function! s:normalize_link_syntax_n() abort
4. function! vimwiki#base#normalize_link_helper(str, rxUrl, rxDesc, template) abort
5. let descr = s:clean_url(url)
6. `let url_l =

[2020-05-12 15:49] #849 closed

[2020-05-12 15:57] tinmarino commented on #140
It depends ... sometime, you only want to get a glimpse.

1. I like the hook style, feel free to make a PR.
2. If too lazy for the hook (20 lines). Just add some `z<Enter>` map with a comment `TODO get this as a hook to <Enter>`

[2020-05-12 15:59] tinmarino commented on #230
Should be fixed now. Reopen otherwise.

[2020-05-12 15:59] #230 closed

[2020-05-12 16:58] lervag commented on #140
Thanks @tinmarino; I'm happy to see the activity on vimwiki. It's an important and very useful project!

However, as you can see, the issue is 5 years old. In the meantime, I've made [my own wiki plugin](https://github.com/lervag/wiki.vim), and so I'm personally no longer interested in this issue. Thus, I won't suggest any PR's. I don't mind if the issue is closed, but of course, if you think the

[2020-05-12 19:24] davy79 commented on #874
mystery solved...

I had another plugin (https://github.com/Yggdroot/indentLine) which was re-configuring the conceal options...

Thanks for the tips and pointing me in the right direction!
Now I can enjoy vimWiki even more as it was quite annoying editing links etc. while the markup was concealed ;-)

[2020-05-12 19:24] #874 closed

[2020-05-13 01:41] BSDxxxx commented on #849
@tinmarino Thanks for your effort, looking forward to your merge.

[2020-05-13 13:28] tinmarino commented on #849
@BSDxxxx : it is already in the dev branch.
git fetch
git checkout origin dev

[2020-05-13 15:46] tinmarino commented on #861
Need vimwiki account credential (not only this repo) => @Nudin
Follow [these](https://docs.travis-ci.com/user/tutorial/#to-get-started-with-travis-ci-using-github) 3 steps 3 minutes (can be done on smartphone).
You may need to make set your [membership public](https://help.github.com/en/github/setting-up-and-managing-your-github-user-account/publicizing-or-hiding-organization-membership) as advise

[2020-05-14 01:19] ChenWeird opened #881 "E65 Error"
## my  `.vimrc` and have updated
    Plug 'vimwiki/vimwiki', { 'branch': 'dev' }
    let wiki = {}
    let wiki.name = 'ChenWei VimwikiMd'
    let wiki.path = 'd:/WeirdData/VimwikiMd/'
    let wiki.ext = '.md'
    let wiki.syntax = 'markdown'
    let wiki.nested_syntaxes = {'python': 'python'}
    let wiki.links_space_char = '_'
    let wiki.list_margin = 0
    let wiki.auto_toc = 1
    let wiki.a

[2020-05-14 01:35] ChenWeird commented on #881
When I rename the wikipage "2020年中战略会准备" to "年中战略会准备2020", it is back to normal.

[2020-05-14 01:51] tinmarino commented on #881
Hi, must be related to #849 or #879. Sorry I cannot reproduce it. My commits may be guilties ...

1. Does it happen on master branch ?
2. What is the output of `:echo vimwiki#base#is_diary_file(@%)` ?
3. Can you debug the function `is_diary_file` in `base.vim` ?

[2020-05-14 01:55] tinmarino commented on #881
To debug:
1. `:breakadd func  vimwiki#base#is_diary_file`
2. Do what fails
3. In the debug section:
[code]

Ah and what is your vim version ? 8.2 ? 8.1 ? Neovim ? I already saw you are on windows.

Thanks

[2020-05-14 02:03] ChenWeird commented on #881
# version

VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Dec 29 2019 23:21:03)
MS-Windows 64-bit GUI version 带 OLE 支持
包含补丁: 1-57
编译者 appveyor@APPVYR-WIN
巨型版本 带图形界面。  可使用(+)与不可使用(-)的功能:
+acl                +comments           +file_in_path       +listcmds           +persistent_undo    +statusline         +vartabs
+arabic             +conceal            +find_in_path       +localmap           +popupw

[2020-05-14 02:04] tinmarino commented on #871
@napcs gave the answer which is the "canonical fix":
[code]
It is not a bug => won't be fixed: If the `g:vimwiki_syntax = 'markdown'` (in author vimrc) and `let g:vimwiki_global_ext = 1` (default), a temporary wiki is created and the file is treated as a vimwiki file which is helpful for some edition auto command map, commands. I use it for table edition. more in `:h vimwiki_global_ext`.

Thanks @

[2020-05-14 02:04] #871 closed

[2020-05-14 02:05] ChenWeird commented on #881
# `:echo vimwiki#base#is_diary_file(@%)`
0

[2020-05-14 02:12] ChenWeird commented on #881
## debug

简体中文消息维护者: Yuheng Xie <elephant@linux.net.cn>
"d:\WeirdData\VimwikiMd\index.md" [unix] 65L, 1675C
"D:\WeirdData\VimwikiMd\GTD.md" [unix] 55L, 1851C
断点 "vimwiki#base#is_diary_file" 第 1 行
进入调试模式。输入 "cont" 继续运行。
function vimwiki#base#normalize_link[3]..vimwiki#markdown_base#normalize_link[8]..<SNR>64_normalize_link_syntax_v[12]..vimwiki#base#is_diary_file
第 1 行: let l:diary_file_paths = a:0

[2020-05-14 02:13] tinmarino commented on #881
[code]
Was it on the buggy file ("2020年中战略会准备")? I was expecting an error ...
Try to keep the errored file for some testing: you are belonging to vimwiki's tester already if you accept it ;-)

[2020-05-14 02:15] ChenWeird commented on #881
### YES

[2020-05-14 02:21] ChenWeird commented on #881
## redebug on the buggy file ("2020年中战略会准备")

简体中文消息维护者: Yuheng Xie <elephant@linux.net.cn>
"d:\WeirdData\VimwikiMd\index.md" [unix] 65L, 1675C
"D:\WeirdData\VimwikiMd\GTD.md" [unix] 55L, 1886C
"D:\WeirdData\VimwikiMd\2020年中战略会准备.md" [unix] 6L, 154C
断点 "vimwiki#base#is_diary_file" 第 1 行
进入调试模式。输入 "cont" 继续运行。
function vimwiki#base#follow_link[89]..vimwiki#base#normalize_link[3]..vimwiki#markdown_b

[2020-05-14 02:26] ChenWeird commented on #881
sorry, there are more setting in my .vimrc about vimwiki.

## This is the whole list:

    Plug 'vimwiki/vimwiki', { 'branch': 'dev' }
    let wiki = {}
    let wiki.name = 'ChenWei VimwikiMd'
    let wiki.path = 'd:/WeirdData/VimwikiMd/'
    let wiki.ext = '.md'
    let wiki.syntax = 'markdown'
    let wiki.nested_syntaxes = {'python': 'python'}
    let wiki.links_space_char = '_'
    let wiki.li

[2020-05-14 02:37] ChenWeird commented on #881
I reinstall vimwiki from `Plug 'vimwiki/vimwiki', { 'branch': 'dev' }` to `Plug 'vimwiki/vimwiki'`.

 it is back to normal.

[2020-05-14 02:41] tinmarino commented on #881
Cool ! Good idea from you

Thanks for the debugging section.
I have no idea what happened it seemed that `diary_file_paths` was undefined but no idea why as it was just defined. `E121: 未定义的变量: :diary_file_paths`. I wondered what the output of `echo l:diary_file_paths` just after defining it.

[2020-05-14 02:51] tinmarino commented on #860
Can you add:

1. An example screenshot
2. A typical use

I don't understand what is your idea. Are you kindly saying that `<C-X>O` is broken ?

I don't think so. The design is very old. Vimwiki seems to evolve with mutations.

[2020-05-14 03:05] tinmarino commented on #868
Hahaha, I get it you don't get it (neither do I).

1. Your filetype is `vimwiki` isn't it ?
In which case Ultisnip should not load `markdown`. Seems fair.
But you want __ultisnip__ (1) to load __markdown snippets__ (2)  if `ft` is `vimwiki` (3)

So you write in `.vim/ftplugin/vimwiki.vim` (3) the following:
[code]

[2020-05-14 03:17] tinmarino commented on #867
The menu should be created on buffer enter.
I suspect you enter the buffer the `packadd vimwiki` then leave it. or no ?
A quick workaround would be to add
[code]
on buffer enter as done in `plugin.vimwiki.vim`:
[code]

[2020-05-14 03:31] tinmarino commented on #852
I think you only want to change `g:vimwiki_map_prefix`:
* `:h g:vimwiki_map_prefix`
* `:let g:vimwiki_map_prefix = ,k`

But if you want to take the long path of customization (Which I don't recommend):

* `+` is defined in links `h` in html. All in `ftplugin/vimwiki.vim`

[code]

* `<leader>ww` in global in `plugin/vimwiki.vim`:

[code]

PS: Feel free to comment/reopen issue